dialog {
	color: var(--color-text);
	background-color: var(--color-dialog);
	border: 1px solid var(--color-dialog-border);
	border-radius: 8px;
	backdrop-filter: blur(4em);
	-webkit-backdrop-filter: blur(4em);
	box-shadow: 0px 0px 15px #0004;

	hr {
		border-color: var(--color-dialog-border);
	}

	button {
		border-radius: 6px;
		border: 3px solid transparent;
		background-color: transparent;
		text-align: initial;
		padding: 2px 12px;
		color: var(--color-text);
		outline: none;
		cursor: pointer;

		&:disabled {
			opacity: 0.3;
			cursor: default;
			background-color: transparent;

			&:hover {
				color: inherit;
				background-color: inherit;
			}
		}

		&:focus-visible,
		&:hover {
			color: white;
			background-color: #2c7be5;

			&.btn-red {
				color: white;
				background-color: #e64b43;
			}
		}
	}

	input {
		color: var(--color-text);
		width: 100%;
		height: 2.3em;
		padding: 0 1em;
		border: none;
		border-radius: 8px;
		box-sizing: border-box;
		background-color: transparent;
		transition: background-color 0.1s, opacity 0.1s;

		&::placeholder {
			color: var(--color-dialog-input-text);
		}

		&:focus {
			opacity: 1;
			color: var(--color-text);
			background-color: var(--color-dialog-input-bg);
			outline: 3px solid #007aff66;
			transition: background-color 0.1s;
		}
	}
}
