/*
 * Opacity transition here is weird because wrapper needs to appear fast
 * For backdrop-filter to be fully rendered before children fade in
 */

#popup {
	display: flex;
	position: fixed;
	box-sizing: border-box;
	font-size: 15px;
	bottom: 4vw;
	left: 4vw;
	gap: 0.6em;
	opacity: 0;
	z-index: 2;
	transition: opacity 0.2s;
}

#popup.shown,
#popup.shown #popup_text,
#popup.shown #popup_buttons a {
	opacity: 1;
}

#popup_text,
#popup_buttons a {
	border-radius: 8px;
	opacity: 0;
	cursor: pointer;
	backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em);
	transition: opacity 2s, background-color 0.1s, color 0.1s;
}

#popup_buttons {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	min-width: 9em;
	gap: 0.6em;
}

#popup_buttons a {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	background-color: #fff2;
	border: 1px solid #fff1;
}

#popup_buttons a:hover {
	background-color: #fff4;
}

#popup_buttons a:active {
	opacity: 0.8;
}

#popup_text {
	display: flex;
	position: relative;
	align-items: center;
	text-align: initial;
	column-gap: 1em;
	padding: 1em;
	overflow: hidden;
	background-color: #fff2;
	border: 1px solid #fff1;
}

#popup_icon {
	transition: opacity 0.1s;
}

#popup_desc {
	line-height: 1.4em;
	transition: color 0.1s;
}

#popup_close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	opacity: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	font-size: 1.6em;
	font-weight: bolder;
	transition: opacity 0.1s, background-color 0.1s;
}

#popup_close:hover {
	opacity: 1;
	background-color: #2222;
}

#popup_close:active {
	background-color: #2224;
}

#popup_close:hover ~ #popup_desc {
	color: transparent;
}

#popup_close:hover ~ #popup_icon {
	opacity: 0;
}

/*
 *	Review
 */

#popup.review #popup_release,
#popup.review #popup_icon {
	display: none;
}

#popup.review #popup_desc {
	width: 16em;
}

/*
 *	Announcements
 */

#popup.announce {
	flex-direction: column;
}

#popup.announce #popup_desc {
	width: 18em;
}

#popup.announce #popup_review,
#popup.announce #popup_donate {
	display: none;
}

#popup.announce #popup_buttons a {
	min-height: 3em;
}

/*
 *	Announce 20
 */

#popup_icon {
	display: none;
	position: relative;
	width: 4em;
	height: 4em;
	padding: 0.5em;
	border-radius: 0.5em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background: linear-gradient(135deg, rgb(195, 174, 34) 0%, rgb(253, 114, 45) 100%);
}

#popup_icon > div {
	margin-bottom: 2px;
	padding: 5px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #fff2;
	background-color: #fff4;
	box-sizing: border-box;
}

#popup_icon > div:nth-child(3) {
	width: 30%;
	padding: 2px;
	margin-bottom: 6px;
}

#popup_icon > div:nth-child(5) {
	width: 40%;
	padding: 2px;
}

#popup_icon p {
	position: absolute;
	display: block;
	top: 0.5em;
	left: 0.5em;
	width: 3em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	font-weight: bold;
}

#popup_icon span {
	font-size: 2.4em;
}

@supports (-moz-appearance: none) {
	#popup_icon > div {
		backdrop-filter: none;
	}
}

/* Resposive */

@media screen and (max-width: 600px) {
	body #popup {
		width: 70%;
		max-width: 28em;
		left: unset;
		right: unset;
		padding-inline: 4vw;
		flex-direction: column;
		font-size: 12px;
	}

	body #popup.review #popup_desc {
		width: 100%;
	}

	body #popup_buttons {
		flex-direction: row;
		height: 2.5em;
	}

	body #popup_buttons a {
		width: 100%;
	}
}
