/* SUPERINPUT */

.superinput {
	display: flex;
	align-items: center;
	width: 155px;

	input[type='text'] {
		width: 100%;
	}

	.si-status {
		max-width: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		text-align: center;
		transition: max-width 0.2s, opacity 0.1s 0.1s, color 0s;
	}

	&.active .si-status {
		opacity: 1;
		max-width: 20px;
		padding-left: 6px;
		padding-right: 3px;
	}

	&.active .si-status i {
		width: 20px;
	}

	&.load .si-status {
		color: var(--color-light-text);
	}

	&.warn .si-status {
		width: 25px;
		padding-right: 1px;
		color: orange;
		cursor: help;
	}

	&.active.warn .si-status {
		padding-left: 5px;
	}
}

.gg-spinner {
	transform: scale(0.8);
}
.gg-spinner,
.gg-spinner::after,
.gg-spinner::before {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
}
.gg-spinner::after,
.gg-spinner::before {
	content: '';
	position: absolute;
	border-radius: 100px;
}
.gg-spinner::before {
	animation: spinner 0.6s linear infinite;
	border: 3px solid transparent;
	border-top-color: var(--color-blue);
}
.gg-spinner::after {
	border: 3px solid;
	opacity: 0.2;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.gg-danger {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(0.8);
	width: 25px;
	height: 20px;
	border: 2px solid;
	border-radius: 40px;
}
.gg-danger::after,
.gg-danger::before {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
	border-radius: 3px;
	width: 2px;
	background: currentColor;
	left: 7px;
}
.gg-danger::after {
	top: 2px;
	height: 8px;
}
.gg-danger::before {
	height: 2px;
	bottom: 2px;
}
