.DS_Store
.directory
.vscode
.zed
.idea
.prettierignore
.wrangler
config.codekit3
manifest.json

.env
.env.json
env.json

node_modules/
release/
archives/
test-results/
playwright-report
playwright/.cache

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
