@mixin darkCss {
	--blue: #2990ff;

	::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 10px 10px #39383d;
	}

	#interface {
		color: #eee;
	}

	#bookmarks,
	#editlink {
		border-color: #fff4;
		@include frostedGlass($blur: 25px, $tint: 0, $alpha: 0.6, $fbTint: 32, $fbAlpha: 1);
	}

	#editlink {
		input {
			color: #fff9;

			&::placeholder {
				color: #fff9;
			}

			&:focus {
				color: #eee;
				background-color: #0003;
			}
		}

		hr {
			border-color: #fff4;
		}

		button {
			color: #eee;
		}
	}

	#bookmarks {
		h3,
		ol li {
			color: #fffd;
		}

		ol li.selected {
			color: white;
			background-color: #fff2;
			border-color: #fff1;
		}
	}

	#showSettings.shown button {
		background-color: #fff3;
		&:hover {
			background-color: #fff5;
		}
	}

	#settings {
		background-color: black;

		select,
		.switch:not(:checked) {
			background-color: #39383d;
		}

		.switch:not(:checked):hover {
			background-color: #2c2c2f;
		}

		input[type='range']::-webkit-slider-thumb {
			box-shadow: none;
		}

		#changelogContainer {
			#changelog {
				background-color: #1c1c1e;
				color: #fff;
			}

			#log_dismiss {
				background-color: #3f3f41;

				img {
					filter: invert(1);
				}

				&:hover {
					background-color: #929294;
				}
			}
		}

		.tooltip {
			border-color: #39383d;
			background-color: #39383d;
		}

		.tooltip,
		.titleContainer,
		.tooltiptext {
			color: #999;
		}

		// Background custom

		.uploadContainer {
			background-color: #39383d;
			color: white;
		}

		.uploadContainer.dragover,
		.uploadContainer:hover {
			border: 1px dashed #ccc;
			background: #2a2a2b;
		}

		.uploadContainer:active,
		.uploadContainer:active {
			border: 1px dashed #aaa;
			background: #2f2f30;
		}

		#bg_tn_wrap,
		#hideelem {
			button {
				color: white;
				background-color: #39383d;

				&:hover {
					background-color: #2f2f30;
				}

				&.clicked {
					color: #ccc;
					background-color: transparent;
				}
			}
		}

		#hideelem button,
		#bg_tn_wrap .thumbnail button {
			color: white;
		}
		#bg_tn_wrap::-webkit-scrollbar-track {
			background: #39383d;
		}
		#bg_tn_wrap::-webkit-scrollbar-thumb {
			background: #666;
		}

		#i_refresh,
		#i_qtrefresh,
		select {
			color: white;
			background-color: #39383d;
		}

		h2 {
			color: #929294;
		}

		.param {
			background-color: #1c1c1e;
			color: white;
		}

		hr {
			border-bottom: 1px solid #3f3f41;
		}

		input[type='text'],
		input[type='url'] {
			background-color: #39383d;
			color: white;

			&:focus {
				background-color: #2c2c2f;
				color: white;

				::placeholder {
					color: #ddd;
					transition: color 0.2s;
				}
			}
		}

		#cssEditor {
			color: white;
			background-color: #1c1c1e;
		}

		#importexport .param {
			#export #area_export {
				background-color: #39383d;
				color: white;

				&::-webkit-resizer {
					background: #39383d;
				}
			}

			#import #i_importtext {
				background-color: #39383d;
				&:focus {
					background-color: #2c2c2f;
				}
			}

			.tabs {
				background-color: #39383d;

				button#s_import:hover,
				button#s_export:hover {
					background-color: transparent;
				}
			}

			&.visibleImport {
				.tabs {
					#s_settingsexport {
						color: white;

						&:hover {
							background-color: #2a2a2b;
						}
					}

					#s_settingsimport {
						color: white;

						&:hover {
							background-color: unset;
						}
					}
				}
			}
		}

		.signature {
			color: #929294;
		}

		::placeholder {
			color: #929294;
		}

		::-moz-range-thumb {
			box-shadow: none;
		}
	}
}

// dark mode
body.dark {
	@include darkCss();
}

body.autodark {
	@media (prefers-color-scheme: dark) {
		@include darkCss();
	}
}
