:root {
	--app-height: 100vh;
	--notes-width: 50em;
	--page-width: 1600px;
	--page-gap: 1em;
	--links-width: auto;
	--background-blur: 15px;
	--background-brightness: 0.8;
	--load-time-transition: 0ms;
	--average-color: black;
	--text-shadow-alpha: 0.2;
	--notes-background-alpha: 0.1;
	--searchbar-background-alpha: 0.1;
	--font-family: -apple-system, system-ui, Ubuntu, Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue';
	--font-weight-clock: 200;
	--font-weight: 400;
	--font-size: 1em;
	--clock-size: 6em;
	--red: 254, 59, 49;
	--color-red: rgb(var(--red));
	--color-green: #2ed058;
	--out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
}

[data-theme='light'] {
	--blue: 41, 144, 255;
	--color-blue: rgb(var(--blue));
	--color-text: #222222;
	--color-param: #ffffff;
	--color-settings: #f2f2f7;
	--color-areas: #f2f2f7;
	--color-areas-text: var(--color-blue);
	--color-input: #eaeaee;
	--color-input-outside: #e3e3ea;
	--color-focused: #dadade;
	--color-border: #c8c7cc;
	--color-placeholder: #7c7d7e;
	--color-light-text: #5a5858;
	--color-dialog: #fffb;
	--color-dialog-border: #3334;
	--color-dialog-highlight: #fff4;
	--color-dialog-input-text: #716f6d;
	--color-dialog-input-bg: rgba(106, 104, 111, 0.12);
}

[data-theme='dark'] {
	--blue: 41, 144, 255;
	--color-blue: rgb(var(--blue));
	--color-text: #eeeeee;
	--color-light-text: #929294;
	--color-param: #1c1c1e;
	--color-settings: #000000;
	--color-input: #39383d;
	--color-input-outside: #39383d;
	--color-border: var(--color-input);
	--color-areas: var(--color-input);
	--color-areas-text: var(--color-text);
	--color-placeholder: #a4a5a6;
	--color-focused: #2c2c2f;
	--color-dialog: #191919aa;
	--color-dialog-border: #fff4;
	--color-dialog-highlight: #fff2;
	--color-dialog-input-text: #a4a7a8;
	--color-dialog-input-bg: rgba(110, 107, 114, 0.25);
}

[data-platform='safari'] .not-safari,
[data-platform='online'] .not-online {
	display: none;
}

#interface,
input[type='range'],
input[type='checkbox'] {
	color-scheme: only light;
}

body {
	margin: 0;
	opacity: 1;
	color: white;
	font-size: 1em;
	font-family: -apple-system, system-ui, Ubuntu, Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue';
	text-align: center;
	overflow-x: hidden;
	overflow-y: overlay;
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
	background-color: var(--average-color);
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body p,
body h3 {
	margin: 0;
}

body hr {
	border: none;
	border-bottom: 1px solid var(--color-border);
	margin: 10px auto;
	display: block;
}

body li {
	list-style: none;
}

body button,
body select {
	cursor: pointer;
}

body a,
body input,
body textarea,
body select,
body button {
	border: none;
	outline: none;
	font-family: inherit;
	box-sizing: border-box;
}

body.tabbing a:focus,
body.tabbing input:focus,
body.tabbing textarea:focus,
body.tabbing .pce-focus,
body.tabbing select:focus,
body.tabbing button:focus,
body.tabbing button:focus,
body.tabbing #bookmarks li:focus-visible,
body.tabbing #link-title div:focus-visible,
body.tabbing #linkblocks li.block a:focus-visible,
body.tabbing #linkblocks li.block.folder:focus-visible,
body.tabbing #linkblocks.text a:focus-visible span,
body.tabbing #notes_toolbar:focus-visible,
body.tabbing input:focus-visible + .slider {
	outline: 2px solid var(--color-blue);
}

body.tabbing button.btn-red:focus-visible {
	outline: 2px solid var(--color-red);
}

body.loading > * {
	opacity: 0;
}

body.init #interface,
body.init #show-settings,
body.init #credit-container,
body.init #skiptosettings {
	transition: opacity var(--load-time-transition);
}

body.init #show-settings button {
	transition: background-color 0s;
}

body.potato #bookmarks,
body.potato #bookmarks::backdrop,
body.potato #element-mover,
body.potato .move-overlay {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
	transition: none;
}

body.potato #linkblocks.in-folder #link-list {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
}

body.potato #bookmarks::backdrop {
	background-color: rgba(34, 34, 34, 0.5333333333);
}

body.potato #editlink,
body.potato #bookmarks,
body.potato #element-mover {
	background-color: var(--color-param);
}

body .he_hidden,
body #tempContainer.he_hidden {
	display: none;
}

button,
select,
option,
input {
	user-select: none;
	font-size: 13px;
}

dialog a,
aside a {
	color: var(--color-blue);
	border-radius: 4px;
	text-decoration: none;
}

dialog a:hover,
aside a:hover {
	text-decoration: underline;
}

/* Chromium scrollbar */

body::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px transparent;
	border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--color-border);
	border: solid 3px transparent;
	border-radius: 10px;
}
