//
//

$fonts: -apple-system, system-ui, Ubuntu, Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue';
$code: 'SF Mono', 'Consolas', 'Courier New', Courier, monospace;
$inputHeight: 2.35em;
$settingsMargin: 0.65em;
$thumbShadow: 0px 1px 3px 2px rgba(20, 20, 20, 0.12);
$textShadow: 0 1px 5px rgba(0, 0, 0, 0.2);
$easeOutThree: cubic-bezier(0.215, 0.61, 0.355, 1);

@mixin light-theme {
	--color-blue: #0072ee;
	--color-text: #222222;
	--color-param: #ffffff;
	--color-settings: #f2f2f7;
	--color-areas: #f2f2f7;
	--color-areas-text: var(--color-blue);
	--color-input: #eaeaee;
	--color-focused: #dadade;
	--color-border: #c8c7cc;
	--color-placeholder: #7c7d7e;
	--color-light-text: #5a5858;
	--color-dialog: #fffb;
	--color-dialog-border: #3334;
	--color-dialog-highlight: #fff4;
	--color-dialog-input-text: #716f6d;

	@supports not (backdrop-filter: none) {
		--color-dialog: #f2f2f7ee;
	}
}

@mixin dark-theme {
	--color-blue: #2990ff;
	--color-text: #eeeeee;
	--color-light-text: #929294;
	--color-param: #1c1c1e;
	--color-settings: #000000;
	--color-input: #39383d;
	--color-border: var(--color-input);
	--color-areas: var(--color-input);
	--color-areas-text: var(--color-text);
	--color-placeholder: var(--color-light-text);
	--color-focused: #2c2c2f;
	--color-dialog: #000a;
	--color-dialog-border: #fff4;
	--color-dialog-highlight: #fff2;
	--color-dialog-input-text: #a4a7a8;

	@supports not (backdrop-filter: none) {
		--color-dialog: #1c1c1cee;
	}
}

:root {
	--app-height: 100vh;
	--notes-width: 50em;
	--page-width: 1600px;
	--page-gap: 1em;
	--background-blur: 15px;
	--background-brightness: 0.8;
	--load-time-transition: 0ms;
	--average-color: black;
	--text-shadow-alpha: 0.2;
	--notes-background-alpha: 0.1;
	--searchbar-background-alpha: 0.1;
	--font-family: -apple-system, system-ui, Ubuntu, Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue';
	--font-weight-clock: 200;
	--font-weight: 400;
	--font-size: 1em;
	--color-red: #fe3b31;
	--color-green: #2ed058;

	&[data-theme='light'] {
		@include light-theme();
	}

	&[data-theme='dark'] {
		@include dark-theme();
	}

	@media (prefers-color-scheme: dark) {
		@include dark-theme();
	}

	@media (prefers-color-scheme: light) {
		@include light-theme();
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px transparent;
	border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px var(--color-border);
	border: solid 3px transparent;
	border-radius: 10px;
}

html {
	height: -webkit-fill-available;
}

body {
	margin: 0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	touch-action: pan-y;
	opacity: 1;
	color: white;
	background-color: var(--average-color);
	font-size: 1em;
	font-family: $fonts;
	min-height: var(--app-height);
	min-height: -webkit-fill-available;
	text-align: center;
	overflow-x: hidden;
	overflow-y: overlay;
	touch-action: manipulation;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

	p,
	h3 {
		margin: 0;
	}

	hr {
		border: none;
		border-bottom: 1px solid var(--color-border);
		margin: $settingsMargin 0;
		display: block;
	}

	li {
		list-style: none;
	}

	button,
	select {
		cursor: pointer;
	}

	a,
	input,
	textarea,
	select,
	button {
		outline: none;
		font-family: inherit;
	}

	&.tabbing {
		a:focus,
		input:focus,
		textarea:focus,
		select:focus,
		button:focus,
		button:focus,
		#bookmarks li:focus-visible,
		#linkblocks.text a:focus-visible span,
		#notes_toolbar:focus-visible,
		input:focus-visible + .slider {
			outline: 2px solid var(--color-blue);
		}
	}

	&.loading {
		#interface,
		#showSettings,
		#creditContainer,
		#skiptosettings {
			opacity: 0;
		}
	}

	&.init {
		#interface,
		#showSettings,
		#creditContainer,
		#skiptosettings {
			transition: opacity var(--load-time-transition);
		}

		#showSettings button {
			transition: background-color 0s;
		}
	}

	.he_hidden,
	#interface #main #weather #tempContainer.he_hidden {
		display: none;
	}
}

@mixin allCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin frostedGlass($blur: 10px) {
	backdrop-filter: blur($blur);

	@supports not (backdrop-filter: none) {
		-webkit-backdrop-filter: blur($blur);
	}
}

@mixin allSettings {
	&.all {
		.as {
			overflow-y: clip;
		}
		.as_visuals {
			max-height: 420px;
		}
		.as_pageelem {
			max-height: 370px;
		}
		.as_link {
			max-height: 120px;
		}
		.as_collection {
			max-height: 130px;
		}
		.as_timedate {
			max-height: 300px;
		}
		.as_searchbar {
			max-height: 160px;
		}
		.as_weather {
			max-height: 300px;
		}
		.as_fonts {
			max-height: 300px;
		}
		.as_page {
			max-height: 300px;
		}
		.as_css {
			max-height: 3100px;
			padding-top: 4px;
		}
		.as_quote_type {
			max-height: 210px;
		}
		.as_notes {
			max-height: 160px;
		}
	}

	.as {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.4s, padding 0.2s;
	}

	&.init .as {
		transition: max-height 0s;
	}
}

@mixin settingsBase {
	//
	// Dark mode transition
	// #settings and buttons have seperate transitions
	#hideelem button,
	.uploadContainer,
	#submitSave,
	#i_refresh,
	#cssEditor,
	.tooltip,
	.param,
	select,
	input,
	hr {
		transition-duration: 0.4s;
		transition-timing-function: $easeOutThree;
		transition-property: background-color, color, border, border-color, transform;
	}

	button {
		color: var(--color-blue);
		font-size: 14px;
		border-radius: 8.5px;
		border: 2px solid transparent;
		background-color: transparent;
	}

	select,
	input[type='text'],
	input[type='url'],
	#i_export,
	#i_refresh,
	#i_qtrefresh {
		height: $inputHeight;
		color: var(--color-text);
		font-size: 13px;
		padding-left: 10px;
		border-radius: 8.5px;
		box-sizing: border-box;
		border: 2px solid transparent;
		background-color: var(--color-input);
		-webkit-appearance: none;
	}

	input[type='text'],
	input[type='range'],
	select {
		width: 155px;
	}

	input[type='text']:focus,
	input[type='url']:focus {
		background-color: var(--color-focused);
	}

	input::placeholder {
		color: var(--color-placeholder);
		opacity: 1;
	}

	input[type='checkbox'] {
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
	}

	label {
		pointer-events: none;
	}

	.switch {
		position: relative;
		display: inline-block;
		height: 31px;
		width: 51px;
		margin: 0;
		border-radius: 16px;
		border: 2px solid transparent;
		background-color: var(--color-input);

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:hover {
			background-color: var(--color-focused);
			transition: background-color 0.15s;
		}

		&:after {
			content: '';
			position: absolute;
			height: 27px;
			width: 27px;
			top: 0px;
			left: 0px;
			border-radius: 50%;
			box-shadow: $thumbShadow;
			background-color: white;
			transition: background-color 0.3s, transform 0.3s;
		}

		&:checked {
			background-color: var(--color-green);
			transition: background-color 0.15s;

			&:hover {
				background-color: #40b354;
			}

			&:after {
				transform: translateX(20px);
			}
		}
	}

	input[type='range'] {
		position: relative;
		height: 2px;
		opacity: 1;
		margin: 0;
		cursor: grab;
		border-radius: 1.5rem;
		background-color: #c8c7cc;
		-webkit-appearance: none;

		&:active {
			cursor: grabbing;
		}

		/* Firefox */
		&::-moz-range-track {
			height: 2px;
			border-radius: 50px;
			background: #c8c7cc;
		}

		&::-moz-range-progress {
			height: 2px;
			background-color: #c8c7cc;
		}

		&::-moz-range-thumb {
			background: #fff;
			height: 20px;
			width: 20px;
			border-radius: 50px;
			border: 0;
			box-shadow: $thumbShadow;
		}
	}

	/* Chrome, Opera & Safari */
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: #fff;
		height: 20px;
		width: 20px;
		border: 0;
		border-radius: 50px;
		box-shadow: $thumbShadow;
	}

	input[type='range']::-ms-thumb {
		margin: 0; /* Resets margin in Edge since it supports -webkit-slider-thumb as well */
	}

	/*Edge*/
	&::-ms-fill-lower {
		background: dodgerblue;
	}

	&::-ms-thumb {
		background: #fff;
		border: 2px solid #999;
		height: 40px;
		width: 20px;
		box-sizing: border-box;
	}

	&::-ms-ticks-after {
		display: none;
	}

	&::-ms-ticks-before {
		display: none;
	}

	&::-ms-track {
		background: #ddd;
		color: transparent;
		height: 40px;
		border: none;
	}

	&::-ms-tooltip {
		display: none;
	}
}
