//
//

$fonts: -apple-system, system-ui, Ubuntu, Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue';
$code: 'SF Mono', 'Consolas', 'Courier New', Courier, monospace;

$purewhite: white;
$pureblack: black;

$green: #2ed058;
$red: #fe3b31;
$settingsGrey: #f2f2f7;
$inputGrey: #eaeaee;
$focusedGrey: #dadade;
$borderGrey: #c8c7cc;
$placeholderGrey: #7c7d7e;
$greyish: #3a3a3a;
$blackish: #222;

$inputHeight: 2.35em;
$settingsMargin: 0.65em;

$thumbShadow: 0px 1px 3px 2px rgba(20, 20, 20, 0.12);

$textShadow: 0 1px 5px rgba(0, 0, 0, 0.2);
$easeOutThree: cubic-bezier(0.215, 0.61, 0.355, 1);

:root {
	--app-height: 100vh;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px transparent;
	border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px $borderGrey;
	border: solid 3px transparent;
	border-radius: 10px;
}

body {
	margin: 0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	touch-action: pan-y;
	opacity: 1;
	background-color: $pureblack;
	color: $purewhite;
	font-family: $fonts;
	font-size: 1em;
	min-height: var(--app-height);
	text-align: center;
	overflow-x: hidden;
	overflow-y: clip;
	touch-action: manipulation;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

	--blue: #0072ee;

	p,
	h3 {
		margin: 0;
	}

	hr {
		border: none;
		border-bottom: 1px solid $borderGrey;
		margin: $settingsMargin 0;
		display: block;
	}

	li {
		list-style: none;
	}

	button,
	select {
		cursor: pointer;
	}

	a,
	input,
	textarea,
	select,
	button {
		outline: none;
		font-family: inherit;
	}

	&.tabbing {
		a:focus,
		input:focus,
		textarea:focus,
		select:focus,
		button:focus,
		button:focus,
		#bookmarks li:focus-visible,
		#linkblocks.text a:focus-visible span,
		input:focus-visible + .slider {
			outline: 2px solid var(--blue);
		}
	}
}

@mixin hidden {
	&.hidden {
		display: none;
		cursor: default;
		opacity: 0;
		transition: opacity 0.1s;
	}
}

@mixin allCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin frostedGlass($tint: 255, $alpha: 0.4, $blur: 10px, $fbTint: 251, $fbAlpha: 0.8, $fbColor: #222) {
	@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
		backdrop-filter: blur($blur);
		-webkit-backdrop-filter: blur($blur);
		background: rgba($tint, $tint, $tint, $alpha);
	}

	// fb: fallback
	@supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
		background: rgba($fbTint, $fbTint, $fbTint, $fbAlpha);
		color: $fbColor;
	}

	// @-moz-document url-prefix() {
	// 	background: rgba($fbTint, $fbTint, $fbTint, $fbAlpha);
	// 	color: $fbColor;
	// }
}

@mixin hideElements {
	#interface {
		//
		&.init {
			#main,
			#linkblocks,
			#sb_container,
			#searchbar,
			#time,
			#time-container,
			#date,
			#description,
			#greetings,
			#main #weather #tempContainer,
			#main #weather #forecast,
			#main #weather #current,
			#quotes_container.shown,
			#quotes_container.shown #quote,
			#quotes_container.shown #author {
				transition: none;
			}
		}

		#main,
		#time {
			flex-grow: 1;
			transition: opacity 0.4s, flex-grow 0.4s, min-height 0.4s;
			// will-change: transform, flex-grow;

			// Parent blocks shrinks & hide
			&.he_hidden {
				flex-grow: 0 !important;
				opacity: 0;
				min-height: 0px;
			}
		}

		#time-container,
		#date,
		#description,
		#greetings,
		#tempContainer {
			transition: opacity 0.4s, max-height 0.4s, transform 0.4s;
			opacity: 1;
			max-height: 11em;

			&.he_hidden {
				opacity: 0;
				max-height: 0em;
				transform: scale(0);
			}
		}
	}
}

@mixin allSettings {
	&.all {
		.as {
			overflow-y: clip;
		}

		.as_link {
			max-height: 120px;
			padding-bottom: 3px;
		}
		.as_collection {
			max-height: 130px;
		}
		.as_visuals {
			max-height: 373px;
		}
		.as_timedate {
			max-height: 260px;
		}
		.as_sbopacity {
			max-height: 60px;
		}
		.as_forecast {
			max-height: 60px;
		}
		.as_temp {
			max-height: 60px;
		}
		.as_fonts {
			max-height: 300px;
		}
		.as_css {
			max-height: 3100px;
			padding-top: 4px;
		}
		.as_quote_type {
			max-height: 130px;
		}
		.as_notes {
			max-height: 120px;
		}
	}

	.as {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.4s, padding 0.2s;
	}

	&.init .as {
		transition: max-height 0s;
	}
}

@mixin settingsBase {
	//
	// Dark mode transition
	// #settings and buttons have seperate transitions
	#hideelem button,
	.uploadContainer,
	#submitSave,
	#i_refresh,
	#cssEditor,
	.tooltip,
	.param,
	select,
	input,
	hr {
		transition-duration: 0.4s;
		transition-timing-function: $easeOutThree;
		transition-property: background-color, color, border, border-color, transform;
	}

	button {
		color: var(--blue);
		font-size: 14px;
		border-radius: 8.5px;
		border: 2px solid transparent;
		background-color: transparent;
	}

	select,
	input[type='text'],
	input[type='url'],
	#i_export,
	#i_refresh,
	#i_qtrefresh {
		height: $inputHeight;
		color: $blackish;
		font-size: 13px;
		padding-left: 10px;
		border-radius: 8.5px;
		box-sizing: border-box;
		border: 2px solid transparent;
		background-color: $inputGrey;
		-webkit-appearance: none;
	}

	input[type='text'],
	input[type='range'],
	select {
		width: 155px;
	}

	input[type='text']:focus,
	input[type='url']:focus {
		background-color: $focusedGrey;
	}

	input::placeholder {
		color: $placeholderGrey;
		opacity: 1;
	}

	input[type='checkbox'] {
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
	}

	label {
		pointer-events: none;
	}

	.switch {
		position: relative;
		display: inline-block;
		height: 31px;
		width: 51px;
		margin: 0;
		border-radius: 16px;
		border: 2px solid transparent;
		background-color: $inputGrey;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:hover {
			background-color: #ccc;
			transition: background-color 0.15s;
		}

		&:after {
			content: '';
			position: absolute;
			height: 27px;
			width: 27px;
			top: 0px;
			left: 0px;
			border-radius: 50%;
			box-shadow: $thumbShadow;
			background-color: $purewhite;
			transition: background-color 0.3s, transform 0.3s;
		}

		&:checked {
			background-color: $green;
			transition: background-color 0.15s;

			&:hover {
				background-color: #40b354;
			}

			&:after {
				transform: translateX(20px);
			}
		}
	}

	input[type='range'] {
		position: relative;
		height: 2px;
		opacity: 1;
		margin: 0;
		cursor: grab;
		border-radius: 1.5rem;
		background-color: $focusedGrey;
		-webkit-appearance: none;

		&:active {
			cursor: grabbing;
		}

		/* Firefox */
		&::-moz-range-track {
			height: 2px;
			border-radius: 50px;
			background: $focusedGrey;
		}

		&::-moz-range-progress {
			height: 2px;
			background-color: $borderGrey;
		}

		&::-moz-range-thumb {
			background: #fff;
			height: 20px;
			width: 20px;
			border-radius: 50px;
			border: 0;
			box-shadow: $thumbShadow;
		}
	}

	/* Chrome, Opera & Safari */
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: #fff;
		height: 20px;
		width: 20px;
		border-radius: 50px;
		border: 0;
		box-shadow: $thumbShadow;
	}

	input[type='range']::-ms-thumb {
		margin: 0; /* Resets margin in Edge since it supports -webkit-slider-thumb as well */
	}

	/*Edge*/
	&::-ms-fill-lower {
		background: dodgerblue;
	}

	&::-ms-thumb {
		background: #fff;
		border: 2px solid #999;
		height: 40px;
		width: 20px;
		box-sizing: border-box;
	}

	&::-ms-ticks-after {
		display: none;
	}

	&::-ms-ticks-before {
		display: none;
	}

	&::-ms-track {
		background: #ddd;
		color: transparent;
		height: 40px;
		border: none;
	}

	&::-ms-tooltip {
		display: none;
	}
}
