// phones an touch screens
@media (hover: none) and (pointer: coarse) {
	#settings #bg_tn_wrap #fileContainer .thumbnail button {
		opacity: 1;
	}

	#showSettings {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;

		&:active {
			filter: brightness(0.5);
		}
	}

	.block_parent .block {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}
}

@media screen and (max-height: 900px) {
	body {
		font-size: 13px;
	}

	// #interface #tempContainers {
	// 	gap: 2em;
	// }
}

// mobile
@media screen and (max-width: 600px) {
	body {
		min-height: var(--app-height);
		min-height: -webkit-fill-available;
		font-size: 12px;
		overflow-y: auto;
	}

	#skiptosettings {
		display: none;
	}

	#background_overlay {
		min-height: var(--app-height);
		min-height: -webkit-fill-available;
		min-height: initial;
	}

	#interface {
		max-height: initial;

		#widgets #quotes_container {
			width: 90vw;
		}

		#tempContainers {
			padding-bottom: unset;
		}

		&.pushed {
			transform: translateX(0);
		}
	}

	#settings {
		top: auto;
		right: auto;
		left: 0%;
		bottom: -100vh;
		height: 100vh;
		width: 100%;
		font-size: 1.2em;
		padding: 0px;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;

		&.shown {
			transform: translateX(0) translateY(-75%);
		}

		// Tooltip (?) centered when span wrap
		&.all .as_collection {
			max-height: 140px;

			.wrapper span {
				align-items: center;
			}
		}

		#mobile-drag-zone {
			display: block;
		}

		#changelogContainer {
			#log_dismiss {
				top: 5em;
				right: 0.5em;
			}
		}

		#changelogContainer,
		#cssEditor,
		.param {
			margin-right: 12px;
			margin-left: 12px;
		}

		#cssEditor {
			width: calc(100% - 24px);
		}

		.signature {
			padding: 3em;
			padding-bottom: 30vh;
		}
	}

	footer {
		position: relative;
		padding: 0 14px 14px;
		z-index: 1;

		#creditContainer {
			width: calc(100% - 7.5em);

			#credit {
				display: block;
				line-height: 14px;

				a,
				p,
				span {
					font-size: 11px;
				}
			}

			.exif {
				display: none;
			}
		}
	}

	#popup {
		flex-wrap: wrap;
		padding: 10% 20%;
		bottom: 0;
		left: 0;
		gap: 0.5em;

		#popup_text,
		#popup_buttons {
			width: 100%;
			margin: 0;
		}

		#popup_buttons {
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;
			gap: 0.5em;

			a {
				margin: 0;
				width: 100%;
				height: 30px;
			}
		}
	}

	#bookmarks_container {
		font-size: 14px;
	}

	#bookmarks_container #bookmarks {
		width: 90%;
		min-width: 0;

		form div {
			width: auto;
		}
	}
}

// fix iPhone notch in landscape
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
	body {
		padding: env(safe-area-inset);
		overflow-y: scroll;
		min-height: 400px;

		#interface {
			max-height: unset;
		}

		#interface #main, #interface #time {
			min-height: unset;
		}
	}
}

@media (orientation: landscape) {
	footer {
		position: absolute;
		bottom: 0;
	}

	#interface {
		max-height: unset;

		#widgets {
			gap: 1em;
		}
	}
}

// touch screens!
@media only screen and (hover: none) and (pointer: coarse) {
	#background_overlay {
		position: absolute;
	}

	#editlink {
		width: 60%;
		max-width: 275px;
		transform: unset;
		top: unset;
		left: unset;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) !important;

		> * > * {
			font-size: 1.25em;
		}
	}

	#interface #widgets #quotes_container #author {
		opacity: 1;
	}
}


