@media (hover: none) and (pointer: coarse) {
	.b_removethumb {
		opacity: 1;
	}

	#show-settings {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}

	#show-settings:active {
		filter: brightness(0.5);
	}
}

@media screen and (max-height: 900px) {
	body {
		font-size: 13px;
	}
}

@media screen and (max-width: 600px) {
	html,
	body {
		font-size: 12px;
		overflow-y: auto;
	}

	#editlink {
		max-width: 80%;
	}

	#link-list {
		padding: 2em;
	}

	#element-mover {
		font-size: 12px;
	}

	#interface {
		padding-bottom: 77px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	body #interface.pushed {
		transform: none;
	}

	#quotes_container {
		width: 90vw;
	}

	#show-settings button {
		height: 44px;
		width: 44px;
		border-radius: 10px;
	}

	#show-settings img {
		width: 30px;
	}

	aside {
		top: 100dvh;
		right: auto;
		left: 0%;
		bottom: -100dvh;
		height: 100dvh;
		width: 100%;
		padding: 0 12px;
		font-size: 14px;
		border-radius: 1em;
	}

	aside.shown {
		transform: translateX(0) translateY(-75dvh);
	}

	#mobile-drag-zone {
		display: block;
	}

	#mobile-drag-zone + .settings-title {
		margin-top: 0;
	}

	@supports not (min-height: 100dvh) {
		aside {
			top: 100vh;
			bottom: -100vh;
			height: 100vh;
		}

		#mobile-drag-zone.shown {
			transform: translateY(-75vh);
		}
	}

	aside form > div {
		flex-direction: column;
	}

	aside::-webkit-scrollbar {
		display: none;
	}

	#i_addlink-title,
	#i_addlink-url,
	#i_ccode,
	#i_city {
		width: 100%;
	}

	#f_location {
		width: 155px;
	}

	#location_options.shown {
		max-height: 100px;
	}

	#pagewidth,
	#grid-layout-wrapper {
		display: none;
	}

	#settings-footer {
		padding-bottom: 10vh;
	}

	#credit-container {
		width: 100%;
		padding-right: 7em;
		padding-left: 1.5em;
	}

	#credit {
		display: block;
		line-height: 14px;
	}

	#credit a,
	#credit p,
	#credit span {
		font-size: 11px;
	}
}

/* fix iPhone notch in landscape */
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
	body {
		padding: env(safe-area-inset);
		overflow-y: scroll;
	}

	#main,
	#time {
		min-height: unset;
	}
}

/* touch screens! */
@media only screen and (hover: none) and (pointer: coarse) {
	#background_overlay {
		position: fixed;
	}

	#sb-suggestions,
	#searchbar {
		font-size: 1.7em;
		box-sizing: border-box;
	}

	#sb-buttons {
		padding-right: 1em;
	}

	#sb-buttons #sb_submit img {
		height: 1.5em;
	}

	#sb-buttons #sb_empty {
		font-size: 2em;
	}

	#notes_container #pocket-editor {
		line-height: 1.7em;
	}

	#notes_container #pocket-editor input[type='checkbox'] {
		width: calc(var(--font-size) * 1.6);
		height: calc(var(--font-size) * 1.6);
	}

	[data-pocket-editor] [data-todo] p {
		display: flex;
		align-items: center;
	}

	aside,
	button,
	select,
	option,
	input,
	#settings-footer {
		font-size: 15px;
	}

	aside input[type='range']::-webkit-slider-thumb {
		height: 25px;
		width: 25px;
		border-radius: 50px;
	}

	aside .wrapper {
		padding: unset;
		min-height: 38px;
	}

	aside input:not(.range, .switch),
	aside .input-btn,
	aside select {
		min-height: 36px;
		border-radius: 13px;
	}

	aside .input-btn.icon-only:hover {
		background-color: initial;
	}

	aside .switch:checked:hover {
		background-color: var(--color-green);
	}

	#settings .tooltip {
		width: 25px;
		height: 25px;
		min-width: 25px;
		font-size: 15px;
	}
}
