// phones an touch screens
@media (hover: none) and (pointer: coarse) {
	#settings #bg_tn_wrap #fileContainer .thumbnail button {
		opacity: 1;
	}

	#showSettings {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;

		&:active {
			filter: brightness(0.5);
		}
	}

	.block_parent .block {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}
}

@media screen and (max-height: 900px) {
	body {
		font-size: 13px;
	}
}

// mobile
@media screen and (max-width: 600px) {
	html,
	body {
		font-size: 12px;
		overflow-y: auto;
	}

	#skiptosettings {
		display: none;
	}

	#element-mover {
		font-size: 12px;
	}

	body #interface {
		padding-bottom: 77px;
		min-height: 100dvh;

		#quotes_container {
			width: 90vw;
		}

		&.pushed {
			transform: translateX(0);
		}
	}

	#settings {
		top: 100%; // kiwi browser fix as dvh doesn't work (?)
		right: auto;
		left: 0%;
		bottom: -100dvh;
		height: 100dvh;
		width: 100%;
		font-size: 1.2em;
		padding: 0px;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		-webkit-overflow-scrolling: touch;

		&.shown {
			transform: translateX(0) translateY(-75%);
		}

		// Tooltip (?) centered when span wrap
		&.all .as_collection {
			max-height: 140px;

			.wrapper span {
				align-items: center;
			}
		}

		#mobile-drag-zone {
			display: block;
		}

		#changelogContainer {
			#log_dismiss {
				top: 5em;
				right: 0.5em;
			}
		}

		#changelogContainer,
		#cssEditor,
		.param {
			margin-right: 12px;
			margin-left: 12px;
		}

		#cssEditor {
			width: calc(100% - 24px);
		}

		.signature {
			padding: 3em;
			padding-bottom: 30vh;
		}
	}

	#creditContainer {
		width: calc(100% - 7.5em);
		z-index: 1;

		#credit {
			display: block;
			line-height: 14px;

			a,
			p,
			span {
				font-size: 11px;
			}
		}

		.exif {
			display: none;
		}
	}

	#showSettings {
		z-index: 1;
	}

	#popup {
		flex-wrap: wrap;
		padding: 10% 20%;
		bottom: 0;
		left: 0;
		gap: 0.5em;

		#popup_text,
		#popup_buttons {
			width: 100%;
			margin: 0;
		}

		#popup_buttons {
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;
			gap: 0.5em;

			a {
				margin: 0;
				width: 100%;
				height: 30px;
			}
		}
	}

	#bookmarks_container {
		font-size: 14px;
	}

	#bookmarks_container #bookmarks {
		width: 90%;
		min-width: 0;

		form div {
			width: auto;
		}
	}
}

// fix iPhone notch in landscape
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
	body {
		padding: env(safe-area-inset);
		overflow-y: scroll;

		#interface #main,
		#interface #time {
			min-height: unset;
		}
	}
}

// touch screens!
@media only screen and (hover: none) and (pointer: coarse) {
	#background_overlay {
		position: absolute;
	}

	#editlink {
		width: 60%;
		max-width: 275px;
		transform: unset;
		top: unset;
		left: unset;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) !important;
	}

	#interface {
		#sb_container {
			#searchbar {
				font-size: 1.7em;
				box-sizing: border-box;
				padding: 0 7em 0 1em;
			}

			#sb-buttons {
				#sb_empty {
					font-size: 2.5em;
					display: block;
					width: 39px;
					padding: 0;
					box-sizing: border-box;
				}

				#sb_submit img {
					height: 1.5em;
				}
			}
		}

		#quotes_container #author {
			opacity: 1;
		}
	}
}
