#settings {
	@import './components/superinput.scss';

	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;
	right: -450px;
	height: 100vh;
	min-width: 333px;
	width: calc(450px - (21px * 2));
	padding: 0 21px;
	visibility: hidden;

	background-color: var(--color-settings);
	color: var(--color-text);
	font-size: 15px;
	font-weight: 400;
	text-shadow: none;
	text-align: initial;

	will-change: transform;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s, background-color 0.4s $easeOutThree, opacity 0.4s, visibility 0.4s;
	touch-action: pan-y;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-filter: blur(0);

	&.shown {
		visibility: visible;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.15);
	}

	&.init .dropdown {
		transition: max-height 0s;
	}

	&.see-through {
		opacity: 0.2;
	}

	.dropdown {
		overflow-y: hidden;
		max-height: 0;
		transition: max-height 0.3s;

		&.shown {
			overflow-y: clip;
		}
	}

	#mobile-drag-zone {
		display: none;
		width: 80%;
		margin: auto;
		padding: 2em 1em;
		z-index: 4;
		cursor: grab;

		hr {
			width: 80px;
			height: 0px;
			margin: auto;
			border-radius: 4px;
			border-top: 2.5px solid var(--color-border);
			border-bottom: 2.5px solid var(--color-border);
			transition: all 0.15s $easeOutThree;
		}

		@media (hover: hover) {
			&:hover hr {
				width: 100px;
			}
		}

		@media (hover: none) {
			&:active hr {
				width: 100px;
			}
		}
	}

	#changelogContainer {
		display: none;
		overflow: hidden;
		max-height: 240px;
		transition: max-height 0.4s $easeOutThree;

		&.dismissed {
			display: block;
			max-height: 0px;

			#log_dismiss {
				opacity: 0;
				pointer-events: none;
			}
		}

		&.shown {
			display: block;
		}

		#changelog {
			position: relative;
			display: block;
			padding: 1.3em;
			margin-top: 2em;
			line-height: 1.3em;
			background-color: var(--color-param);
			transition: background-color 0.3s $easeOutThree;
			overflow: hidden;
			border-radius: 10px;

			p:first-child {
				margin-bottom: 0.5em;
				font-weight: 500;
			}

			p > span#link {
				color: var(--color-blue);
			}

			#link {
				color: var(--color-blue);
				text-decoration: none;
			}
		}

		#log_dismiss {
			position: absolute;
			top: 1.5em;
			right: 1em;
			opacity: 1;
			padding: 0;
			margin: 0;
			border-radius: 100%;
			box-shadow: rgb(0 0 0 / 20%) 0 2px 5px;
			background-color: var(--color-input);
			transition: background-color 0.2s $easeOutThree;
			z-index: 10;
			cursor: pointer;
			@include allCentered();

			span {
				font-size: 16px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				color: var(--color-light-text);
			}

			&:hover {
				background-color: var(--color-focused);
				text-decoration: none;
			}
		}
	}

	#local_options.shown {
		max-height: 400px;
	}

	#time_options.shown {
		max-height: 470px;
	}

	#main_options.shown {
		max-height: 580px;
	}

	#quicklinks_options.shown {
		max-height: 400px;
	}

	#notes_options.shown {
		max-height: 160px;
	}

	#digital_options.shown,
	#weather_provider.shown,
	#searchbar_request.shown {
		max-height: 50px;
	}

	#analog_options.shown,
	#unsplash_options.shown {
		max-height: 100px;
	}

	#searchbar_options.shown {
		max-height: 350px;
	}

	#quotes_userlist.shown,
	#quotes_options.shown {
		max-height: 500px;
	}

	input[type='text'] {
		will-change: background-color;
	}

	@include allSettings();

	a {
		color: var(--color-blue);
		border-radius: 4px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	hr {
		border: none;
		border-bottom: 1px solid var(--color-input);
		width: 100%;
	}

	h1,
	h2,
	span {
		margin: 0;
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		color: var(--color-light-text);
		font-weight: 400;
		font-size: 0.8em;
		letter-spacing: 1px;
		margin: 32px 26px 16px 26px;

		.tooltip {
			background-color: var(--color-input);
			border-color: var(--color-focused);
		}
	}

	.tooltip {
		width: 20px;
		height: 20px;
		border-radius: 100%;
		border: 1px solid;
		box-sizing: border-box;
		color: var(--color-light-text);
		border-color: var(--color-input);
		background-color: var(--color-areas);
		transition: background-color 0.1s, transform 0.1s;
		padding: 0px;

		&:hover {
			background-color: var(--color-input);
		}

		@media (hover: hover) {
			&:active {
				transform: scale(1.2);
			}
		}

		@include allCentered();
	}

	.tooltiptext {
		color: var(--color-light-text);
		font-size: 13px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s, margin 0.4s, padding 0.2s;

		&.ttlinks,
		&.ttgrid,
		&.ttcss,
		&.ttexport {
			margin: 0 26px;

			&.shown {
				padding: 4px 0;
				margin-bottom: 1rem;
				max-height: 55px;
			}
		}

		&.ttcoll,
		&.tttab,
		&.ttcustomquotes {
			&.shown {
				padding: 4px 0;
				margin: 0 0 0.5em 0;
				max-height: 50px;
			}
		}
	}

	@include settingsBase();

	.param {
		background-color: var(--color-param);
		padding: $settingsMargin 1.3em;
		border-radius: 10px;
	}

	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 26px;
		padding: 4px 0;

		span {
			display: flex;
			align-items: center;
		}

		.tooltip {
			margin: 0 7px;
		}
	}

	#tabtitle > div,
	.freq_wrap > div {
		display: flex;
		width: 155px;
		column-gap: 5px;

		input,
		select {
			width: 100%;
		}
	}

	#tabtitle > div #i_favicon {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		width: 40px;

		&::placeholder {
			opacity: 0.7;
			filter: grayscale(0.35);
		}
	}

	.grid-btns {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: end;

		button {
			text-align: right;
		}
	}

	#b_resetlayout:focus-visible,
	#b_resetlayout:hover {
		color: #e64b43;
	}

	#grid-layout {
		display: flex;
		padding: 4px; // to offset outline
		column-gap: 1em;

		button,
		button[data-layout='double'] div:nth-child(1),
		button[data-layout='triple'] div:nth-child(2) {
			outline: 2px solid var(--color-placeholder);
		}

		button:not(:disabled):hover,
		button:not(:disabled).selected,
		button:not(:disabled):focus-visible {
			outline-color: var(--color-blue);

			&[data-layout='double'] div:nth-child(1),
			&[data-layout='triple'] div:nth-child(2) {
				outline-color: var(--color-blue);
			}
		}

		button {
			overflow: hidden;
			display: grid;
			padding: 0;
			border: 0;
			opacity: 0.7;
			width: 4em;
			border-radius: 4px;
			background-color: var(--color-input);

			div {
				height: 2em;
				width: 100%;
			}

			&:not(:disabled):hover,
			&:not(:disabled):focus-visible,
			&:not(:disabled).selected {
				opacity: 1;
				background-color: rgba(0, 114, 238, 0.1333333333);
			}

			&.selected {
				outline-width: 3px;
			}

			&[data-layout='single'] {
				grid-template-columns: 1fr;
			}

			&[data-layout='double'] {
				grid-template-columns: 1fr 1fr;
			}

			&[data-layout='triple'] {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}

	#addlink-inputs {
		position: relative;
		display: flex;
		column-gap: 4px;
		max-width: 66%;

		input[type='text'] {
			width: 100%;
		}

		#i_addlink-title {
			width: 50%;
		}

		#i_addlink-url {
			padding-inline-end: 3em;
		}

		#i_addlink {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 31px;
			height: 21px;
			opacity: 0;
			pointer-events: none;
			background-color: transparent;
			transition: opacity 0.1s;

			span {
				justify-content: center;
			}
		}

		&.valid #i_addlink {
			opacity: 1;
			pointer-events: all;

			&:hover,
			&:focus-visible {
				color: var(--color-blue);
				background-color: rgba(var(--blue), 0.15);
			}

			&:active {
				background-color: rgba(var(--blue), 0.25);
			}
		}
	}

	.refresh-btn {
		padding: 0 10px;
		text-decoration: none;
	}

	#custom_thumbnail {
		height: 100px;
	}

	.uploadContainer {
		overflow: hidden;
		position: relative;
		display: block;
		width: 100%;
		height: 100px;
		min-width: 200px;
		line-height: 100px;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		color: var(--color-areas-text);
		background-color: var(--color-areas);
		border: 1px dashed transparent;

		transform: scale(1);
		box-sizing: border-box;
		border-radius: 10px;
		pointer-events: all;

		input[type='file'] {
			position: absolute;
			display: block;
			overflow: hidden;
			top: 0;
			left: 0;
			opacity: 0;
			height: 75px;
			width: 100%;
			cursor: pointer;
		}

		&:hover,
		&:focus,
		&.dragover,
		&:active {
			transition: all 0.2s;
		}

		&:hover {
			background-color: var(--color-focused);
		}

		&.dragover {
			background-color: var(--color-blue);
			color: white;
			opacity: 1;
			transform: scale(1.03);
		}

		&:active {
			background-color: var(--color-input);
		}
	}

	#fileContainer {
		width: 100%;
		display: grid;
		max-height: 249px; // 3 thumbnails high
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin-top: 10px;
		padding: 3px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.thumbnail {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 75px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: none;
		border-radius: 10px;
		outline: 3px solid transparent;
		background-color: var(--color-input);
		transition: opacity 0.1s, filter 0.1s, outline 0.1s;

		&.hiding {
			transform: scale(0.9);
			opacity: 0;
		}

		&.selected,
		&:hover {
			outline-color: var(--color-blue);
		}

		&:active {
			opacity: 0.8;
		}

		&:hover button {
			pointer-events: all;
			opacity: 1;
		}
	}

	.b_removethumb {
		position: absolute;
		top: 5px;
		left: 5px;
		width: 25px;
		height: 25px;
		padding: 0;
		opacity: 0;
		color: #222;
		background-color: #fff3;
		border-radius: 100%;
		text-align: center;
		text-decoration: none;
		box-sizing: border-box;
		box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
		transition: opacity 0.1s, background-color 0.1s;

		@include frostedGlass();

		span {
			display: block;
			width: 100%;
		}

		&:focus-visible {
			opacity: 1;
		}

		&:hover {
			color: #000;
			background-color: #fff5;
			text-decoration: none;
		}
	}

	#thumbnail-show-buttons {
		display: none;
		align-items: center;
		justify-content: center;
		column-gap: 1em;
		padding-top: 0.5em;

		&.shown {
			display: flex;
		}
	}

	#clockoptions {
		#w_clockface,
		#w_ampm {
			opacity: 1;
			min-height: 0;
			height: 34px;
			max-height: 3em;
			overflow: hidden;
			transition: max-height 0s 0.2s, opacity 0.2s;
		}

		&.digital #w_clockface,
		&.analog #w_ampm {
			max-height: 0;
			opacity: 0;
		}
	}

	#sett_city {
		display: flex;
		column-gap: 0.4em;
		transition: max-height 0.2s, margin 0.2s;

		&.shown {
			margin-top: 0.6em;
			max-height: 36px;
		}

		select,
		.superinput {
			width: 100%;
			text-transform: capitalize;
		}
	}

	@keyframes loadsResponse {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0.6;
		}
	}

	#i_city.loads {
		animation: loadsResponse 800ms linear infinite alternate;
	}

	#i_city.warn {
		outline: 2px solid #ff7400;
	}

	#i_customfont {
		text-transform: capitalize;
	}

	#i_weight option.hidden {
		display: none;
	}

	#e_weight,
	#e_size {
		width: 50px;
	}

	#cssEditor {
		width: 100%;
		min-height: 100px;
		max-height: 3000px;
		resize: vertical;
		padding: 1.3em;
		font-family: $code;
		font-size: 13px;
		tab-size: 1.5em;
		border: none;
		border-radius: 10px;
		box-sizing: border-box;
		color: var(--color-text);
		background-color: var(--color-param);
	}

	#importexport .param {
		min-height: 192px;
		transition: min-height 0.2s;

		.importexport-tabs {
			position: relative;
			display: flex;
			width: 220px;
			margin: auto;
			margin-bottom: 15px;
			border-radius: 8.5px;
			background-color: var(--color-areas);
			align-items: center;
			direction: ltr;

			.glider {
				width: calc(50% - 3px);
				background-color: var(--color-blue);
				position: absolute;
				border-radius: 8.5px;
				z-index: 3;
				top: 3px;
				bottom: 3px;
				left: 3px;
				transition: transform 0.3s;
				transform: translateX(0%);
			}

			&.toggled .glider {
				transform: translateX(100%);
			}

			button {
				display: block;
				width: 50%;
				padding: unset;
				font-size: 13px;
				background-color: transparent;
				position: relative;
				text-decoration: none;
				transition: color 0.2s;
				height: 29px;
				border: none;
				border-radius: 8.5px;
				margin: 3px;
			}

			// When glider is under the button
			&.toggled #s_import,
			#s_export {
				color: white;
				z-index: 4;

				&:hover {
					background-color: unset;
				}
			}

			// When glider is not
			&.toggled #s_export,
			#s_import {
				color: var(--color-blue);
				z-index: 2;

				&:hover {
					background-color: var(--color-focused);
				}
			}
		}

		#import,
		#export {
			overflow: hidden;
			height: 0px;

			&.shown {
				height: auto;
				overflow: visible;
			}
		}

		#export {
			#area_export {
				width: 100%;
				min-height: 100px;
				max-height: 3000px;
				padding: 0.65em 1.3em;
				font-size: 13px;
				line-break: anywhere;
				overflow-x: hidden;
				overflow-y: hidden;
				resize: vertical;
				border: none;
				color: var(--color-text);
				background-color: var(--color-areas);
				box-sizing: border-box;
				font-family: $code;
				tab-size: 1.5em;
				border-radius: 10px;

				&:hover,
				&:focus {
					overflow-y: auto;
				}
			}

			> div {
				display: flex;
				justify-content: space-around;
				margin-top: 12px;
			}

			#downloadfile {
				display: none;
			}

			#exportSettings {
				position: absolute;
			}
		}

		#import {
			> div {
				display: flex;
				margin-top: 15px;
			}

			#i_importtext {
				flex: 1;
				margin-right: 1em;
				tab-size: 0.05em;
				background-color: var(--color-areas);

				&:focus {
					background-color: var(--color-focused);
				}
			}

			button:disabled {
				filter: grayscale(1) opacity(0.7);
				text-decoration: none;
				cursor: default;
				transition: filter 0.1s;
			}
		}
	}

	#resetContainer {
		margin-top: 1rem;

		.param {
			padding: $settingsMargin 1.3em;
		}

		#reset_conf,
		#reset_first {
			display: none;

			&.shown {
				display: flex;
			}
		}

		#reset_first {
			justify-content: center;
		}

		#b_resetno {
			color: var(--color-red);
		}
	}

	.signature {
		color: var(--color-light-text);
		font-size: 14px;
		padding: 4em 3em;
		padding-bottom: 100px; // to always stay above footer

		// Safari iOS only
		@supports (-webkit-touch-callout: none) {
			padding-bottom: 150px;
		}

		.firstblock {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.5em;

			.socialIcons {
				display: flex;
				justify-content: space-between;
				gap: 14px;

				a {
					display: flex;
					align-items: center;
					transition: transform 0.15s;

					svg {
						height: 1.25em;
						fill: var(--color-blue);
					}

					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}

		#rdv_website {
			margin-top: 1.5em;
		}
	}
}

#settings textarea#i_qtlist {
	width: 100%;
	min-height: 100px;
	max-height: 200px;
	margin-top: 0.5em;
	padding: 0.5em 1em;
	resize: vertical;
}
