#settings {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;
	right: -450px;
	height: 100vh;
	width: calc(450px - (21px * 2));
	padding: 0 21px;

	background-color: $settingsGrey;
	color: $blackish;
	font-size: 15px;
	font-weight: 400;
	text-shadow: none;
	text-align: left;

	will-change: transform;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s, background-color 0.4s $easeOutThree, opacity 0.4s;
	touch-action: pan-y;
	overflow-y: scroll;
	overflow-x: hidden;
	// transform: translateX(-100%) !important;

	&.shown {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.15);
	}

	#mobile-drag-zone {
		display: none;
		width: 40%;
		margin: auto;
		padding: 1em;
		padding-top: 2em;
		border-radius: 1em;
		z-index: 4;

		hr {
			width: 60px;
			height: 3px;
			margin: auto;
			border-top: 4px dotted #999;
			border-bottom: 4px dotted #999;
		}
	}

	#changelogContainer {
		display: none;
		overflow: hidden;
		max-height: 240px;
		transition: max-height 0.4s $easeOutThree;

		&.dismissed {
			display: block;
			max-height: 0px;

			#log_dismiss {
				opacity: 0;
				pointer-events: none;
			}
		}

		&.shown {
			display: block;
		}

		#changelog {
			position: relative;
			display: block;
			padding: 1.3em;
			margin-top: 2em;
			line-height: 1.3em;
			background-color: #fff;
			transition: background-color 0.3s $easeOutThree;
			overflow: hidden;
			border-radius: 10px;

			p:first-child {
				margin-bottom: 0.5em;
				font-weight: 500;
			}

			p > span#link {
				color: var(--blue);
			}

			#link {
				color: var(--blue);
				text-decoration: none;
			}
		}

		#log_dismiss {
			position: absolute;
			top: 1.5em;
			right: 1em;
			width: 30px;
			height: 30px;
			border-radius: 100%;
			cursor: pointer;
			box-shadow: rgb(0 0 0 / 20%) 0 2px 5px;
			z-index: 10;
			opacity: 1;
			transition: background-color 0.2s $easeOutThree;
			@include allCentered();

			img {
				width: 10px;
				display: block;
			}

			&:hover {
				background-color: #e4e3ea;
			}
		}
	}

	&.init {
		#sett_city,
		#clockoptions #w_clockface,
		#clockoptions #w_ampm,
		#notes_options,
		#searchbar_options,
		#quotes_options,
		#quicklinks_options {
			transition: max-height 0s;
		}
	}

	// // Safari composing layers
	// .param > *:not(hr),
	// #hideelem button,
	// #cssEditor {
	// 	transform: translate3d(0, 0, 0);
	// 	-webkit-transform: translate3d(0, 0, 0);
	// }

	input[type='text'] {
		will-change: background-color;
	}

	@include allSettings();

	a:hover,
	button:hover {
		text-decoration: underline;
	}

	a {
		border-radius: 4px;
	}

	hr {
		border: none;
		border-bottom: 1px solid $inputGrey;
		width: 100%;
	}

	h1,
	h2,
	span {
		margin: 0;
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		color: #6d6d72;
		font-weight: 400;
		font-size: 0.8em;
		letter-spacing: 1px;
		margin: 32px 26px 16px 26px;

		.tooltip {
			background-color: $inputGrey;
			border: 1px solid #e3e3ea;
		}
	}

	.tooltip {
		background-color: $settingsGrey;
		color: #555;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		box-sizing: border-box;
		border: 1px solid #eaeaee;
		transition: background-color 0.1s, transform 0.1s;

		&:hover {
			background-color: $focusedGrey;
			text-decoration: none;
		}

		&:active {
			transform: scale(1.2);
		}

		@include allCentered();
	}

	.tooltiptext {
		color: #6d6d72;
		font-size: 13px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s, margin 0.4s, padding 0.2s;

		a {
			color: var(--blue);
			text-decoration: none;
		}

		&.ttlinks,
		&.ttcss,
		&.ttexport {
			margin: 0 26px;

			&.shown {
				padding: 4px 0;
				margin-bottom: 1rem;
				max-height: 55px;
			}
		}

		&.ttcoll,
		&.tttab {
			&.shown {
				padding: 4px 0;
				margin: 1em 0 0.5em 0;
				max-height: 50px;
			}
		}
	}

	@include settingsBase();

	.title {
		background-color: #ffffff;
		border-top: 1px solid $borderGrey;
		border-bottom: 1px solid $borderGrey;
		padding: 0.5em 0;
	}

	.param {
		background-color: #ffffff;
		padding: $settingsMargin 1.3em;
		border-radius: 10px;
	}

	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 26px;
		padding: 4px 0;

		span {
			display: flex;
		}

		.tooltip {
			margin: 0 7px;
		}
	}

	#tabtitle {
		div {
			display: flex;

			#i_favicon {
				text-align: center;
				padding-left: 0;
				padding-right: 0;
				width: 40px;
				margin-right: 5px;

				&::placeholder {
					opacity: 0.7;
					filter: grayscale(0.35);
				}
			}

			#i_tabtitle {
				width: 110px;
			}
		}
	}

	#quicklinks_options {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.4s;

		.link_input_wrap {
			input[type='text'] {
				width: calc(100% - 10px);
			}

			#i_title {
				margin-bottom: 0.5em;
			}

			> div {
				display: flex;
				align-items: center;
			}

			.links_buttons {
				text-align: right;
			}

			#b_importbookmarks,
			#submitlink {
				height: 2.2em;
				transition: filter 0.4s;
			}

			#submitlink {
				margin-left: 1em;
			}
		}

		&.shown {
			overflow-y: clip;
			max-height: 255px;
		}
	}

	#custom {
		display: none;
	}

	#i_refresh,
	#i_qtrefresh {
		padding: 0 10px;
		margin-left: 5px;
		text-decoration: none;
	}

	.freq_wrap > div {
		display: flex;
		width: 155px;

		select {
			width: 100%;
		}
	}

	#custom_thumbnail {
		height: 100px;
	}

	.uploadContainer {
		overflow: hidden;
		position: relative;
		display: block;
		width: 100%;
		height: 100px;
		min-width: 200px;
		line-height: 100px;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		color: var(--blue);
		background-color: $settingsGrey;
		border: 1px dashed transparent;

		transform: scale(1);
		box-sizing: border-box;
		border-radius: 10px;
		pointer-events: all;

		input[type='file'] {
			position: absolute;
			display: block;
			overflow: hidden;
			top: 0;
			left: 0;
			opacity: 0;
			height: 75px;
			width: 100%;
			cursor: pointer;
		}

		&:hover,
		&:focus,
		&.dragover,
		&:active {
			transition: all 0.2s;
		}

		&:hover {
			background-color: $focusedGrey;
		}

		&.dragover {
			background-color: var(--blue);
			color: $purewhite;
			opacity: 1;
			transform: scale(1.03);
		}

		&:active {
			background-color: $inputGrey;
		}
	}

	#bg_tn_wrap {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		// padding: 10px 0;
		overflow: visible;

		#fileContainer {
			margin: 0;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 10px;

			.thumbnail {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 75px;
				margin: 0;
				padding: 0;
				overflow: hidden;
				border: none;
				border-radius: 10px;
				background-image: url('/src/assets/interface/loading.svg');
				background-size: 4em;
				background-repeat: no-repeat;
				background-color: transparent;
				background-position: center center;
				transition: box-shadow 0.1s $easeOutThree, transform 0.1s;

				&.selected {
					border: 3px solid var(--blue);
				}

				img {
					width: 100%;
					min-height: 100%;
					background-color: transparent;
				}

				.b_removethumb {
					position: absolute;
					top: 5px;
					left: 5px;
					width: 25px;
					height: 25px;
					border-radius: 100%;
					cursor: pointer;
					text-decoration: none;
					transition: opacity 0.2s;
					opacity: 0;
					pointer-events: none;
					box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
					box-sizing: border-box;
					@include allCentered();
					@include frostedGlass();

					img {
						width: 9px;
						height: 9px;
						display: block;
					}

					&:focus-visible {
						opacity: 1;
					}
				}

				// instead of adding a populated class in JS
				&:first-child,
				&:nth-child(2),
				&:nth-child(3) {
					margin-top: 10px;
				}

				&:hover {
					box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
					transform: scale(1.04);

					button {
						pointer-events: all;
						opacity: 1;
					}
				}

				&:active {
					transform: scale(1);
				}
			}
		}
	}

	// Hide elements

	#hideelem {
		display: grid;
		margin: 1em auto;
		list-style: none;
		padding: 4px 0;
		gap: 5px;
		justify-content: center;
		grid-template-columns: repeat(6, 36px);

		// Bon c'est wtf, mais j'avais envie de le faire pour la prosperite
		// De toute facon ca va bientot etre remplace donc tout va bien

		li:nth-child(1) {
			grid-row: 1;
			grid-column: 1 / 4;
		}

		li:nth-child(2) {
			grid-row: 1;
			grid-column: 4 / 7;
		}

		li:nth-child(3) {
			grid-row: 2;
			grid-column: 1 / 3;
		}

		li:nth-child(4) {
			grid-row: 2;
			grid-column: 3 / 5;
		}

		li:nth-child(5) {
			grid-row: 2;
			grid-column: 5 / 7;
		}

		li:nth-child(6) {
			grid-row: 3;
			grid-column: 1 / 7;
		}

		button {
			opacity: 1;
			height: $inputHeight;
			width: 100%;
			margin-right: 5px;
			color: var(--blue);
			font-size: small;
			text-align: center;
			border-radius: 10px;
			background-color: $settingsGrey;

			&:hover,
			&:focus,
			&:active {
				transition: background-color 0.2s, color 0.2s;
			}

			&:hover {
				text-decoration: none;
				background-color: #0072ee22;
			}

			&.clicked {
				color: $borderGrey;
				background-color: transparent;
			}
		}
	}

	#clockoptions {
		#w_clockface,
		#w_ampm {
			opacity: 1;
			min-height: 0;
			height: 34px;
			max-height: 3em;
			overflow: hidden;
			transition: max-height 0s 0.2s, opacity 0.2s;
		}

		&.digital #w_clockface,
		&.analog #w_ampm {
			max-height: 0;
			opacity: 0;
		}
	}

	#sett_city {
		display: flex;
		width: calc(100% - 0.4em);
		column-gap: 0.4em;
		max-height: 50px;
		margin-top: 0.6em;
		padding: 0.2em;
		overflow: hidden;
		transition: max-Height 0.4s, margin-top 0.4s, padding-top 0.4s, padding-bottom 0.4s;

		&.hidden {
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 0;
			max-height: 0;
		}

		select,
		input {
			width: 100%;
			text-transform: capitalize;
		}
	}

	#notes_options,
	#searchbar_options,
	#searchbar_request {
		overflow-y: hidden;
		max-height: 0;
		transition: max-height 0.4s;
	}

	#notes_options.shown {
		overflow-y: clip;
		max-height: 120px;
	}

	#searchbar_request.shown {
		overflow-y: clip;
		max-height: 60px;
	}

	#searchbar_options.shown {
		overflow-y: clip;
		max-height: 240px;
	}

	#searchbar_options #choose_searchengine {
		&.shown {
			display: block;
		}

		@include hidden();
	}

	#quotes_options {
		overflow-y: hidden;
		max-height: 0;
		transition: max-height 0.4s;

		&.shown {
			overflow-y: clip;
			max-height: 173px;
		}
	}

	#i_customfont {
		text-transform: capitalize;
	}

	#i_weight option {
		display: none;
	}

	#e_weight,
	#e_size {
		width: 50px;
	}

	#cssEditor {
		width: 100%;
		min-height: 100px;
		max-height: 3000px;
		resize: vertical;
		padding: 1.3em;
		font-family: $code;
		font-size: 13px;
		tab-size: 1.5em;
		border: none;
		border-radius: 10px;
		box-sizing: border-box;
	}

	#importexport .param {
		min-height: 192px;
		transition: min-height 0.2s;

		.tabs {
			position: relative;
			display: flex;
			width: 220px;
			margin: auto;
			margin-bottom: 15px;
			border-radius: 8.5px;
			background-color: $settingsGrey;
			align-items: center;

			.glider {
				width: calc(50% - 3px);
				background-color: var(--blue);
				position: absolute;
				border-radius: 8.5px;
				z-index: 3;
				top: 3px;
				bottom: 3px;
				left: 3px;
				transition: transform 0.3s;
				transform: translateX(0%);
			}

			&.toggled .glider {
				transform: translateX(100%);
			}

			button {
				display: block;
				width: 50%;
				padding: unset;
				font-size: 13px;
				background-color: transparent;
				position: relative;
				text-decoration: none;
				transition: color 0.2s;
				height: 29px;
				border-radius: 8.5px;
				margin: 3px;
			}

			// When glider is under the button
			&.toggled #s_import,
			#s_export {
				color: white;
				z-index: 4;

				&:hover {
					background-color: unset;
				}
			}

			// When glider is not
			&.toggled #s_export,
			#s_import {
				color: var(--blue);
				z-index: 2;

				&:hover {
					background-color: #e3e3ea;
				}
			}
		}

		#import,
		#export {
			overflow: hidden;
			height: 0px;

			&.shown {
				height: auto;
				overflow: visible;
			}
		}

		#export {
			#area_export {
				width: 100%;
				min-height: 100px;
				max-height: 3000px;
				padding: 0.65em 1.3em;
				font-size: 13px;
				line-break: anywhere;
				overflow-x: hidden;
				overflow-y: hidden;
				resize: vertical;
				border: none;
				background-color: $settingsGrey;
				box-sizing: border-box;
				font-family: $code;
				tab-size: 1.5em;
				border-radius: 10px;

				&:hover,
				&:focus {
					overflow-y: auto;
				}
			}

			> div {
				display: flex;
				justify-content: space-around;
				margin-top: 12px;
			}

			#downloadfile {
				display: none;
			}

			#exportSettings {
				position: absolute;
			}
		}

		#import {
			> div {
				display: flex;
				margin-top: 15px;
			}

			#i_importtext {
				flex: 1;
				margin-right: 1em;
				tab-size: 0.05em;
				background-color: $settingsGrey;

				&:focus {
					background-color: $focusedGrey;
				}
			}

			button:disabled {
				filter: grayscale(1) opacity(0.7);
				text-decoration: none;
				cursor: default;
				transition: filter 0.1s;
			}
		}
	}

	#resetContainer {
		margin-top: 1rem;

		.param {
			padding: $settingsMargin 1.3em;
		}

		#reset_conf,
		#reset_first {
			display: none;

			&.shown {
				display: flex;
			}
		}

		#reset_first {
			justify-content: center;
		}

		#b_resetno {
			color: $red;
		}
	}

	.signature {
		text-align: left;
		color: #6d6d72;
		font-size: 14px;
		padding: 4em;

		// Safari iOS only
		@supports (-webkit-touch-callout: none) {
			padding-bottom: 150px;
		}

		a {
			text-decoration: none;
			color: var(--blue);
		}

		.firstblock {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.5em;

			.socialIcons {
				display: flex;
				justify-content: space-between;
				gap: 14px;

				a {
					display: flex;
					align-items: center;
					transition: transform 0.15s;

					svg {
						height: 1.25em;
						fill: var(--blue);
					}

					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}

		#rdv_website {
			margin-top: 1.5em;
		}
	}
}
