//	Glossary:
//	- Max-heights
//	- Components
//	- General
//	- Links
//	- Local backgrounds
//	- Time
//	- Weather
//	- Quotes
//	- Fonts
//	- Grid
//	- CSS Editor
//	- Settings management
//	- Footer

aside {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;
	right: -450px;
	height: 100vh;
	min-width: 333px;
	width: calc(450px - (21px * 2));
	padding: 0 21px;
	background-color: var(--color-settings);
	color: var(--color-text);
	font-size: 15px;
	font-weight: 400;
	text-shadow: none;
	text-align: initial;
	overflow-y: scroll;
	overflow-x: hidden;
	touch-action: pan-y;
	transition: transform 0.4s, background-color 0.4s $easeOutThree;

	&.shown {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.15);
	}

	&.init .as,
	&.init .dropdown {
		transition: max-height 0s;
	}

	&.see-through {
		opacity: 0.2;
	}

	a {
		color: var(--color-blue);
		border-radius: 4px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	hr {
		border: none;
		border-bottom: 1px solid var(--color-input);
		width: 100%;
	}

	h1,
	h2,
	span {
		margin: 0;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.8em;
		letter-spacing: 1px;
	}

	// Dark mode transition
	// #settings and buttons have seperate transitions
	#hideelem button,
	.uploadContainer,
	#submitSave,
	#i_refresh,
	#cssEditor,
	.tooltip,
	.param,
	select,
	input,
	hr {
		transition-duration: 0.4s;
		transition-timing-function: $easeOutThree;
		transition-property: background-color, color, border, border-color, transform;
	}

	.param-btn {
		height: 31px;
		padding: 0 1em;
		color: var(--color-blue);
		border: none;
		border-radius: 1em;
		background-color: rgba(var(--blue), 0.15);
		transition: background-color 0.1s, color 0.1s;

		&:hover {
			background-color: rgba(var(--blue), 0.25);
		}

		&:hover.btn-red {
			color: var(--color-red);
			background-color: rgba(var(--red), 0.25);
		}
	}

	.inline-btn {
		border-radius: 1em;
		color: var(--color-blue);
		background-color: transparent;

		&:hover {
			text-decoration: underline;
		}
	}

	.input-btn {
		border-radius: 8px;
		text-decoration: none;
		color: var(--color-text);
		background-color: var(--color-input);
	}

	textarea {
		font-family: $monospace;
	}

	select,
	input,
	button {
		border-radius: 8px;
		color: var(--color-text);
		-webkit-appearance: none;
	}

	input,
	select {
		height: 31px;
		width: 155px;
		padding-inline: 13px;
		overflow: hidden;
		text-overflow: ellipsis;
		background-color: var(--color-input);
	}

	// input:focus {
	// 	background-color: var(--color-focused);
	// }

	input::placeholder {
		color: var(--color-placeholder);
	}

	input[type='checkbox'] {
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
	}

	.switch {
		position: relative;
		display: inline-block;
		height: 31px;
		width: 51px;
		margin: 0;
		border-radius: 16px;
		border: 2px solid transparent;
		background-color: var(--color-input);

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:hover {
			background-color: var(--color-focused);
			transition: background-color 0.15s;
		}

		&:after {
			content: '';
			position: absolute;
			height: 27px;
			width: 27px;
			top: 0px;
			left: 0px;
			border-radius: 50%;
			box-shadow: $thumbShadow;
			background-color: white;
			transition: background-color 0.3s, transform 0.3s;
		}

		&:checked {
			background-color: var(--color-green);
			transition: background-color 0.15s;

			&:hover {
				background-color: #40b354;
			}

			&:after {
				transform: translateX(20px);
			}
		}
	}

	input::-webkit-calendar-picker-indicator {
		display: none !important;
	}

	input[type='range'] {
		position: relative;
		height: 2px;
		opacity: 1;
		margin: 0;
		padding: 0;
		cursor: grab;
		overflow: unset;
		border-radius: 1.5rem;
		background-color: #c8c7cc;
		-webkit-appearance: none;

		&:active {
			cursor: grabbing;
		}

		/* Firefox */
		&::-moz-range-track {
			height: 2px;
			border-radius: 50px;
			background: #c8c7cc;
		}

		&::-moz-range-progress {
			height: 2px;
			background-color: #c8c7cc;
		}

		&::-moz-range-thumb {
			background: #fff;
			height: 20px;
			width: 20px;
			border-radius: 50px;
			border: 0;
			box-shadow: $thumbShadow;
		}

		/* Chrome, Opera & Safari */
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: #fff;
			height: 20px;
			width: 20px;
			border: 0;
			border-radius: 50px;
			box-shadow: $thumbShadow;
		}

		&::-ms-thumb {
			margin: 0; /* Resets margin in Edge since it supports -webkit-slider-thumb as well */
		}

		/*Edge*/
		&::-ms-fill-lower {
			background: dodgerblue;
		}

		&::-ms-thumb {
			background: #fff;
			border: 2px solid #999;
			height: 40px;
			width: 20px;
			box-sizing: border-box;
		}

		&::-ms-ticks-after {
			display: none;
		}

		&::-ms-ticks-before {
			display: none;
		}

		&::-ms-track {
			background: #ddd;
			color: transparent;
			height: 40px;
			border: none;
		}

		&::-ms-tooltip {
			display: none;
		}
	}

	form {
		display: flex;
		position: relative;
		align-items: center;
		width: 155px;
	}

	form > div {
		display: flex;
		gap: 4px;
		width: 100%;
	}

	form button {
		height: 31px;
		width: 100%;
		padding: 0;
		opacity: 0;
		max-width: 0;
		background-color: transparent;
		transition: opacity 0.1s, max-width 0.2s;
	}

	form button:disabled {
		cursor: default;
	}

	form button span {
		justify-content: center;
	}

	form.valid button {
		opacity: 1;
		pointer-events: all;
		max-width: 26px;
		margin-left: 4px;
	}

	form.valid button:not(:disabled):hover,
	form.valid button:not(:disabled):focus-visible {
		color: var(--color-blue);
		background-color: rgba(var(--blue), 0.15);
	}

	form.valid button:not(:disabled):active {
		background-color: rgba(var(--blue), 0.25);
	}
}

//
//	Max-heights
//

#local_options.shown {
	max-height: 400px;
}

#time_options.shown {
	max-height: 470px;
}

#main_options.shown {
	max-height: 580px;
}

#quicklinks_options.shown {
	max-height: 460px;
}

#notes_options.shown {
	max-height: 160px;
}

#location_options.shown,
#digital_options.shown,
#weather_provider.shown,
#searchbar_request.shown {
	max-height: 50px;
}

#analog_options.shown,
#unsplash_options.shown {
	max-height: 110px;
}

#searchbar_options.shown {
	max-height: 350px;
}

#quotes_userlist.shown,
#quotes_options.shown {
	max-height: 500px;
}

.as {
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.3s, padding 0.2s;
}

.all .as {
	overflow-y: clip;
}

.all .as_visuals {
	max-height: 220px;
}

.all .as_link {
	max-height: 360px;
}

.all .as_collection {
	max-height: 130px;
}

.all .as_timedate {
	max-height: 300px;
}

.all .as_searchbar {
	max-height: 160px;
}

.all .as_weather {
	max-height: 330px;
}

.all .as_clocktype {
	max-height: 130px;
}

.all .as_fonts {
	max-height: 300px;
}

.all .as_page {
	max-height: 340px;
}

.all .as_css {
	max-height: 3100px;
	padding-top: 4px;
}

.all .as_quote_type {
	max-height: 440px;
}

.all .as_updates,
.all .as_notes {
	max-height: 160px;
}

//
//	Components
//

.dropdown {
	overflow-y: hidden;
	max-height: 0;
	transition: max-height 0.3s;

	&.shown {
		overflow-y: clip;
	}
}

#mobile-drag-zone {
	display: none;
	width: 80%;
	margin: auto;
	padding: 2em 1em;
	z-index: 4;
	cursor: grab;

	hr {
		width: 80px;
		height: 0px;
		margin: auto;
		border-radius: 4px;
		border-top: 2.5px solid var(--color-border);
		border-bottom: 2.5px solid var(--color-border);
		transition: all 0.15s $easeOutThree;
	}

	@media (hover: hover) {
		&:hover hr {
			width: 100px;
		}
	}

	@media (hover: none) {
		&:active hr {
			width: 100px;
		}
	}
}

.settings-title {
	display: grid;
	place-items: baseline;
	grid-template-columns: 1fr min-content;
	margin: 2.2em 1.8em 1.2em;
	color: var(--color-light-text);
}

.settings-title .tooltip {
	background-color: var(--color-input);
	border-color: var(--color-focused);
}

.settings-title .tooltiptext {
	grid-column: 1 / 3;
}

#settings .tooltip {
	width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 100%;
	border: 1px solid;
	box-sizing: border-box;
	color: var(--color-light-text);
	border-color: var(--color-input);
	background-color: var(--color-areas);
	transition: background-color 0.1s, transform 0.1s;

	&:hover {
		background-color: var(--color-input);
	}

	@media (hover: hover) {
		&:active {
			transform: scale(1.2);
		}
	}

	@include allCentered();
}

.tooltiptext {
	color: var(--color-light-text);
	font-size: 13px;
	line-height: 1.4em;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s, margin 0.4s, padding 0.3s;

	&.shown {
		max-height: 60px;
	}
}

.settings-title .tooltiptext.shown {
	padding-top: 0.8em;
}

.param .tooltiptext.shown {
	padding-top: 4px;
}

.param {
	background-color: var(--color-param);
	padding: $settingsMargin 1.3em;
	border-radius: 10px;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 26px;
	padding: 4px 0;

	span {
		display: flex;
		align-items: center;
	}

	.tooltip {
		margin: 0 7px;
	}

	label {
		pointer-events: none;
	}
}

//
//	General
//

#tabtitle > div,
.freq_wrap > div {
	display: flex;
	width: 155px;
	column-gap: 4px;
}

#i_favicon {
	width: 33%;
	padding: 0;
	text-align: center;

	&::placeholder {
		opacity: 0.7;
		filter: grayscale(0.35);
	}
}

//
//	Links
//

#f_addlink {
	width: 66%;
}

#i_addlink-title {
	width: 40%;
}

//
//	Backgrounds
//

.refresh-btn {
	padding: 0 10px;
}

#custom_thumbnail {
	height: 100px;
}

#settings .uploadContainer {
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	min-width: 200px;
	line-height: 100px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	color: var(--color-areas-text);
	background-color: var(--color-areas);
	border: 1px dashed transparent;

	transform: scale(1);
	box-sizing: border-box;
	border-radius: 10px;
	pointer-events: all;

	input[type='file']#i_bgfile {
		position: absolute;
		display: block;
		overflow: hidden;
		top: 0;
		left: 0;
		opacity: 0;
		height: 100px;
		width: 100%;
		cursor: pointer;
	}

	&:hover,
	&:focus,
	&.dragover,
	&:active {
		transition: all 0.2s;
	}

	&:hover {
		background-color: var(--color-focused);
	}

	&.dragover {
		background-color: var(--color-blue);
		color: white;
		opacity: 1;
		transform: scale(1.03);
	}

	&:active {
		background-color: var(--color-input);
	}
}

#fileContainer {
	width: 100%;
	display: grid;
	max-height: 249px; // 3 thumbnails high
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-top: 10px;
	padding: 3px;
	overflow-y: auto;
	overflow-x: hidden;
}

.thumbnail {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	border-radius: 10px;
	outline: 3px solid transparent;
	background-color: var(--color-input);
	transition: opacity 0.1s, filter 0.1s, outline 0.1s;

	&.hiding {
		transform: scale(0.9);
		opacity: 0;
	}

	&.selected,
	&:hover {
		outline-color: var(--color-blue);
	}

	&:active {
		opacity: 0.8;
	}

	&:hover button {
		pointer-events: all;
		opacity: 1;
	}
}

.b_removethumb {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	padding: 0;
	opacity: 0;
	color: #222;
	background-color: #fff3;
	border-radius: 100%;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
	backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1em);
	transition: opacity 0.1s, background-color 0.1s;

	span {
		display: block;
		width: 100%;
	}

	&:focus-visible {
		opacity: 1;
	}

	&:hover {
		color: #000;
		background-color: #fff5;
		text-decoration: none;
	}
}

#thumbnail-show-buttons {
	display: none;
	align-items: center;
	justify-content: center;
	column-gap: 1em;
	padding-top: 0.5em;

	&.shown {
		display: flex;
	}
}

//
//	Time
//

#clockoptions {
	&.digital #w_clockface,
	&.analog #w_ampm {
		max-height: 0;
		opacity: 0;
	}
}

#w_clockface,
#w_ampm {
	opacity: 1;
	min-height: 0;
	height: 34px;
	max-height: 3em;
	overflow: hidden;
	transition: max-height 0s 0.2s, opacity 0.2s;
}

//
//	Weather
//

#f_location {
	width: 66%;
}

#i_ccode {
	width: 45%;
}

//
//	Quotes
//

#i_qtlist {
	width: 100%;
	min-height: 100px;
	max-height: 200px;
	margin-top: 0.5em;
	padding: 0.5em 1em;
	line-height: 1.5;
	resize: vertical;
	border-radius: 8px;
	color: var(--color-text);
	background-color: var(--color-areas);
}

//
//	Fonts
//

#i_customfont {
	text-transform: capitalize;
}

#i_weight option.hidden {
	display: none;
}

#e_weight,
#e_size {
	width: 50px;
}

//
//	Grid
//

.grid-btns {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: end;

	button {
		text-align: right;
	}
}

#grid-layout {
	display: flex;
	padding: 4px; // to offset outline
	column-gap: 1em;

	button {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 0;
		opacity: 0.7;
		width: 4em;
		border-radius: 4px;
		outline: 2px solid var(--color-placeholder);
		background-color: var(--color-input);

		span {
			height: 2em;
			width: 2px;
			background-color: var(--color-placeholder);
		}

		&.selected {
			outline-width: 3px;
		}

		&:hover,
		&:focus-visible,
		&.selected {
			opacity: 1;
			outline-color: var(--color-blue);
			background-color: rgba(var(--blue), 0.15);

			span {
				background-color: var(--color-blue);
			}
		}
	}
}

//
//	Settings management
//

#importexport .param {
	min-height: 192px;
	transition: min-height 0.2s;
}

.importexport-tabs {
	position: relative;
	display: flex;
	width: 220px;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 8.5px;
	background-color: var(--color-areas);
	align-items: center;
	direction: ltr;

	.glider {
		width: calc(50% - 3px);
		background-color: var(--color-blue);
		position: absolute;
		border-radius: 8.5px;
		z-index: 3;
		top: 3px;
		bottom: 3px;
		left: 3px;
		transition: transform 0.3s;
		transform: translateX(0%);
	}

	&.toggled .glider {
		transform: translateX(100%);
	}

	button {
		display: block;
		width: 50%;
		padding: unset;
		font-size: 13px;
		background-color: transparent;
		position: relative;
		text-decoration: none;
		transition: color 0.2s;
		height: 29px;
		border: none;
		border-radius: 8.5px;
		margin: 3px;
	}

	// When glider is under the button
	&.toggled #s_import,
	#s_export {
		color: white;
		z-index: 4;

		&:hover {
			background-color: unset;
		}
	}

	// When glider is not
	&.toggled #s_export,
	#s_import {
		color: var(--color-blue);
		z-index: 2;

		&:hover {
			background-color: var(--color-focused);
		}
	}
}

#import,
#export {
	overflow: hidden;
	height: 0px;

	&.shown {
		height: auto;
		overflow: visible;
	}
}

#export > div {
	display: flex;
	justify-content: space-around;
	margin-top: 12px;
}

#area_export {
	width: 100%;
	min-height: 100px;
	max-height: 3000px;
	padding: 0.65em 1.3em;
	font-size: 13px;
	line-break: anywhere;
	overflow-x: hidden;
	overflow-y: hidden;
	resize: vertical;
	border: none;
	will-change: transform;
	color: var(--color-text);
	background-color: var(--color-areas);
	box-sizing: border-box;
	tab-size: 1.5em;
	border-radius: 10px;

	&:hover,
	&:focus {
		overflow-y: auto;
	}
}

#downloadfile {
	display: none;
}

#exportSettings {
	position: absolute;
}

#import > div {
	display: flex;
	margin-top: 15px;
}

#import button:disabled {
	filter: grayscale(1) opacity(0.7);
	text-decoration: none;
	cursor: default;
	transition: filter 0.1s;
}

#i_importtext {
	flex: 1;
	margin-right: 1em;
	tab-size: 0.05em;
	background-color: var(--color-areas);

	&:focus {
		background-color: var(--color-focused);
	}
}

#resetContainer {
	margin-top: 1rem;

	.param {
		padding: $settingsMargin 1.3em;
	}

	#reset_conf,
	#reset_first {
		display: none;

		&.shown {
			display: flex;
		}
	}

	#reset_first {
		justify-content: center;
	}

	#b_resetno {
		color: var(--color-red);
	}
}

//
//	Footer
//

#settings-footer {
	color: var(--color-light-text);
	font-size: 14px;
	padding: 4em 3em 0 4em;
	margin-bottom: 100px;

	// Safari iOS only
	@supports (-webkit-touch-callout: none) {
		margin-bottom: 150px;
	}

	> div:first-child {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	> div:nth-child(2) {
		margin: 1.5em 0;
	}

	svg {
		height: 1.25em;
		fill: var(--color-blue);
	}
}

#settings-footer-links a {
	margin: 0 6px;
	transition: opacity ease-in 0.1s;
}

#settings-footer-links a:hover {
	text-decoration: none;
	opacity: 0.8;
}
