aside {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;
	right: -450px;
	height: 100vh;
	min-width: 333px;
	width: 450px;
	padding: 0 21px;
	background-color: var(--color-settings);
	color: var(--color-text);
	font-size: 15px;
	font-weight: 400;
	text-shadow: none;
	text-align: initial;
	overflow-y: scroll;
	overflow-x: hidden;
	touch-action: pan-y;
	box-sizing: border-box;
	transition: transform 0.4s, background-color 0.4s var(--out-cubic);
}

aside.shown {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.15);
}

aside.init .dropdown {
	transition: max-height 0s;
}

aside.see-through {
	opacity: 0.2;
}

aside hr {
	width: 100%;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid var(--color-input);
}

aside h1,
aside h2,
aside span {
	margin: 0;
}

aside h2 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.8em;
	letter-spacing: 1px;
}

aside #hideelem button,
aside .uploadContainer,
aside #submitSave,
aside #i_refresh,
aside #cssEditor,
aside .tooltip,
aside .param,
aside select,
aside input,
aside hr {
	transition-duration: 0.4s;
	transition-timing-function: var(--out-cubic);
	transition-property: background-color, color, border, border-color, transform;
}

aside .param-btn {
	height: 31px;
	padding: 0 1em;
	color: var(--color-blue);
	border: none;
	border-radius: 1em;
	background-color: rgba(var(--blue), 0.15);
	transition: background-color 0.1s, color 0.1s;
}

aside .param-btn:hover {
	background-color: rgba(var(--blue), 0.25);
}

aside .param-btn:hover.btn-red {
	color: var(--color-red);
	background-color: rgba(var(--red), 0.25);
}

aside .param-btn:disabled {
	opacity: 0.66;
	filter: grayscale(1);
	pointer-events: none;
}

aside .inline-btn {
	border-radius: 1em;
	color: var(--color-blue);
	background-color: transparent;
}

aside .inline-btn:hover {
	text-decoration: underline;
}

aside .input-btn {
	border-radius: 8px;
	text-decoration: none;
	color: var(--color-text);
	background-color: var(--color-input);
}

aside textarea,
aside .prism-code-editor {
	font-family: Consolas, Monaco, Ubuntu Mono, monospace;
}

aside select,
aside input,
aside button {
	border-radius: 8px;
	color: var(--color-text);
	-webkit-appearance: none;
	appearance: none;
}

aside input,
aside select {
	height: 31px;
	width: 155px;
	padding-inline: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: var(--color-input);
}

aside input::placeholder {
	color: var(--color-placeholder);
}

aside input[type='checkbox'] {
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

aside .switch {
	position: relative;
	display: inline-block;
	height: 31px;
	width: 51px;
	margin: 0;
	border-radius: 16px;
	border: 2px solid transparent;
	background-color: var(--color-input);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	overflow: visible;
}

aside .switch:hover {
	background-color: var(--color-focused);
	transition: background-color 0.15s;
}

aside .switch:after {
	content: '';
	position: absolute;
	height: 27px;
	width: 27px;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	box-shadow: 0px 1px 3px 2px rgba(20, 20, 20, 0.12);
	background-color: white;
	transition: background-color 0.3s, transform 0.3s;
}

aside .switch:checked {
	background-color: var(--color-green);
	transition: background-color 0.15s;
}

aside .switch:checked:hover {
	background-color: #40b354;
}

aside .switch:checked:after {
	transform: translateX(20px);
}

aside input::-webkit-calendar-picker-indicator {
	display: none !important;
}

aside input[type='range'] {
	position: relative;
	height: 2px;
	opacity: 1;
	margin: 0;
	padding: 0;
	cursor: grab;
	overflow: unset;
	border-radius: 1.5rem;
	background-color: #c8c7cc;
	-webkit-appearance: none;
	appearance: none;
}

aside input[type='range']:active {
	cursor: grabbing;
}

aside input[type='range']::-moz-range-track {
	height: 2px;
	border-radius: 50px;
	background: #c8c7cc;
}

aside input[type='range']::-moz-range-progress {
	height: 2px;
	background-color: #c8c7cc;
}

aside input[type='range']::-moz-range-thumb {
	background: #fff;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	border: 0;
	box-shadow: 0px 1px 3px 2px rgba(20, 20, 20, 0.12);
}

aside input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #fff;
	height: 20px;
	width: 20px;
	border: 0;
	border-radius: 50px;
	box-shadow: 0px 1px 3px 2px rgba(20, 20, 20, 0.12);
}

aside input[type='range']::-ms-thumb {
	margin: 0; /* Resets margin in Edge since it supports -webkit-slider-thumb as well */
}

aside input[type='range']::-ms-fill-lower {
	background: dodgerblue;
}

aside input[type='range']::-ms-thumb {
	background: #fff;
	border: 2px solid #999;
	height: 40px;
	width: 20px;
	box-sizing: border-box;
}

aside input[type='range']::-ms-ticks-after {
	display: none;
}

aside input[type='range']::-ms-ticks-before {
	display: none;
}

aside input[type='range']::-ms-track {
	background: #ddd;
	color: transparent;
	height: 40px;
	border: none;
}

aside input[type='range']::-ms-tooltip {
	display: none;
}

label.input-file {
	position: relative;
	display: block;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
}

label.input-file span {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 80%;
	margin: auto;
	transform: translateY(-50%);
	pointer-events: none;
}

input[type='file'] {
	height: 100px;
	width: 100%;
	color: transparent;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
}

input[type='file']::-webkit-file-selector-button,
input[type='file']::file-selector-button {
	display: none;
}

label.input-file:hover input[type='file'],
label.input-file:focus input[type='file'] {
	background-color: var(--color-focused);
}

label.input-file input[type='file'].dragover {
	background-color: var(--color-blue);
	transform: scale(1.02);
}

label.input-file input[type='file'].dragover ~ span {
	color: white;
}

aside form {
	display: flex;
	position: relative;
	align-items: center;
	width: 155px;
}

aside form > div {
	display: flex;
	gap: 4px;
	width: 100%;
}

aside form button {
	height: 31px;
	width: 100%;
	padding: 0;
	opacity: 0;
	max-width: 0;
	visibility: hidden;
	background-color: transparent;
	transition: opacity 0.1s, max-width 0.2s;
}

aside form button:disabled {
	cursor: default;
}

aside form button span {
	justify-content: center;
}

aside form.valid button {
	opacity: 1;
	pointer-events: all;
	max-width: 26px;
	margin-left: 4px;
	visibility: visible;
	color: var(--color-blue);
}

@media (hover: hover) {
	aside form.valid button:not(:disabled):hover,
	aside form.valid button:not(:disabled):focus-visible {
		background-color: rgba(var(--blue), 0.15);
	}
}

aside form.valid button:not(:disabled):active {
	background-color: rgba(var(--blue), 0.25);
}

.dropdown {
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
	transition: max-height 0.3s, padding 0.2s, visibility 0s 0.3s;
}

.all .as,
.dropdown.shown {
	visibility: visible;
	transition: max-height 0.3s, padding 0.2s, visibility 0s 0s;
}

#local_options.shown {
	max-height: 400px;
}

#time_options.shown {
	max-height: 470px;
}

#main_options.shown {
	max-height: 630px;
}

#quicklinks_options.shown {
	max-height: 460px;
}

#notes_options.shown {
	max-height: 180px;
}

#location_options.shown,
#digital_options.shown,
#weather_provider.shown,
#searchbar_request.shown {
	max-height: 60px;
}

#analog_options.shown,
#unsplash_options.shown {
	max-height: 110px;
}

#searchbar_options.shown {
	max-height: 420px;
}

#quotes_userlist.shown,
#quotes_options.shown {
	max-height: 450px;
}

.all .as_visuals {
	max-height: 220px;
}

.all .as_link {
	max-height: 360px;
}

.all .as_collection {
	max-height: 130px;
}

.all .as_timedate {
	max-height: 300px;
}

.all .as_searchbar {
	max-height: 180px;
}

.all .as_weather {
	max-height: 330px;
}

.all .as_clocktype {
	max-height: 130px;
}

.all .as_fonts {
	max-height: 300px;
}

.all .as_page {
	max-height: 380px;
}

.all .as_css {
	max-height: 3100px;
	padding-top: 4px;
}

.all .as_quote_type {
	max-height: 380px;
}

.all .as_updates,
.all .as_notes {
	max-height: 180px;
}

#mobile-drag-zone {
	position: sticky;
	display: none;
	top: 0;
	width: 100%;
	padding: 20px 12px 12px;
	cursor: grab;
	z-index: 4;
	box-sizing: border-box;
	transition: transform 0.4s;
}

#mobile-drag-zone div {
	width: 50px;
	height: 8px;
	margin: auto;
	border-radius: 4px;
	background-color: var(--color-focused);
}

.settings-title {
	display: grid;
	place-items: baseline;
	grid-template-columns: 1fr min-content;
	margin: 2.2em 1.8em 1.2em;
	color: var(--color-light-text);
}

.settings-title .tooltiptext {
	grid-column: 1/3;
}

aside .tooltip {
	width: 20px;
	min-width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 100%;
	border: 1px solid;
	box-sizing: border-box;
	color: var(--color-light-text);
	border-color: var(--color-input);
	background-color: var(--color-areas);
	transition: background-color 0.1s, transform 0.1s;
	display: flex;
	align-items: center;
	justify-content: center;
}

aside .tooltip:hover {
	background-color: var(--color-input);
}

aside .settings-title .tooltip {
	background-color: var(--color-input-outside);
	border-color: var(--color-focused);
}

@media (hover: hover) {
	aside .tooltip:active {
		transform: scale(1.2);
	}
}

.tooltiptext {
	color: var(--color-light-text);
	font-size: 13px;
	line-height: 1.5em;
	padding-left: 4px;
}

.tooltiptext.shown {
	max-height: 60px;
}

.settings-title .tooltiptext.shown {
	padding-top: 0.8em;
}

.param .tooltiptext.shown {
	padding-top: 4px;
}

.param {
	padding: 10px 16px;
	border-radius: 10px;
	background-color: var(--color-param);
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 26px;
	padding: 4px; /* for tabbing outline */
}

.wrapper span {
	display: flex;
	align-items: center;
}

.wrapper .tooltip {
	margin: 0 7px;
}

.wrapper label {
	pointer-events: none;
}

.split-inputs {
	display: flex;
	width: 155px;
	column-gap: 4px;
}

.freq_wrap select {
	width: 100%;
}

#i_favicon {
	width: 33%;
	padding: 0;
	text-align: center;
}

#i_favicon::placeholder {
	opacity: 0.7;
	filter: grayscale(0.35);
}

#i_tabtitle {
	width: 100%;
}

#f_addlink {
	width: 66%;
}

#i_addlink-title {
	width: 40%;
}

#b_showtitles,
#b_showbackgrounds {
	opacity: 0.7;
	padding: 0 4px;
	min-width: 30px;
	font-family: serif;
	text-align: center;
	background-color: transparent;
}

#b_showbackgrounds {
	display: flex;
	justify-content: center;
	align-items: center;
}

#b_showtitles span,
#b_showbackgrounds span {
	justify-content: center;
	align-items: center;
}

#b_showbackgrounds span {
	width: 14px;
	height: 14px;
	display: block;
	border-radius: 4px;
	border: 3px solid var(--color-text);
	box-sizing: border-box;
}

#b_showtitles.on,
#b_showbackgrounds.on {
	opacity: 1;
	background-color: var(--color-input);
}

.refresh-btn {
	padding: 0 10px;
}

#local_options label {
	padding: 0 4px;
}

#fileContainer {
	width: 100%;
	display: grid;
	max-height: 249px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-top: 10px;
	padding: 3px;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
}

.thumbnail {
	position: relative;
	height: 75px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	outline: 3px solid transparent;
	background-color: var(--color-input);
	transition: opacity 0.1s, filter 0.1s, outline 0.1s;
}

.thumbnail.hiding {
	transform: scale(0.9);
	opacity: 0;
}

.thumbnail.selected,
.thumbnail:hover {
	outline-color: var(--color-blue);
}

.thumbnail:active {
	opacity: 0.8;
}

.thumbnail:hover button {
	pointer-events: all;
	opacity: 1;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.b_removethumb {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	padding: 0;
	opacity: 0;
	color: #222;
	background-color: #fff4;
	border-radius: 100%;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
	backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1em);
	transition: opacity 0.1s, background-color 0.1s;
}

.b_removethumb span {
	display: block;
	width: 100%;
}

.b_removethumb:focus-visible {
	opacity: 1;
}

.b_removethumb:hover {
	color: #000;
	background-color: #fff8;
	text-decoration: none;
}

#thumbnail-show-buttons {
	display: none;
	align-items: center;
	justify-content: center;
	column-gap: 1em;
	padding-top: 0.5em;
}

#thumbnail-show-buttons.shown {
	display: flex;
}

#clockoptions.digital #w_clockface,
#clockoptions.analog #w_ampm {
	max-height: 0;
	opacity: 0;
}

#f_location {
	width: 66%;
}

#i_ccode {
	width: 45%;
}

#quotes_userlist .wrapper {
	flex-wrap: wrap;
}

#i_qtlist {
	width: 100%;
	height: 200px;
	margin-top: 20px;
	padding: 12px;
	font-size: 13px;
	line-height: 1.5;
	resize: none;
	border-radius: 8px;
	color: var(--color-text);
	background-color: var(--color-areas);
}

#i_customfont {
	text-transform: capitalize;
}

#i_weight option.hidden {
	display: none;
}

#e_weight,
#e_size {
	width: 50px;
}

.grid-btns {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: end;
}

.grid-btns button {
	text-align: right;
}

#grid-layout {
	display: flex;
	padding: 4px;
	column-gap: 1em;
}

#grid-layout button {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0;
	opacity: 0.7;
	width: 4em;
	border-radius: 4px;
	outline: 2px solid var(--color-placeholder);
	background-color: var(--color-input);
}

#grid-layout button span {
	height: 2em;
	width: 2px;
	background-color: var(--color-placeholder);
}

#grid-layout button.selected {
	outline-width: 3px;
}

#grid-layout button:hover,
#grid-layout button:focus-visible,
#grid-layout button.selected {
	opacity: 1;
	outline-color: var(--color-blue);
	background-color: rgba(var(--blue), 0.15);
}

#grid-layout button:hover span,
#grid-layout button:focus-visible span,
#grid-layout button.selected span {
	background-color: var(--color-blue);
}

/* Settings managment */

#settings-managment {
	position: relative;
}

#settings-managment.dragging-file {
	opacity: 0.5;
}
#settings-managment.dragging-file #file-import {
	position: absolute;
	display: initial;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: transparent;
}

#settings-data {
	font-size: 13px;
	width: 100%;
	height: 110px;
	min-height: 110px;
	max-height: 3000px;
	margin: 6px 0;
	padding: 10px 16px;
	tab-size: 1.5em;
	/* user-select: all; */
	text-overflow: ellipsis;
	overflow: hidden;
	resize: vertical;
	box-sizing: border-box;
	border-radius: 10px;
	color: var(--color-text);
	background-color: var(--color-areas);
}

[data-system='mac'] #settings-data {
	font-size: 12px;
}

#settings-data:hover,
#settings-data:focus {
	overflow-y: auto;
}

#file-import,
#file-download {
	display: none;
}

#settings-changes {
	margin-top: 5px;
	text-align: center;
}

#settings-changes.changes #b_settings-cancel,
#settings-changes #b_settings-copy {
	display: initial;
}

#settings-changes #b_settings-cancel,
#settings-changes.changes #b_settings-copy {
	display: none;
}

#reset-settings {
	margin-top: 1em;
}

#reset-conf,
#reset-first {
	display: none;
}

#reset-conf.shown,
#reset-first.shown {
	display: flex;
}

/* Footer */

#settings-footer {
	width: 75%;
	font-size: 14px;
	margin: 50px auto 100px;
	color: var(--color-light-text);
}

@supports (-webkit-touch-callout: none) {
	#settings-footer {
		margin-bottom: 150px;
	}
}

#settings-footer > div:first-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#settings-footer > div:nth-child(2) {
	margin: 1.5em 0;
}

#settings-footer svg {
	height: 1.25em;
	fill: var(--color-blue);
}

#settings-footer-links a {
	margin: 0 6px;
	transition: opacity ease-in 0.1s;
}

#settings-footer-links a:hover {
	text-decoration: none;
	opacity: 0.8;
}
