#settings .pro {
	display: none;
}


#interface.distract #linkblocks,
#interface.distract #sb_container,
#showSettings.distract {
	opacity: 0;
	transition: opacity .1s;
}

#interface #linkblocks,
#sb_container,
#showSettings {
	transition: opacity .1s;
}





@keyframes sbfade {
  from {
    opacity: 0;}
  to {
    opacity: .8;}
}

@keyframes editfade {
  from {
    opacity: 0;}
  to {
    opacity: 1;
    display: flex;
    }
}

#interface #sb_container.shown #searchbar {
	animation: sbfade .08s ease-in .0s 1 normal;
	opacity: .8;
}

#interface #sb_container.shown #searchbar:focus {
	opacity: 1;
}


#interface.pushed,
#edit_linkContainer.pushed {
	-webkit-transform: translateX(-10em);
	transform: translateX(-10em);
}

#settings.shown {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}


#edit_linkContainer {
	position: fixed;
	height: auto;
	width: auto;
	margin: auto;
	top: 35%;
	left: calc(50% - 150px);
	z-index: 1;
}

#edit_linkContainer.shown {
	animation: editfade .1s forwards;
}