#interface {
	--grid: '';
	display: grid;
	gap: 1em;
	grid-template-areas: var(--grid);

	&.move-edit {
		#element-mover {
			visibility: visible;

			> * {
				pointer-events: none;
				filter: grayscale(1);
				opacity: 0.4;
			}

			&.active > * {
				pointer-events: all;
				filter: unset;
				opacity: 1;
			}
		}

		#main,
		#time,
		#linkblocks,
		#sb_container,
		#notes_container,
		#quotes_container {
			z-index: 2;
			cursor: pointer;
			pointer-events: none;

			> * {
				// pointer-events: none;
				user-select: none;
			}
		}
	}

	.move-overlay {
		border: none;
		border-radius: 1em;
		background-color: #fff2;
		backdrop-filter: blur(1em);
		outline: 0.4em solid transparent;
		transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

		&.selected {
			background: #fff3;
			outline-color: var(--blue);
		}

		&:hover {
			background-color: #fff5;
		}
	}

	#move-overlay-time,
	#time {
		grid-area: time;
	}

	#move-overlay-main,
	#main {
		grid-area: main;
	}

	#move-overlay-searchbar,
	#sb_container {
		grid-area: searchbar;
	}

	#move-overlay-notes,
	#notes_container {
		grid-area: notes;
	}

	#move-overlay-quicklinks,
	#linkblocks {
		grid-area: quicklinks;
	}

	#move-overlay-quotes,
	#quotes_container {
		grid-area: quotes;
	}

	#main,
	#time,
	#linkblocks,
	#sb_container,
	#notes_container,
	#quotes_container {
		width: fit-content;
		height: fit-content;
		place-self: center;
	}

	#main,
	#time {
		padding: 3em 0;
	}
}

#element-mover {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: calc(2em + 100px); // because of .pushed interface
	top: 2em;
	gap: 2em;
	padding: 1em;
	padding-top: 2em;
	min-width: 12em;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 5px 5px 20px #2224;
	text-shadow: none;
	border-radius: 1em;
	visibility: hidden;
	cursor: grab;
	z-index: 3;
	transition: left 0.4s;

	color: #2a2222;

	@include frostedGlass($blur: 25px, $alpha: 0.7, $fbTint: 255, $fbAlpha: 1);

	> * {
		cursor: auto;
	}

	#mover-titles {
		h2 {
			margin-top: 10px;
			font-size: 18px;
		}

		h3 {
			font-weight: 400;
			font-size: 15px;
		}
	}

	h3 {
		opacity: 0.7;
	}

	h2 {
		text-transform: capitalize;
	}

	hr {
		border-color: #3334;
	}

	p {
		margin-bottom: 1em;
	}
}

.mover {
	display: grid;

	button {
		border: none;
		border-radius: 0.2em;
		min-width: 2.5em;
		color: #666;
		background-color: transparent;

		&.selected {
			background-color: #0072ee22;
			outline: 2px solid var(--blue);
		}

		&:disabled {
			opacity: 0.3;
			cursor: default;
		}

		&:hover:not(:disabled) {
			background-color: #fff4;
		}

		&:active:not(:disabled) {
			background-color: #fff5;
		}
	}
}

button.grid-spanner {
	display: block;
	width: 60%;
	margin: 0.3em auto;
	padding: 0.3em 1.2em;
	border: none;
	border-radius: 8px;
	outline: 2px solid transparent;
	background-color: #fff4;

	&:hover:not(:disabled) {
		background-color: #fff6;
	}

	&.selected:not(:disabled) {
		background-color: #0072ee22;
		outline-color: var(--blue);
	}

	&:disabled {
		cursor: default;
		opacity: 0.4;
	}
}

#grid-mover {
	place-content: center;
	grid-template-columns: 80px;

	> button {
		margin: 0 25px;
	}
}

#grid-spanner-container {
	display: none;

	&.active {
		display: block;
	}
}

#box-alignment-mover {
	place-content: center;
	grid-template-columns: repeat(3, 40px);
	grid-template-rows: repeat(3, 30px);
}

#text-alignment-mover {
	place-content: center;
	grid-template-columns: repeat(3, 40px);

	button {
		@include allCentered();

		img {
			padding: 5px;
			height: 15px;
		}
	}
}

#close-mover {
	display: block;
	width: 100%;
	border-radius: 6px;
	border: 3px solid transparent;
	background-color: transparent;
	text-align: left;
	padding: 2px 12px;
	outline: none;
	cursor: pointer;
	text-align: center;
}

#close-mover:focus-visible,
#close-mover:hover {
	color: white;
	background-color: #2c7be5;
}
