@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('../fonts/sf-pro-display-light-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_pro_displaythin';
    src: url('../fonts/sf-pro-display-thin-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	transition: all .2s;
}

/*pour le fade in*/
body {
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	animation: fade .3s;
	background-color: #222;
}

@keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
}

body, .showSettings button {
	margin: 0;
    cursor: default;
    color: white;
    text-shadow: 0 1px 15px rgba(0,0,0,0.5);

	font-family: sf_pro_displaylight;
	font-size: 16px;
	text-align: center;
}

p, h3 {
	margin: 0;
}

select {
	padding: .5em;
	cursor: pointer;
}

.background {
	z-index: -1;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #222;
	background-size: cover;
	background-position: center center;
	transform: scale(1.25); 
	transition: filter 0s;
}

.interface {
	min-height: 100vh;
	/*min-height: calc(100vh - 5em);
	padding-bottom: 5em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;*/

}
.interface.pushed {
	margin-left: -20em;
}

.time {
	padding: 3em 0;
}

#clock {
	font-family: sf_pro_displaythin;
	font-size: 6em;
}

.date {
	font-size: 1.5em;
}

.main {
	padding: 3em 0;
}

.greetings {
	font-size: 3em;
	font-weight: lighter;
}

.weather div {
	font-size: 1.5em;
}

.weather .hightemp {
	display: none;
}

div.w_widget {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.w_icon {
	opacity: 0;
	height: 60px;
	width: 60px;
	border: none;
	padding-right: 10px;
}

div.w_widget_text {
	font-size: 2em;
}

/* Searchbar section */

.searchbar_container {
	display: none;
	opacity: 0;
	width: 100%;
	padding: 2em 0;
}

.searchbar {
	opacity: 0.8;
	font-size: 1.5em;
	height: 50px;
	width: calc(100% - 2em);
	max-width: 500px;
	border: 0;
	border-radius: 4px;
	padding-left: 1em;
}

.searchbar:focus {
	opacity: 1;
}


div.linkblocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
	padding: 2em;
}

.block_parent {
	position: relative;
	margin: 1em;
}

.block_parent.removed {
	transform: scale(0);
	opacity: 0;
}

.block_parent img {
	width: 100%;
}

.block_parent .l_icon_wrap {
	width: 4.4em;
	height: 4.4em;
	margin: auto;
	position: relative;
	border-radius: 4px;
	background: white;
	border: .2em solid white;
	cursor: pointer;
}

.block_parent .l_icon_wrap:hover {
	border: .2em solid #007aff;
}

.block_parent .l_icon_wrap:active {
	filter: brightness(0.75);
}

.block_parent a {
	display: block;
	color: white;
	text-decoration: none;
}

.block_parent span {
	display: block;
	margin: .5em 0;
	max-width: 10em;
	word-wrap: break-word;
}

.block_parent button.remove {
	position: absolute;
	top: -1.2em;
	left: -1.2em;
	height: 30px;
	width: 30px;
	opacity: 0;
	border-radius: 100%;
	background: #ffffff;
	box-shadow: 0px 1px 10px 1.5px rgba(0, 0, 0, 0.3);
	z-index: 3;
	cursor: default;
}

.block_parent .remove.visible {
	cursor: pointer;
	opacity: 1;
}

.block_parent .remove:hover {
	background: #bbb;
}

.remove img {
	height: .9em;
	width: .9em;
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

/*Wiggle animation*/
@keyframes wiggle {
	0% {
		transform: rotate(-1.5deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: rotate(2deg);
		animation-timing-function: ease-out;
	}
}

.block.wiggly {
	animation-name: wiggle;
	animation-iteration-count: infinite;
	transform-origin: 50% 10%;
	animation-duration: .25s;
}

@keyframes keyframes2 {
	0% {
		transform: rotate(1deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: rotate(-1.5deg);
		animation-timing-function: ease-out;
	}
}



/*POPUP*/

#start_popup {
	transition: all .4s ease-in;
	z-index: 10;
	overflow: hidden;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	
	justify-content: center;
	align-items: center;

	color: #222;
	text-shadow: none;
}

.popup_window {
	overflow-x: hidden;
	transition: margin .4s ease-in;
	width: 600px;
	max-width: calc(100% - 2em);
	height: auto;
	border-radius: 8px;
	background-color: white;
}

.popup_line {
	display: flex;
	width: 600%;
	align-items: center;
	transition: margin .3s;
}

.popup {
	width: 100%;
	padding: 2em;
}

.popup .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.popup .wrapper > * {
	margin: 0 2em;
}

.popup3 .wrapper > * {
	margin: 0;
}

.popup h1 {
	color: black;
	font-size: 2em;
	text-shadow: none;
}


.popup p {
	text-align: justify;
	text-shadow: none;
	font-size: 22px;
	color: black;
	margin: 1em 0;
	line-height: 1.5em;
}

.popup span {
	font-size: 22px;
}

.popup #choose_searchengine span {
	margin: 0;
	margin-left: 30px;
}

.popup p a {
	text-decoration: none;
	color: #007aff;
}

.popup code {
	font-family: sf_pro_displaylight;
	font-size: .9em;
	color: #007aff;
	border: 1px solid #007aff;
	border-radius: 4px;
	padding: .1em .4em;
	margin: 0 .1em;
}

.popup input[name="title"],
.popup input[name="url"],
.popup input[name="city"] {
	font-size: 1.1em;
}

.popup input[name="url"]::placeholder {
	text-transform: lowercase;
}

.popup_param {
	margin: 2em auto;
	width: 75%;
}

.popup1 .wrapper {
	margin: 2em 0;
}

.popup2 .linkblocks {
	padding-bottom: 0;
}

.popup2 .linkblocks .block_parent .block p {
	text-align: center;
	margin: 0;
}

.popup6 img {
	width: 80%;
	border-radius: 4px;
}


/*le weather*/

.popup .city {
	display: flex;
	margin: .5em auto;
}

.popup .submitw_city {
	margin: .5em;
	white-space: nowrap;
}

.popup_param.change_weather .wrapper,
.popup .city {
	justify-content: space-between;
	max-width: 300px;
}

.popup .city {
	max-width: none;
}

.popup .weather .w_widget {
	margin-top: 1em;
}

.popup .weather .w_widget {
	margin-top: 1em;
}
.popup .weather .w_icon {
	padding: .5em;
	border-radius: 8px;
	background-color: #222;
	filter: none;
}

.popup .weather span.w_widget_temp {
	padding: 1rem;
	font-size: 3rem;
}





.popup4 .backgrounds {
	width: 50%;
}

.bonjourr_logo {
	width: 75%;
}

.popup .submitlink,
.popup .submitw_city {
	font-size: 1.1em;
	margin: .5em auto;
}

.popup_searchbar,
.popup_searchbar:focus {
	border: 2px solid #b8b8b8;
	margin-top: 2em;
}

.popup_buttons button {
	height: 50px;
	width: 130px;

	background-color: #007aff;
	color: white;
	font-size: 20px;
	border-radius: 8px;
}

.popup_buttons {
	padding: 0 2em 2em 2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.popup_buttons button:hover {
	filter: brightness(1.1);
}

.popup_buttons .counter span {
	color: #ccc;
	text-shadow: none;
	font-size: 2em;
}

.popup_buttons .counter span.actif {
	color: #007aff;
}

/*POPUP*/


/*dark mode */

body.dark,
body.dark .popup, 
body.dark .popup_window,
body.dark .popup .weather .w_icon {
	background-color: #1c1c1e;
}

body.dark .background {
	opacity: .75;
}

body.dark .popup p,
body.dark .popup h1,
body.dark .popup span {
	color: white;
}

body.dark .popup_buttons button {
	background-color: #007aff;
}


@media screen and (max-width: 700px) {
	body {font-size: 14px}
	div.interface {height: calc(100vh - 6em);margin: 1em 0 5em 0;}
}

/*@media screen and (max-height: 700px) {
	#clock {
		font-size: 5em;
	}

	.greetings {
		font-size: 2.25em;
	}

	.weather:nth-child(1) {
		font-size: 1em;
	}

	.date {
		font-size: 1.25em;
	}

	.w_widget_temp { font-size: 2.5rem; }

	.w_icon { height: 45px; }

	.searchbar {
		width: 300px;
		height: 40px;
	}

	.block_parent .l_icon_wrap {
		width: 3.5em;
		height: 3.5em;
	}

	.bonjourr_logo {
		width: 50%;
	}
}*/

@media screen and (max-height: 550px) {

	.time,
	.main {
		font-size: .7em;
		padding: 1em 0;
	}

	.w_icon {
		height: 50px;
		width: 50px;
	}

	div.w_widget {
		height: 70px;
	}

	.searchbar_container {
		padding: 1em 0;
	}

	.searchbar {
		height: 35px;
		max-width: 350px;
		font-size: 1em;
	}
}

@media screen and (min-height: 550px) {
	
	.main {
		padding: 1em 0;
	}


	.searchbar_container {
		padding: 1.5em 0;
	}

	.searchbar {
		height: 40px;
		max-width: 400px;
		font-size: 1.2em;
	}
}

@media screen and (max-height: 750px) {

	.time,
	.main {
		font-size: .8em;
	}

	div.w_widget {
		height: 80px;
	}

	.w_icon {
		height: 60px;
		width: 60px;
	}

	.block_parent .l_icon_wrap {
	    width: 3.3em;
	    height: 3.3em;
	}

	.block_parent button.remove {
		height: 25px;
		width: 25px;
	}

	.remove img {
		width: .7em;
		height: .7em;
	}

	.searchbar {
		height: 40px;
		max-width: 400px;
		font-size: 1.2em;
	}
}

@media screen and (min-height: 750px) {
	.main,
	.searchbar_container,
	.linkblocks {
		padding: 3em 0;
	}
}

@media screen and (min-height: 1100px) {

	.time,
	.main {
		padding: 6em 0;
	}
}

@media screen and (min-height: 1250px) {

	.time,
	.main {
		padding: 7em 0;
	}

	.searchbar_container {
		padding: 5em 0;
	}
}
