@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('../fonts/sf-pro-display-light-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_pro_displaythin';
    src: url('../fonts/sf-pro-display-thin-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	transition: all .2s;
}

body, .showSettings button {
	margin: 0;
    cursor: default;
    background: #666;
    color: white;
    text-shadow: 0 1px 15px rgba(0,0,0,0.5);

	font-family: sf_pro_displaythin;
	font-size: 16px;
	text-align: center;
}

@media screen and (min-width: 3000px) {
	body {font-size: 20px}
}

@media screen and (min-width: 2100px) {
	body {font-size: 18px}
}

@media screen and (max-width: 1400px) {
	body {font-size: 15px}
}

@media screen and (max-width: 700px) {
	body {font-size: 14px}
}




p, h3 {
	margin: 0;
}

.background {
	z-index: -1;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #eee;
	background-size: cover;
	background-position: center center;

	filter: blur(30px);
	transform: scale(1.1); 
}

.interface {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pushed {
	margin-left: -20em;
}


#clock {
	font-size: 6em;
}

.date {
	font-size: 1.5em;
}

.greetings {
	font-size: 3em;
	padding-bottom: 0.3em;
}

.weather p {
	font-size: 1.5em;
}

.w_desc_meteo {
	text-transform: capitalize;
}

.w_widget {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.w_icon {
	height: 60px;
	padding-right: 10px;
}

.w_widget_text {
	font-size: 3em;
}

.linkblocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.block {
	position: relative;
	display: inline-block;
	margin: 1em;
}

.block img {
	padding: .3em;
	width: 4.4em;
	height: 4.4em;
	border-radius: 4px;
	background: white;
}

.block img:hover {
	opacity: .6;
}
.block img:focus {
	opacity: .4;
}

.block a {
	display: block;
	color: white;
	text-decoration: none;
}

.block .remove {
	position: absolute;
	top: -10px;
	left: -12px;
	height: 30px;
	width: 30px;
	opacity: 0;
	border: none;
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
	box-shadow: 0px 1px 10px 1.5px rgba(0, 0, 0, 0.3);
}

.remove img {
	height: .9em;
	width: .9em;
	position:absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	
}
