@font-face {
	font-family: 'sf_pro_textregular';
	src: url('../fonts/sf-pro-text-regular-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.showSettings {
	position: fixed;
	bottom: .7em;
	right: .7em;
	z-index: 3;
}

.showSettings button {
	font-size: 1em;
	height: 56px;
	margin: .5em;
	padding: .5em;
	border: none;
	border-radius: 8px;
	color: white;
	background-color: transparent;
	cursor: pointer;
}

.showSettings button:hover {background: #777}

.showSettings button.shown {background: #aaa}
.showSettings button.shown img {transform: rotate(45deg)}
.showSettings button.shown:hover {background: #777}


.showSettings button img {
	width: 40px;
}

 .showSettings button img, .w_icon {
	filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.5));
 }



.settings {
	position: fixed;
	right: -20em;
	bottom: 0;
	z-index: 2;
	width: 20em;
	height: 100vh;
	overflow-y: auto;
	background-color: #efeff4;

	font-family: sf_pro_textregular!important;
	text-shadow: none;
	text-align: left;
	color: #222;

	box-shadow: 0px 1px 40px 1.5px rgba(0, 0, 0, 0.5);
}

.settings.shown {
	right: 0;
}

hr {
	border: none;
	border-bottom: 1px solid #c8c7cc;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-right: -1.3em;
	display: block;
}

h1, h5, span {
	margin: 0;
}

h1 {
	text-align: center;
	font-size: 1em;
}

.title {
	background-color : #ffffff;
	border-top: 1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc;
	padding: .5em 0;
}

.subtitle {
	margin: 1em 1.3em;
	color: #6d6d72;
	text-transform: uppercase;
	font-family: sf_pro_displaythin;
	letter-spacing: 0.04em;
}

.help_sentence {
	margin-top: 0.5em;
	font-size: 0.8em;
}

.span {
	display: block;
	font-size: 0.9em;
	padding-bottom: .5em;		
}

.units .span, .dynamic_bg .span {
	padding-top: .5em;
}

.choose_language .span {
	padding-bottom: 0px;
}

.param {
	background-color : #ffffff;
	border-top: 1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc;
	padding: .75em 1.3em;
}

	/* Background section */

.imgpreview, .bg_preview {
	overflow: hidden;
	height: 80px;
	width: 60px;
	border-radius: 4px;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	transition: border 0s, opacity .2s;
}

.imgpreview img {
	height: 80px;
	cursor: pointer;
	box-sizing: content-box;
}

.imgpreview:hover {
	border: 2px solid #007aff;
	width: 56px;
	height: 76px;
}
.imgpreview:active {
	border: 2px solid #007aff;
}

.selected {
	border: 2px solid #007aff;
	width: 56px;
	height: 76px;
	opacity: .8;
}

.choosable_backgrounds {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.custom_bg, .blur {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.custom_bg {
	margin-bottom: 1em;
}

.custom_bg input {
	width: calc(100% - 70px);
}

.custom_bg img {
	visibility: hidden;
}

	/* Inputs */

input:active, input:focus, a:hover, a:active, a:focus {
	border: 0!important;
}

input::-moz-focus-outer { 
	border: 0!important;
}

input[type="range"] { 
    position: relative;
    cursor: pointer;
}

/* Chrome & Safari */
::-webkit-slider-runnable-track {
    background: #b4b4b4;
    border-radius: 50px;
    height: 2px;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 0;
    box-shadow: 0px 1px 3px 1.5px #b8b8b8;

    margin: -9px; /* alignment fix */
}

input[type="range"]::-ms-thumb {
	margin: 0; /* Resets margin in Edge since it supports -webkit-slider-thumb as well */
}

/* Firefox */
::-moz-range-track {
    height: 2px;
    border-radius: 50px;
    background: #b4b4b4;
}

::-moz-range-progress {
	background-color: #0078fb;
	height: 2px;
	border-radius: 50px;
}

::-moz-range-thumb {
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 0;

	box-shadow: 0px 1px 3px 1.5px #b8b8b8;
}

/*Edge*/
::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

input[name="title"],
input[name="url"],
input[name="city"] {
	border-radius: 8.5px;
	border: 0;
	background-color: #e3e3e5;
	height: 2.35em;
	padding-left: .5em;
	margin-bottom: .5em;
}

input[name="title"] {
	width: calc(100% - .5em);
}

input[name="url"] {
	width: calc(100% - .5em);
}

.addlink button {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%
}

::placeholder {
	color: #7c7d7e;
	opacity: 1;
	text-transform: capitalize;
}

button {
	border:0;
	background-color: #fff;
	color: #007aff;
	cursor: pointer;
}

/*Switch*/
.switch {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 34px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 28px;
	width: 28px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
	box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
	background-color: #4bd663;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	transform: translateX(22px);
}

	/*Weather section*/

.units, .choose_language, .dynamic_bg {
	display: flex;
	justify-content: space-between;
}

.signature {
	padding-right: .5em;
	padding-left: .5em;
	margin-top: 5em;
	text-align: center;
	position: relative;
	bottom: 10px;
	color: #6d6d72;
	font-size: .8em;
}

.signature a {
	text-decoration: none;
	color: #007aff;
}

#rdv_website {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



/* Dark mode

.settings {
	background-color: black;
}

hr {
	border-bottom: 1px solid #3f3f41;
}

.subtitle {
	color: #929294;
	font-family: sf_pro_displaylight;
}

.param {
	background-color : #1c1c1e;
	color: white;
	border-top: 1px solid #3f3f41;
	border-bottom: 1px solid #3f3f41;
}

input[name="title"],
input[name="url"],
input[name="city"] {
	background-color: #39383d;
	color: white;
}

input[type="range"] {
	background-color: #1c1c1e;
}

.title {
	background-color : #1c1c1e;
	color: white;
	border-top: 0;
	border-bottom:0;
}

::-moz-range-thumb {
	box-shadow:none;
}

::placeholder {
	color: #929294;
}

button {
	background-color: #1c1c1e;
}

.slider {
	background-color: #39383d;
}

.signature {
	color: #929294;
}

*/
