@import '../../node_modules/pocket-editor/dist/style';
@import 'global';

@import 'features/time';
@import 'features/main';
@import 'features/searchbar';
@import 'features/notes';
@import 'features/links';
@import 'features/quotes';

#skiptosettings {
	position: absolute;
	top: 1em;
	left: 1em;
	opacity: 0;
	user-select: none;
	touch-action: none;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 0.5em 1em;
	background-color: #222;
	transition: opacity 0.15s $easeOutThree;
	z-index: -1;

	&:focus-visible {
		opacity: 1;
		z-index: initial;
	}
}

#background_overlay {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: var(--app-height);
	min-height: 100lvh;
	overflow: hidden;
	opacity: 0;
	transition: transform 0.4s, opacity 0.4s;
}

#background-bis,
#background {
	transform: scale(1.1) translateX(0px);
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	transition: opacity 1s $easeOutThree;
	filter: blur(var(--background-blur)) brightness(var(--background-brightness));
	z-index: 1;
}

#background-bis {
	z-index: 0;
}

#interface {
	position: relative;
	display: grid;
	width: 100%;
	gap: var(--page-gap);
	max-width: var(--page-width);
	min-height: 100vh;
	padding: 4em 1em 6em 1em;
	margin: 0 auto;
	box-sizing: border-box;
	will-change: transform;
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	transition: opacity var(--load-time-transition), transform 0.4s;
	text-shadow: 1px 2px 6px rgba(0, 0, 0, var(--text-shadow-alpha));
	grid-template-areas: var(--grid);

	&.pushed {
		transform: translateX(-100px);
	}
}

.move-edit {
	#main,
	#time,
	#linkblocks,
	#sb_container,
	#notes_container,
	#quotes_container {
		z-index: 3;
		cursor: pointer;
		pointer-events: none;

		> * {
			user-select: none;
		}
	}
}

#main,
#time,
#linkblocks,
#sb_container,
#notes_container,
#quotes_container {
	place-self: center;
}

#creditContainer,
#showSettings {
	position: fixed;
	pointer-events: all;
	transition: opacity 0.4s;
}

#creditContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 0;
	padding-left: 2.2em;
	padding-bottom: 2.2em;
	max-width: 50%;
	display: flex;
	align-items: center;
	pointer-events: none;
	font-family: var(--font-family);
	font-weight: var(--font-weight);

	&.shown {
		opacity: 1;
		pointer-events: all;

		&:hover .exif {
			opacity: 1;
		}
	}
}

#credit {
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	color: #fff9;

	a {
		color: #fff9;
		text-decoration: none;
	}

	a:hover {
		color: #fffe;
	}
}

.exif {
	opacity: 0;
	transition: opacity 0.4s;
}

#showSettings {
	position: fixed;
	bottom: 0;
	right: 0;
	padding-right: 1.5em;
	padding-bottom: 1.5em;
	z-index: 3;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 4em;
		width: 4em;
		padding: 0;
		border-radius: 8px;
		background-color: transparent;
		backdrop-filter: blur(0);
		-webkit-backdrop-filter: blur(0);
		cursor: pointer;
		transition: background-color 0.6s $easeOutThree;
	}

	img {
		width: 2.6em;
		transition: transform 0.6s $easeOutThree;
	}

	&.he_hidden {
		display: flex;
		opacity: 0;

		&.shown {
			opacity: 0.5;
		}

		&:hover {
			opacity: 1;
		}
	}

	&:hover {
		img {
			transform: rotate(15deg);
		}
	}

	&.shown {
		button {
			background-color: #aaa6;
			backdrop-filter: blur(1em);
			-webkit-backdrop-filter: blur(1em);

			&:hover {
				opacity: 1;
				background-color: #6666;
			}
		}

		img {
			transform: rotate(60deg);
		}
	}
}

#error {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: auto;
	pointer-events: all;
	top: 5%;
	left: 5%;
	width: calc(90% - 100px);
	max-width: 500px;
	padding: 50px;
	opacity: 0;
	color: #fff;
	border-radius: 20px;
	background-color: #0002;
	backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em);
	transition: opacity 0.4s;
	z-index: 1;

	pre {
		width: calc(100% - 32px);
		overflow: hidden;
		user-select: all;
		pointer-events: all;
		padding: 8px 16px;
		text-align: left;
		background-color: #1114;
		margin-top: 3em;
	}

	textarea {
		width: calc(100% - 32px);
		height: 100px;
		padding: 8px 16px;
		color: #fff;
		font-size: 13px;
		white-space: pre;
		resize: vertical;
		overflow-x: hidden;
		border: none;
		font-family: monospace;
		background-color: #1114;
	}

	a {
		color: #fff;
	}

	button {
		cursor: pointer;
		padding: 5px 10px;
		border-radius: 5px;
		border: none;
		background-color: var(--color-red);
		color: #fff;
	}

	.error-explain {
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.error-buttons {
		display: flex;
		justify-content: space-around;
		width: 300px;
	}

	.error-buttons-close {
		background-color: var(--color-blue);
	}
}

@import 'features/grid';
@import 'features/editlink';
@import 'features/bookmarks';
@import 'components/popup';
@import 'components/dialog';
@import 'components/superinput';
@import 'settings';
@import 'responsive';
