/* <!> Global must be imported first */
@import './_global';

/*
 * "Global" is the interface itself and its classes
 *  Other files are blocks and dialogs that appears on the interface
 */
@import './interface/global.css';
@import './interface/background.css';
@import './interface/showsettings.css';
@import './interface/credits.css';
@import './interface/error.css';
@import './interface/opera.css';
@import './interface/popup';

/*
 * "Global" is the settings menu itself and its classes
 * "Other" are not reused small single styling
 * "Blocks" are not reusable parts of the settings menu
 * "Reusables" are inputs, hr, titles, etc
 * "Dedicated" dropdowns folder for easy update
 */
@import './settings/global.css';
@import './settings/other.css';
@import './settings/dropdowns.css';
@import './settings/dragzone.css';
@import './settings/notifications.css';
@import './settings/backgrounds.css';
@import './settings/management.css';
@import './settings/footer.css';
@import './settings/inputs.css';
@import './settings/tooltips.css';

/* Components that can be used anywhere (interface or settings) */
@import './components/dialog';
@import './components/networkform';

/* Baked-in features and dialogs */
@import './features/time';
@import './features/main';
@import './features/searchbar';
@import './features/links';
@import './features/quotes';
@import './features/grid';
@import './features/editlink';
@import './features/bookmarks';
@import './features/csseditor';
@import './features/dragposition';

/* <!> Responsive must be imported last */
@import './_responsive';
