@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('../fonts/sf-pro-display-light-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_pro_displaythin';
    src: url('../fonts/sf-pro-display-thin-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	transition: all .2s;
}

body, button {
	margin: 0;
	background-color: black;
    cursor: default;
    color: white;
    text-shadow: 0 1px 15px rgba(0,0,0,0.5);

	font-family: sf_pro_displaythin;
	text-align: center;
}

p, h3 {
	margin: 0;
}

.background {
	z-index: -1;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #222;
	background-size: cover;
	background-position: center center;

	filter: blur(30px);
	transform: scale(1.1); 
}

.showSettings {
	text-align: left;
}

.showSettings button,
.settings button {
	font-size: 1.2em;
	margin: .5em;
	padding: .3em;
	border: none;
	border-radius: 2px;
	background: transparent;
	color: white;
	cursor: pointer;
}

.showSettings button:hover,
.settings button:hover {
	background: rgba(12,12,12,.5);
}

.settings {
	display: none;
	text-align: left;
	padding: 1em;
}

.settings h5 {
	font-size: 1.2em;
	margin: 1rem 0;
}

.settings .change_background .bg_preview {
	width: 10em;
	padding: .5em;
	border: 2px dashed white;
	border-radius: 4px;
}

.settings input {
	height: 1em;
	margin: .5em;
	padding: .5em;
	background: rgba(240,240,240,.5);
	border: none;
	border-radius: 4px;
}

.settings .param {
	display: flex;
	align-items: center;
}


#clock {
	font-size: 6em;
}

.date {
	font-size: 1.5em;
}

.main {
	padding-top: 4em;
}

.greetings {
	font-size: 3em;
	padding-bottom: 0.3em;
}

.weather p {
	font-size: 1.5em;
}

.w_description {
	text-transform: capitalize;
}

.w_widget {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.w_icon {
	height: 60px;
	padding-right: 10px;
}

.w_widget_text {
	font-size: 3em;
}








.linkblocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2em;
}

.block {
	position: relative;
	display: inline-block;
	margin: 1em;
}

.block img {
	padding: 1em;
	width: 3em;
	border-radius: 4px;
	background: white;
}

.block img:hover {
	opacity: .6;
}
.block img:focus {
	opacity: .4;
}

.block a {
	display: block;
	color: white;
	text-decoration: none;
}

.block .remove {
	position: absolute;
	top: 0;
	right: 0;
	width: 2em;
	height: 2em;
	opacity: 0;
	border: none;
	border-radius: 100%;
	background: rgba(12,12,12,.5);
	font-weight: bold;
	cursor: pointer;
}