@import '../../node_modules/pocket-editor/dist/style';
@import 'global';

#skiptosettings {
	position: absolute;
	top: 1em;
	left: 1em;
	opacity: 0;
	user-select: none;
	touch-action: none;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 0.5em 1em;
	transition: opacity 0.15s $easeOutThree;

	@include frostedGlass($alpha: 0.2, $fbAlpha: 0.2, $fbColor: #fff);

	&:focus-visible {
		opacity: 1;
	}
}

#background_overlay {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: var(--app-height);
	min-height: -webkit-fill-available;
	overflow: hidden;
	opacity: 0;
	transition: transform 0.4s, opacity 0.4s;

	#background-bis,
	#background {
		transform: scale(1.1) translateX(0px);
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		transition: opacity 1s $easeOutThree;
		z-index: 1;

		// only for Safari
		// @media not all and (min-resolution: 0.001dpcm) {
		// 	@supports (-webkit-appearance: none) and (stroke-color: transparent) {
		// 		transform: translateZ(0);
		// 	}
		// }
	}

	#background-bis {
		z-index: 0;
	}
}

#interface {
	position: relative;
	display: grid;
	gap: 1em;
	width: 100%;
	max-width: var(--page-width);
	min-height: 100vh;
	padding: 4em 1em 6em 1em;
	margin: 0 auto;
	box-sizing: border-box;
	will-change: transform;
	transition: opacity var(--load-time-transition), transform 0.4s;
	text-shadow: 1px 2px 6px rgba(0, 0, 0, var(--text-shadow-alpha));
	grid-template-areas: var(--grid);

	&.pushed {
		transform: translateX(-100px);
	}

	&.move-edit {
		#main,
		#time,
		#linkblocks,
		#sb_container,
		#notes_container,
		#quotes_container {
			z-index: 3;
			cursor: pointer;
			pointer-events: none;

			> * {
				user-select: none;
			}
		}
	}

	#main,
	#time,
	#linkblocks,
	#sb_container,
	#notes_container,
	#quotes_container {
		place-self: center;
	}

	// clock & date
	#time {
		position: relative;

		&:before {
			box-shadow: 0px 0px 100px 40px #2224;
		}

		&.hidden {
			display: none;
		}

		// here because its cleaner to overrite with custom css
		.zero::before {
			content: '0';
		}

		#time-container {
			#clock {
				margin: 0;
				margin-bottom: 0.1em;
				font-size: 6em;
				line-height: 1em;
				font-weight: 200;

				&.hidden {
					display: none;
				}
			}

			#analogClock {
				position: relative;
				width: 8em;
				height: 8em;
				margin: auto;
				margin-bottom: 2em;
				border-radius: 100%;
				border: 0.2em solid white;
				box-shadow: $textShadow;

				@include frostedGlass($alpha: 0.2, $fbAlpha: 0.2, $fbColor: #fff);

				&:hover {
					background: rgba(255, 255, 255, 0.2);
				}

				&.hidden {
					display: none;
				}

				#center {
					position: absolute;
					z-index: 5;
					width: 0.4em;
					height: 0.4em;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: white;
					border-radius: 100px;
				}

				.numbers {
					position: absolute;
					display: block;
					opacity: 0.6;
					width: 100%;

					&.top {
						top: 10px;
						text-align: center;
					}

					&.right {
						top: 40%;
						right: 10px;
						text-align: right;
					}

					&.bottom {
						bottom: 10px;
						text-align: center;
					}

					&.left {
						top: 40%;
						left: 10px;
						text-align: left;
					}
				}

				// aiguilles
				span {
					background: white;
					border-radius: 20px;
					bottom: 50%;
					display: block;
					width: 0.2em;
					left: 50%;
					margin-left: -0.1em;
					position: absolute;
					transform-origin: bottom center;
					box-shadow: $textShadow;

					&#hours {
						height: 30%;
					}

					&#minutes {
						height: 45%;
					}

					&#analogSeconds {
						height: 45%;
						width: 0.1em;
						margin-left: -0.05em;
						opacity: 0.8;
						background-color: red;

						&.hidden {
							display: none;
						}
					}
				}
			}
		}

		#date {
			font-size: 1.5em;
		}
	}

	// greetings & weather
	#main {
		position: relative;

		&.hidden {
			display: none;
		}

		&:before {
			box-shadow: 0px 0px 150px 40px #2224;
		}

		#greetings {
			font-size: 3em;
			font-weight: inherit;
			margin: 0;
			width: 100%;
			min-width: 300px;
			max-width: 16em;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		#weather {
			position: relative;
			width: 100%;

			#description {
				font-size: 1.5em;
				min-height: 1.5em;

				#forecast {
					display: none;

					&.shown {
						display: block;
					}
				}

				#current,
				#forecast {
					min-height: 1.2em;
				}
			}

			#tempContainer {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-top: 1em;
				min-height: 3.3em;

				img {
					object-fit: contain;
					height: 3.3em;
					width: 3.3em;
					border: none;
					padding-right: 10px;
				}

				p {
					font-size: 2.2em;
				}
			}

			#tempContainer,
			#forecast,
			#current {
				transition: opacity 0.8s;

				&.wait {
					opacity: 0;
				}
			}
		}
	}

	@import './features/notes.scss';

	#linkblocks {
		display: flex;
		visibility: visible;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 0;
		min-height: 6em;
		column-gap: 2.6em;
		row-gap: calc(2.6em - 1.7em); // (min-height + margin-top of title)
		transition: max-height 0.5s, max-width 0.18s $easeOutThree, visibility 0s 0s;

		&.hidden {
			display: none;
		}

		&.dragging {
			li {
				pointer-events: none;
			}
		}

		li.block {
			width: 4.8em;
			transition: transform 0.3s cubic-bezier(0.68, -0.2, 0.265, 1.2);

			&.dragging-clone {
				position: fixed;
				top: 0;
				left: 0;
				opacity: 1 !important;
				pointer-events: none;
				will-change: transform;
				z-index: 4;

				&.on {
					transition: none;
				}
			}

			&.removed {
				width: 0 !important;
				margin: 0 -1.3em;
				opacity: 0;
				overflow: hidden;
				transition: width 0.3s $easeOutThree 0.3s, margin 0.3s $easeOutThree 0.3s, opacity 0.3s $easeOutThree;

				img {
					transition: transform 0.3s $easeOutThree;
					transform: scale(0.6);
				}
			}

			a {
				position: relative;
				opacity: 1;
				color: white;
				cursor: pointer;
				border: none;
				border-radius: 1em; // for outline
				text-decoration: none;
				background-color: transparent;
				transition: width 0.18s $easeOutThree;
				-webkit-touch-callout: none;
				display: flex;
				flex-direction: column;
				align-items: center;

				img {
					position: relative;
					overflow: hidden;
					width: 100%;
					padding: 0.4em;
					background: $purewhite;
					box-shadow: $textShadow;
					box-sizing: border-box;
					border-radius: 1em;
					z-index: 1;
					aspect-ratio: 1;
					transition: transform 0.1s linear, box-shadow 0.1s, width 0.3s, border-radius 0.18s $easeOutThree;

					&.selected {
						border-color: var(--blue);
						transform: scale(1.1);
						filter: brightness(0.85);
					}

					@media (hover: hover) {
						&:hover {
							border-color: var(--blue);
							box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
							transform: scale(1.1);
						}
					}

					&:active {
						filter: brightness(0.85);
						transform: scale(1.04);
						transition: border-color 0.1s, filter 0.1s, transform 0.1s;
					}
				}

				span {
					// link title
					position: relative;
					display: block;
					padding-top: 0.4em;
					line-height: 1.3em;
					min-height: 1.3em;
					max-height: 3.9em;
					z-index: 2;
				}
			}
		}

		&.medium {
			min-height: 5em;
			column-gap: 2em;

			li {
				width: 3.5em;

				a img {
					padding: 0.3em;
					border-radius: 0.8em;
				}
			}
		}

		&.small {
			min-height: 2em;
			gap: 2em;

			li {
				width: 2.5em;

				&:hover span {
					opacity: 1;
					visibility: visible;
				}

				a {
					display: inline;
				}

				a img {
					padding: 0.2em;
					border-radius: 0.4em;
				}

				a span {
					position: absolute;
					visibility: hidden;
					top: 1.6em;
					left: 50%;
					transform: translateX(-50%);
					padding: 0.2em 0.6em;
					opacity: 0;
					color: white;
					font-size: 0.9em;
					min-height: 1em;
					max-height: 3em;
					line-height: 1em;
					white-space: nowrap;
					text-shadow: none;
					overflow: visible;
					border-radius: 0.3em;
					border: 1px solid rgba(255, 255, 255, 0.075);
					transition: opacity 0.2s;

					@include frostedGlass($alpha: 0.2);

					&:empty {
						display: none;
					}
				}
			}

			&.removed {
				margin-right: -1em;
				margin-left: -1em;
			}
		}

		&.text {
			gap: 2em;
			min-height: 2em;
			justify-content: flex-start;

			li {
				width: auto;

				a img {
					display: none;
				}

				span {
					width: 100%;
					max-width: 20em;
					margin-left: 0; // because of 140% / -20%, can be removed in the future
					font-size: 1.5em;
					text-overflow: ellipsis;
					white-space: pre;
					border-radius: 8px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	// search bar
	#sb_container {
		position: relative;
		display: flex;
		visibility: visible;
		align-items: center;
		padding: 0;
		width: fit-content;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

		&.hidden {
			display: none;
		}

		#searchbar {
			height: 2.5em;
			width: 100%;
			max-width: 40em;
			min-width: 15em;
			padding: 0 7em 0 1em;
			border-radius: 10px;
			color: #fff;
			font-size: 1.3em;
			font-family: $fonts;
			background-color: transparent;
			border: 1px solid rgba(255, 255, 255, 0.075);

			@include frostedGlass($alpha: var(--searchbar-background-alpha), $fbAlpha: var(--searchbar-background-alpha));

			&::placeholder {
				transition: opacity 0.2s;
				text-transform: none;
				color: #fff9;
			}
		}

		#sb-buttons {
			position: absolute;
			display: flex;
			right: 0;
			opacity: 0;
			padding-right: 0.8em;
			pointer-events: none;
			transition: opacity 0.2s;

			&.shown {
				opacity: 1;
				pointer-events: all;
			}

			button {
				border: none;
				color: #fff;
				font-size: inherit;
				border-radius: 0.5em;
				background-color: transparent;
				transition: opacity 0.2s, filter 0.1s, transform 0.1s;

				&:hover {
					filter: brightness(0.9);
				}

				&:active {
					filter: brightness(0.8);
				}
			}

			hr {
				margin: 0.4em 1.4em 0.4em 1em;
				border-right: 1px solid #fff4;
			}

			#sb_submit {
				padding: 0.3em 1em;
				background-color: #fff4;

				&:active {
					transform: scale(0.94);
				}

				img {
					margin-top: 3px;
					height: 1.2em;
				}
			}
		}

		&.opaque {
			#searchbar,
			#sb-buttons button {
				color: #3a3b3c;
			}

			#searchbar::placeholder {
				color: #3a3b3c55;
			}

			#sb-buttons hr {
				border-color: #3a3b3c55;
			}

			#sb-buttons #sb_submit {
				background-color: #2222221a;

				img {
					filter: invert(1);
					opacity: 0.7;
				}
			}
		}
	}

	#quotes_container {
		display: block;
		row-gap: 1em;
		width: 50vw;
		max-width: 45em;
		min-width: 20em;
		-webkit-user-select: text;
		-moz-user-select: text;
		user-select: text;
		cursor: initial;

		&.hidden {
			display: none;
		}

		&:hover #author {
			opacity: 1;
		}

		#quote {
			font-size: 1.5em;
			line-height: 1.5em;
			max-height: calc(1.5em * 6);
			margin-bottom: 0.75em;
			overflow-y: clip;
		}

		#author {
			opacity: 0;
			font-size: 1.2em;
			transition: opacity 0.4s;

			&.always-on {
				opacity: 1;
			}
		}
	}
}

// footer
#creditContainer,
#showSettings {
	position: fixed;
	pointer-events: all;
	transition: opacity 0.4s;
}

#creditContainer {
	bottom: 0;
	left: 0;
	opacity: 0;
	padding: 0 0 36px 24px;
	max-width: 50%;
	display: flex;
	align-items: center;
	pointer-events: none;

	&.shown {
		opacity: 1;
		pointer-events: all;

		&:hover #credit .exif {
			opacity: 1;
		}
	}

	#credit {
		text-align: left;

		.exif {
			opacity: 0;
			transition: opacity 0.4s;
		}

		a,
		p,
		span {
			font-size: 13px;
			color: #fff9;
			text-decoration: none;
			transition: color 0.1s;
		}

		a:hover {
			color: #fffe;
		}
	}
}

#showSettings {
	padding: 0 24px 24px 0;
	bottom: 0;
	right: 0;
	z-index: 3;

	button {
		position: relative;
		height: 53px;
		width: 53px;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		padding: unset;
		background-color: transparent;
		transition: background-color 0.6s $easeOutThree;
		@include allCentered();

		img {
			width: 65%;
			transition: transform 0.6s $easeOutThree;
			will-change: transform;
		}
	}

	&.he_hidden {
		display: flex;
		opacity: 0;

		&.shown {
			opacity: 0.5;
		}

		&:hover {
			opacity: 1;
		}
	}

	&:hover {
		img {
			transform: rotate(15deg);
		}
	}

	&.shown {
		button {
			@include frostedGlass($tint: 160, $fbTint: 160, $fbAlpha: 0.4);

			img {
				transform: rotate(60deg);
			}

			&:hover {
				opacity: 1;
				@include frostedGlass($tint: 80, $fbTint: 80, $fbAlpha: 0.4);
			}
		}
	}

	&.hasUpdated:before {
		opacity: 1;
	}

	&.hasUpdated.shown:before {
		opacity: 0;
	}

	&:before {
		content: '';
		position: absolute;
		opacity: 0;
		width: 10px;
		height: 10px;
		left: 2px;
		top: 2px;
		background-color: #35c759;
		border-radius: 100%;
		z-index: 10;
		transition: opacity 0.3s;
	}
}

#bookmarks_container {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	font-size: 16px;
	opacity: 0;
	transition: opacity 0.4s;
	backdrop-filter: blur(40px) brightness(0.9);
	z-index: 4;

	&.shown {
		@keyframes animShow {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		display: inline-flex;
		animation: animShow 0.4s forwards;
	}

	&.hiding {
		@keyframes animHide {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

		animation: animHide 0.4s forwards;
	}
}

#bookmarks,
#editlink {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	@include frostedGlass($blur: 25px, $alpha: 0.7, $fbTint: 255, $fbAlpha: 1);

	hr {
		border-color: #3334;
	}

	button {
		border-radius: 6px;
		border: 3px solid transparent;
		background-color: transparent;
		text-align: left;
		padding: 2px 12px;
		color: #2a2222;
		outline: none;
		cursor: pointer;

		&:focus-visible,
		&:hover {
			color: white;
			background-color: #2c7be5;

			&#e_delete,
			&:first-child {
				color: white;
				background-color: #e64b43;
			}
		}
	}
}

#bookmarks {
	margin: auto;
	padding: 1.5em;

	ol {
		margin: 0;
		padding: 0;
		max-height: 50vh;
		overflow-y: auto;
		overflow-x: hidden;
		list-style-type: none;

		li {
			position: relative;
			width: 40vw;
			max-width: 500px;
			min-width: 300px;
			margin: 10px;
			padding: 15px;
			padding-left: 3.5em;
			color: #222c;
			text-align: left;
			border-radius: 8px;
			border: 1px solid transparent;
			transition: background-color 0.05s, border-color 0.05s;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 15px;
				width: 25px;
				height: 25px;
				border-radius: 25px;
				background-color: var(--blue);
				transform: translateY(-50%) scale(0.2);
				transition: transform 0.05s;
				filter: grayscale(1);
			}

			p,
			pre {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			p {
				line-height: 1.5em;
				font-size: 0.9em;
				font-weight: bold;

				img {
					width: 1.5em;
					height: 1.5em;
					margin-right: 0.5em;
					vertical-align: bottom;
				}
			}

			pre {
				font-size: 0.8em;
				margin: 0.4em 0 0 0;
			}

			&.selected {
				color: #222;
				background-color: #fff6;
				border-color: rgba(255, 255, 255, 0.3);

				&:before {
					filter: none;
					transform: translateY(-50%) scale(1);
					background: var(--blue) no-repeat center/12px url('/src/assets/interface/checkmark.svg');
				}
			}
		}
	}

	// no bookmark warning
	h3 {
		display: none;
		color: #222d;
	}

	> div {
		display: flex;
		justify-content: space-between;
		margin: 2em 1em 0 1em;
	}

	button {
		color: #2c7be5;
		transition: filter 0.4s;

		&:first-child {
			color: #e64b43;
		}

		&#bmk_apply.none {
			pointer-events: none;
			filter: grayscale(1);
		}
	}

	&.noneFound {
		min-width: 260px;

		h3 {
			display: block;
		}

		> div {
			justify-content: center;
		}

		#bmk_apply {
			display: none;
		}
	}
}

#editlink {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 220px;
	padding: 1em;
	box-shadow: 0px 0px 15px #0004;
	transform: translate(-254px, -172px);
	transition: left 0.4s;
	z-index: 4;

	&.shown {
		display: block;
	}

	&.hiding {
		opacity: 0;
		transition: opacity 0.2s, left 0.4s;
	}

	input[type='text'],
	input[type='url'] {
		width: 100%;
		height: 2.4em;
		padding: 0 1em;
		border: 3px solid transparent;
		border-radius: 8px;
		box-sizing: border-box;
		background-color: transparent;
		transition: background-color 0.1s;
		color: #3339;
		outline: #007aff66;

		&:focus {
			color: #222;
			border: 3px solid #007aff66;
			background-color: #fff3;
			transition: background-color 0.1s;
		}

		&::placeholder {
			color: #3339;
		}
	}

	button {
		display: block;
		width: 100%;
		border-radius: 6px;
		border: 3px solid transparent;
		text-align: left;
		padding: 2px 12px;
		color: #2a2222;
		outline: none;
		cursor: pointer;
	}
}

#popup {
	display: flex;
	position: fixed;
	bottom: 4rem;
	left: 4rem;
	z-index: 2;
	transition: opacity 0.4s;
	pointer-events: none;

	#popup_buttons a,
	#popup_text {
		pointer-events: all;
		opacity: 0;
		transition: opacity 0.2s, background-color 0.2s, color 0.2s;
	}

	&.shown {
		#popup_buttons a,
		#popup_text {
			opacity: 1;
			cursor: pointer;
			transition: opacity 2s, background-color 0.2s, color 0.2s, transform 0.2s;
		}
	}

	#popup_buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 9em;

		a {
			color: white;
			text-decoration: none;
			border-radius: 8px;
			line-height: 2.4em;
			border: 1px solid rgba(255, 255, 255, 0.075);
			transform: scale(1);

			@include frostedGlass($alpha: 0.2, $blur: 10px, $fbTint: 255, $fbAlpha: 0.95, $fbColor: rgb(94, 94, 94));

			&:hover {
				@include frostedGlass($alpha: 0.1, $blur: 10px, $fbTint: 255, $fbAlpha: 0.8, $fbColor: rgb(94, 94, 94));
				transform: scale(1.03);
			}

			&:active {
				@include frostedGlass($alpha: 0.6, $blur: 10px, $fbAlpha: 0.6, $fbColor: white);
			}

			&:first-child {
				margin-bottom: 0.4em;
			}
		}
	}

	#popup_text {
		display: flex;
		position: relative;
		align-items: center;
		width: 16em;
		text-align: left;
		padding: 0.6em 2em;
		margin-right: 0.6em;
		border-radius: 8px;
		// border: 1px solid rgba(245, 245, 245, 0.2);
		@include frostedGlass($alpha: 0.2, $blur: 10px, $fbTint: 255, $fbAlpha: 0.95, $fbColor: rgb(94, 94, 94));
		border: 1px solid rgba(255, 255, 255, 0.075);

		&::before {
			content: '×';
			position: absolute;
			left: calc(50% - 0.5em);
			top: 50%;
			width: 1em;
			height: 1em;
			font-size: 2.2em;
			line-height: 0.8em;
			opacity: 0;
			color: #fff;
			text-align: center;
			transform: translateY(-50%);
			transition: opacity 0.4s, filter 0.2s;
		}

		&:hover {
			color: transparent;
			@include frostedGlass($alpha: 0.1, $blur: 10px, $fbTint: 255, $fbAlpha: 0.8, $fbColor: transparent);

			&::before {
				opacity: 1;

				@-moz-document url-prefix() {
					color: rgb(94, 94, 94);
				}
			}
		}

		&:active {
			@include frostedGlass($alpha: 0, $blur: 10px, $fbAlpha: 0.1, $fbColor: transparent);

			&::before {
				opacity: 1;
				filter: brightness(0.8);
			}
		}
	}
}

#error {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: auto;
	pointer-events: all;
	top: 5%;
	left: 5%;
	width: calc(90% - 100px);
	max-width: 500px;
	padding: 50px;
	opacity: 0;
	color: #fff;
	border-radius: 20px;
	transition: opacity 0.4s;
	z-index: 1;

	@include frostedGlass($tint: 12, $fbTint: 12, $blur: 40px, $alpha: 0.2, $fbAlpha: 0.8, $fbColor: #222);

	pre {
		width: calc(100% - 32px);
		overflow: hidden;
		user-select: all;
		pointer-events: all;
		padding: 8px 16px;
		text-align: left;
		background-color: #1114;
		margin-top: 3em;
	}

	textarea {
		width: calc(100% - 32px);
		height: 100px;
		padding: 8px 16px;
		color: #fff;
		font-size: 13px;
		white-space: pre;
		resize: vertical;
		overflow-x: hidden;
		border: none;
		font-family: monospace;
		background-color: #1114;
	}

	a {
		color: #fff;
	}

	button {
		cursor: pointer;
		padding: 5px 10px;
		border-radius: 5px;
		border: none;
		background-color: $red;
		color: #fff;
	}

	.error-explain {
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.error-buttons {
		display: flex;
		justify-content: space-around;
		width: 300px;
	}

	.error-buttons-close {
		background-color: var(--blue);
	}
}

@import 'settings';
@import 'grid';
@import 'dark';
@import 'responsive';
