.refresh-btn {
	padding: 0 8px;
	display: flex;
	align-items: center;
}

.refresh-btn svg {
	height: 15px;
}

.freq_wrap select {
	width: 100%;
}

#local_options label {
	padding: 0 4px;
}

#lbl_background-upload {
	pointer-events: all;
}

#lbl_background-upload span {
	display: block;
	padding: 0 1em;
	height: 31px;
	font-size: 13px;
	line-height: 31px;
	cursor: pointer;
}

#i_background-upload {
	display: none;
}

#thumbnails-container {
	--thumbnails-columns: 3;
	display: grid;
	width: 100%;
	max-height: 300px;
	overflow: auto;
	grid-template-columns: repeat(var(--thumbnails-columns), 1fr);
}

.thumbnail {
	position: relative;
	height: calc(230px / var(--thumbnails-columns));
	margin: 3px;
	padding: 0;
	overflow: hidden;
	border: none;
	outline: 3px solid transparent;
	outline-offset: -3px;
	background-color: var(--color-input);
	transition: opacity 0.05s, filter 0.05s, outline 0.05s;
}

.thumbnail.hiding {
	transform: scale(0.9);
	opacity: 0;
}

.thumbnail.selected,
.thumbnail:hover {
	outline-color: var(--color-blue);
}

.thumbnail:active {
	opacity: 0.8;
}

.thumbnail:hover button {
	pointer-events: all;
	opacity: 1;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#thumbnail-action-buttons {
	column-gap: 8px;
}

#thumbnail-action-buttons .wrapper {
	justify-content: center;
}
