#bookmarks {
	width: calc(100% - 4em);
	max-width: 900px;
	min-height: 30vh;
	padding: 0em;
	border-radius: 1em;
	opacity: 0;
	transition: opacity 0.2s;
}

#bookmarks[open] {
	opacity: 1;
}

#bookmarks::backdrop {
	backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1em);
	background-color: #2226;
	transition: opacity 0.2s;
}

#bookmarks.noneFound {
	min-width: 260px;
}

#bookmarks.noneFound #bmk_apply {
	display: none;
}

#bookmarks-container {
	max-height: 60vh;
	overflow-y: auto;
	padding: 0 2em 1em;
	will-change: backdrop-filter;
}

#bookmarks-intro {
	max-width: 600px;
	padding: 2em 2em 0;
	margin: auto;
}

#bookmarks-buttons {
	padding: 2em 0 1em;
	justify-content: center;
}

#bookmarks-buttons button {
	width: fit-content;
}

#bmk_apply {
	background-color: var(--color-blue);
}

#bmk_apply:disabled {
	background-color: transparent;
}

#bmk_apply:focus-visible,
#bmk_apply:hover {
	filter: brightness(1.2);
}

.bookmarks-folder {
	background-color: #fff1;
	border: 2px solid #fff1;
	border-radius: 8px;
	margin-bottom: 16px;
	padding: 16px;
}

.bookmarks-folder.selected {
	border-color: var(--color-blue);
	background-color: rgba(var(--blue), 0.15);
}

.bookmarks-folder.selected li {
	user-select: none;
	pointer-events: none;
}

.bookmarks-folder.used {
	user-select: none;
	pointer-events: none;
	opacity: 0.3;
}

.bookmarks-folder.reserved .b_bookmarks-folder-sync {
	display: none;
}

.bookmarks-folder-title {
	display: flex;
	justify-content: space-between;
	margin: 0 16px 24px 16px;
}

#bookmarks h2 {
	text-align: left;
	margin: 2em 1em 1em;
}

#bookmarks h3 {
	text-transform: capitalize;
	margin: 0;
}

#bookmarks ol {
	display: grid;
	gap: 4px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

#bookmarks li {
	border-radius: 8px;
	border: 2px solid transparent;
	transition: background-color 0.05s, border-color 0.05s;
	user-select: none;
}

#bookmarks li.selected {
	border-color: var(--color-blue);
	background-color: rgba(var(--blue), 0.15);
}

#bookmarks li.selected button:hover {
	background-color: rgba(var(--blue), 0.15);
}

#bookmarks li button {
	width: 100%;
	padding: 4px;
	transition: background-color 0.05s;
}

#bookmarks li button:hover {
	color: var(--color-text);
	background-color: #fff2;
}

#bookmarks li button p:last-child {
	opacity: 0.6;
	font-weight: normal;
}

#bookmarks img {
	display: block;
	margin: auto;
	margin-bottom: 0.5em;
	width: 40px;
	height: 40px;
	border-radius: 8px;
}

#bookmarks p {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 0.9em;
	font-weight: bold;
}
