#editlink {
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0;
	width: 240px;
	padding: 6px;
	margin: 0;
	z-index: 4;
	transition: opacity 0.05s;
}

#editlink.shown {
	opacity: 1;
}

#editlink label {
	width: 100%;
	opacity: 0.7;
	column-gap: 4px;
	margin-top: 6px;
	padding-inline: 12px 4px;
	place-items: center;
	grid-template-columns: 42px 1fr;
	box-sizing: border-box;
}

#editlink label span {
	font-size: 12px;
	justify-self: start;
	max-width: 45px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#editlink label:focus-within {
	opacity: 1;
}

#editlink select,
#editlink input {
	color: var(--color-text);
	width: 100%;
	height: 2.3em;
	padding: 0 10px;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: transparent;
}

#editlink input[type='file'] {
	line-height: 30px;
}

#editlink input::placeholder {
	color: var(--color-dialog-input-text);
}

#editlink input:focus {
	opacity: 1;
	color: var(--color-text);
	background-color: var(--color-dialog-input-bg);
	outline: 3px solid rgba(var(--blue), 0.5);
	outline-offset: -2px;
	transition: background-color 0.1s;
}

#editlink button {
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 4px 12px;
	font-weight: 400;
	gap: 0.5em;
}

#editlink button svg {
	height: 18px;
}

/* Active buttons and inputs */

#editlink hr,
#editlink label,
#editlink button {
	display: none;
}

#editlink hr.on,
#editlink button.on {
	display: flex;
}

#editlink label.on {
	display: grid;
}
