.move-overlay {
	position: relative;
	border: none;
	border-radius: 1em;
	background-color: #fff2;
	backdrop-filter: blur(2em);
	/*-webkit-backdrop-filter: blur(2em);*/
	outline: 0.4em solid transparent;
	transition: background-color 0.05s var(--out-cubic);
	z-index: -1;
}

.move-overlay.selected {
	background-color: rgba(var(--blue), 0.15);
	outline-color: var(--color-blue);
}

#move-overlay-time,
#time {
	grid-area: time;
}

#move-overlay-main,
#main {
	grid-area: main;
}

#move-overlay-searchbar,
#sb_container {
	grid-area: searchbar;
}

#move-overlay-notes,
#notes_container {
	grid-area: notes;
}

#move-overlay-quicklinks,
#linkblocks {
	grid-area: quicklinks;
}

#move-overlay-quotes,
#quotes_container {
	grid-area: quotes;
}

#move-overlay-pomodoro,
#pomodoro_container {
	grid-area: pomodoro;
}

:root[data-theme='light'] #text-alignment-mover button,
:root[data-theme='light'] #box-alignment-mover button,
:root[data-theme='light'] #grid-mover button {
	color: var(--color-light-text);
}

.move-overlay:not(:hover) > ul {
	/*display: none;*/
}

.move-overlay ul {
	padding: 0;
	margin: 0;
}

.move-overlay ul li {
	position: absolute;
	z-index: 3;
}

/*
 * Move overlay grid
 */

.move-overlay ul li button {
	color: white;
	width: calc(100% - 0.8em);
	height: calc(100% - 0.8em);
	padding: 0.6em;
	margin: 0.4em;
	border-radius: 0.5em;
	background-color: transparent;

	&:hover {
		background-color: #fff2;
	}
}

.move-overlay-grid li:nth-child(1) {
	left: 2px;
	right: 2px;
}

.move-overlay-grid li:nth-child(4) {
	top: 2px;
	bottom: 2px;
	left: 2px;
}
.move-overlay-grid li:nth-child(2) {
	top: 2px;
	bottom: 2px;
	right: 2px;
}
.move-overlay-grid li:nth-child(3) {
	left: 2px;
	right: 2px;
	bottom: 2px;
}

/*
 * Move overlay alignments
 */

.move-overlay [type='range'] {
	position: relative;
	appearance: none;
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	background: transparent; /* Otherwise white in Chrome */
}

.move-overlay input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	width: 10px;
	background: #fff;
	cursor: pointer;
	margin: -4px;
}

.move-overlay input[type='range']::-webkit-slider-runnable-track {
	height: 2px;
	width: 2px;
	background: #fff6;
}

.move-overlay .move-overlay-align li {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.move-overlay .move-overlay-align input {
	width: 100%;
	margin-inline-start: 0.5em;
	max-width: 10em;
}

.move-overlay .move-overlay-align li:nth-child(1) {
	top: 4em;
	left: 4em;
	bottom: 4em;
	flex-direction: column;

	label img {
		width: 20px;
		height: 20px;
	}
}

.move-overlay .move-overlay-align li:nth-child(2) {
	bottom: 6em;
	left: 8em;

	label img {
		width: 20px;
		height: 20px;
	}
}

.move-overlay .move-overlay-align li:nth-child(3) {
	bottom: 4em;
	left: 8em;

	label img {
		width: 16px;
		height: 16px;
		padding: 2px;
	}
}

input[name='move-align-vertical'] {
	height: 100%;
	writing-mode: vertical-lr;
}

/*
 * Move overlay grow multiple
 */

.move-overlay .move-overlay-grow div {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.move-overlay .move-overlay-grow div:hover {
	background-color: var(--color-blue);
}

.move-overlay .move-overlay-grow li:nth-child(1) {
	top: 0;
	left: 1em;
	right: 1em;
	height: 2px;
	cursor: n-resize;
	margin-bottom: 1em;
}
.move-overlay .move-overlay-grow li:nth-child(3) {
	bottom: 0;
	left: 1em;
	right: 1em;
	height: 2px;
	cursor: s-resize;
	margin-top: 1em;
}
.move-overlay .move-overlay-grow li:nth-child(2) {
	right: 0;
	top: 1em;
	bottom: 1em;
	width: 2px;
	cursor: e-resize;
	margin-left: 1em;
}
.move-overlay .move-overlay-grow li:nth-child(4) {
	left: 0;
	top: 1em;
	bottom: 1em;
	width: 2px;
	cursor: w-resize;
	margin-right: 1em;
}
