#link-title {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1em;
	margin-top: 2em;

	div {
		cursor: pointer;
		border-radius: 8px;
		opacity: 0.7;

		&.selected,
		&:hover,
		&:hover input {
			opacity: 1;
		}
	}

	div.selected input {
		background-color: #fff1;
		z-index: auto;
	}

	div,
	input {
		border-radius: 8px;
	}

	input {
		min-width: 3em;
		max-width: 32ch;
		padding: 0.3em 1em;
		font-size: 1.3em;
		font-weight: bolder;
		color: white;
		border: none;
		text-align: center;
		border: 1px solid transparent;
		background-color: transparent;

		// cannot click on div below without this
		position: relative;
		z-index: -1;

		&:focus-within {
			border-color: #fff4;
			background-color: #fff1;
			backdrop-filter: blur(1em);
		}

		&::placeholder {
			color: #fffa;
		}
	}
}

#link-list {
	display: inline-flex;
	visibility: visible;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-radius: 1em;
	border: 1px solid #fff1;
	padding: 1em;
	margin: 0;
	min-height: 6em;
	min-width: 6em;
	column-gap: 2.6em;
	row-gap: calc(2.6em - 1.7em); // (min-height + margin-top of title)
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-property: background-color, border-color, opacity;
}

li.block.folder {
	cursor: pointer;

	> div {
		display: grid;
		column-gap: 4px;
		height: 4.8em;
		grid-template-columns: 1fr 1fr;
		border-radius: 1em;
		background-color: #fff3;
		border: 1px solid #fff4;
		backdrop-filter: blur(1em);
		padding: 0.3em;
		box-sizing: border-box;
		transition: transform 0.1s linear;

		img {
			border-radius: 4px;
			padding: 2px;
			width: 100%;
			box-sizing: border-box;
			background-color: white;
		}
	}

	&:hover > div {
		transform: scale(1.1);
	}

	&:active > div {
		transform: scale(1.05);
	}
}

li.block {
	position: relative;
	width: 4.8em;
	z-index: 1;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.68, -0.2, 0.265, 1.2);
	transition-property: transform, opacity;

	&.dragging-clone {
		position: fixed;
		top: 0;
		left: 0;
		opacity: 1 !important;
		pointer-events: none;
		will-change: transform;
		z-index: 4;

		&.on {
			transition: none;
		}
	}

	&.removed {
		width: 0 !important;
		margin: 0 -1.3em;
		opacity: 0;
		overflow: hidden;
		transition: width 0.3s $easeOutThree 0.3s, margin 0.3s $easeOutThree 0.3s, opacity 0.3s $easeOutThree;

		a > div {
			transition: transform 0.3s $easeOutThree;
			transform: scale(0.6);
		}
	}

	a {
		position: relative;
		opacity: 1;
		color: white;
		cursor: pointer;
		text-decoration: none;
		background-color: transparent;
		transition: width 0.18s $easeOutThree;
		-webkit-touch-callout: none;

		// these are for outline
		border-radius: 1em;
		display: flex;
		align-items: center;
		flex-direction: column;

		img {
			position: relative;
			overflow: hidden;
			width: 4.8em;
			height: 4.8em;
			padding: 0.3em;
			background-color: white;
			box-shadow: $textShadow;
			box-sizing: border-box;
			border-radius: 1em;
			transition: transform 0.1s linear;

			@media (hover: hover) {
				&:hover {
					border-color: var(--color-blue);
					box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
					transform: scale(1.1);
				}
			}

			&:active {
				transform: scale(1.05);
				transition: border-color 0.1s, filter 0.1s, transform 0.1s;
			}
		}
	}

	span {
		display: block;
		width: 100%;
		padding-top: 0.4em;
		line-height: 1.3em;
		min-height: 1.3em;
		max-height: 3.9em;
		overflow: hidden;
		z-index: 2;
	}
}

#linkblocks {
	&.hidden {
		display: none;
	}

	&.dragging {
		li {
			pointer-events: none;
		}
	}

	&.select-all {
		li.block:not(.selected) {
			filter: grayscale(1) brightness(0.6);
		}

		li.block:active div,
		li.block:hover div,
		li.block:not(.folder):active img,
		li.block:not(.folder):hover img {
			transform: none;
		}

		li.block.selected div,
		li.block.selected:not(.folder) img {
			outline: 4px solid var(--color-blue);
		}
	}

	&.in-folder {
		#link-list {
			background-color: #fff1;
			border: 1px solid #fff4;
			backdrop-filter: blur(2em);
		}

		#link-title div:not(:first-child) {
			display: none;
		}
	}

	&.hiding {
		#link-list {
			opacity: 0;
		}

		.block {
			transform: scale(0.9);
		}
	}
}

//
//  Link alternative styles
//

#linkblocks.medium {
	#link-list {
		min-height: 5em;
		column-gap: 2em;
	}

	li {
		width: 3.5em;

		div,
		a img {
			width: 3.5em;
			height: 3.5em;
			padding: 0.3em;
			border-radius: 0.8em;
		}
	}
}

#linkblocks.small {
	#link-list {
		min-height: 2em;
		gap: 1.5em;
	}

	li {
		width: 2.5em;

		div,
		a img {
			width: 2.5em;
			height: 2.5em;
		}

		&:hover span {
			opacity: 1;
			visibility: visible;
		}

		div,
		a img {
			padding: 0.2em;
			border-radius: 0.4em;
		}

		span {
			position: absolute;
			visibility: hidden;
			width: max-content;
			max-width: 7em;
			top: 3em;
			left: 50%;
			transform: translateX(-50%);
			padding: 0em 0.6em;
			opacity: 0;
			color: white;
			font-size: 0.9em;
			text-shadow: none;
			border-radius: 0.3em;
			background-color: #fff3;
			border: 1px solid rgba(255, 255, 255, 0.075);
			transition: opacity 0.2s;

			@include frostedGlass();

			&:empty {
				display: none;
			}
		}
	}

	&.removed {
		margin-right: -1em;
		margin-left: -1em;
	}
}

#linkblocks.text {
	gap: 2em;
	min-height: 2em;
	justify-content: flex-start;

	li {
		width: auto;

		div,
		img {
			display: none;
		}

		span {
			width: 100%;
			max-width: 20em;
			margin-left: 0; // because of 140% / -20%, can be removed in the future
			font-size: 1.5em;
			text-overflow: ellipsis;
			white-space: pre;
			border-radius: 8px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//
//	Stacked folder icons for medium and small styles
//

#linkblocks.medium,
#linkblocks.small {
	li.folder div {
		position: relative;
		display: block;
	}

	li.folder img {
		display: none;
		position: absolute;
		width: 60%;
		padding: 1px;
	}

	li.folder img:nth-child(1) {
		display: block;
		top: 25%;
		left: 25%;
	}

	li.folder img:nth-child(2) {
		display: block;
		top: 15%;
		left: 15%;
	}
}

//
//  Editlink states
//

#linkblocks.select-all #editlink hr,
#linkblocks.select-all #editlink #e_delete,
#linkblocks.select-all #editlink #e_submit,
#linkblocks.select-all #editlink .edit-inputs {
	display: none;
}

#linkblocks.in-folder #editlink #e_folder-sel {
	display: none;
}

#linkblocks:not(.select-all) #editlink #e_delete-sel,
#linkblocks:not(.select-all) #editlink #e_folder-sel,
#linkblocks:not(.select-all) #editlink #e_folder-remove-sel {
	display: none;
}
