#link-tab-indicator {
	display: flex;
	column-gap: 0.6em;
	padding: 0.5em;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
	transition: opacity 0.4s;

	hr {
		width: 0;
		border-radius: 4px;
		border: 4px solid white;
		margin: 3px 0 0 0;
	}

	span {
		font-weight: 900;
	}
}

#link-group-title {
	margin-top: 0.5em;
	padding: 0.3em 1em;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 8px;
	color: white;
	font: inherit;
	text-align: center;
	font-size: 1.3em;

	&:focus-within {
		background-color: #fff1;
		border-color: #fff3;
		backdrop-filter: blur(1em);
	}

	&::placeholder {
		color: white;
		opacity: 0.5;
	}
}

#link-group-wrapper {
	display: flex;
}

.link-group {
	width: 100%;
	padding: 0 1em;

	ul {
		display: flex;
		visibility: visible;
		flex-wrap: wrap;
		justify-content: center;
		border-radius: 1em;
		border: 1px solid transparent;
		padding: 1em;
		margin: 0;
		min-height: 7em;
		column-gap: 2.6em;
		row-gap: calc(2.6em - 1.7em); // (min-height + margin-top of title)
		transition-duration: 0.2s;
		transition-timing-function: linear;
		transition-property: background-color, border-color, opacity;
	}
}

li.block.folder > div {
	display: grid;
	column-gap: 4px;
	height: 4.8em;
	grid-template-columns: 1fr 1fr;
	border-radius: 1em;
	background-color: #fff3;
	border: 1px solid #fff4;
	backdrop-filter: blur(1em);
	padding: 0.3em;
	box-sizing: border-box;
	transition: transform 0.1s linear;
	cursor: pointer;

	img {
		border-radius: 4px;
		padding: 2px;
		width: 100%;
		box-sizing: border-box;
		background-color: white;
	}

	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(1.05);
	}
}

li.block {
	position: relative;
	width: 4.8em;
	z-index: 1;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.68, -0.2, 0.265, 1.2);
	transition-property: transform, opacity;

	&.dragging-clone {
		position: fixed;
		top: 0;
		left: 0;
		opacity: 1 !important;
		pointer-events: none;
		will-change: transform;
		z-index: 4;

		&.on {
			transition: none;
		}
	}

	&.removed {
		width: 0 !important;
		margin: 0 -1.3em;
		opacity: 0;
		overflow: hidden;
		transition: width 0.3s $easeOutThree 0.3s, margin 0.3s $easeOutThree 0.3s, opacity 0.3s $easeOutThree;

		a > div {
			transition: transform 0.3s $easeOutThree;
			transform: scale(0.6);
		}
	}

	a {
		position: relative;
		opacity: 1;
		color: white;
		cursor: pointer;
		border: none;
		border-radius: 1em; // for outline
		text-decoration: none;
		background-color: transparent;
		transition: width 0.18s $easeOutThree;
		-webkit-touch-callout: none;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			position: relative;
			overflow: hidden;
			width: 100%;
			padding: 0.3em;
			background: white;
			box-shadow: $textShadow;
			box-sizing: border-box;
			border-radius: 1em;
			aspect-ratio: 1;
			transition: transform 0.1s linear, box-shadow 0.1s, width 0.3s, border-radius 0.18s $easeOutThree;

			@media (hover: hover) {
				&:hover {
					border-color: var(--color-blue);
					box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
					transform: scale(1.1);
				}
			}

			&:active {
				transform: scale(1.05);
				transition: border-color 0.1s, filter 0.1s, transform 0.1s;
			}
		}
	}

	span {
		width: 100%;
		padding-top: 0.4em;
		line-height: 1.3em;
		min-height: 1.3em;
		max-height: 3.9em;
		overflow: hidden;
		z-index: 2;
	}
}

#linkblocks {
	&.hidden {
		display: none;
	}

	&.dragging {
		li {
			pointer-events: none;
		}
	}

	&.in-folder {
		.link-group ul {
			background-color: #fff1;
			border: 1px solid #fff4;
			backdrop-filter: blur(2em);
		}
	}

	&.opening-folder {
		.link-group ul {
			opacity: 0;
		}

		.block {
			transform: scale(0.9);
		}
	}

	&.opening-folder,
	&.in-folder {
		#link-tab-indicator {
			opacity: 0;
		}
	}

	&.medium {
		min-height: 5em;
		column-gap: 2em;

		li {
			width: 3.5em;

			a img {
				padding: 0.3em;
				border-radius: 0.8em;
			}
		}
	}

	&.small {
		min-height: 2em;
		gap: 2em;

		li {
			width: 2.5em;

			&:hover span {
				opacity: 1;
				visibility: visible;
			}

			a {
				display: inline;
			}

			a img {
				padding: 0.2em;
				border-radius: 0.4em;
			}

			a span {
				position: absolute;
				visibility: hidden;
				width: max-content;
				max-width: 7em;
				top: 1.6em;
				left: 50%;
				transform: translateX(-50%);
				padding: 0em 0.6em;
				opacity: 0;
				color: white;
				font-size: 0.9em;
				text-shadow: none;
				border-radius: 0.3em;
				background-color: #fff3;
				border: 1px solid rgba(255, 255, 255, 0.075);
				transition: opacity 0.2s;

				@include frostedGlass();

				&:empty {
					display: none;
				}
			}
		}

		&.removed {
			margin-right: -1em;
			margin-left: -1em;
		}
	}

	&.text {
		gap: 2em;
		min-height: 2em;
		justify-content: flex-start;

		li {
			width: auto;

			a img {
				display: none;
			}

			span {
				width: 100%;
				max-width: 20em;
				margin-left: 0; // because of 140% / -20%, can be removed in the future
				font-size: 1.5em;
				text-overflow: ellipsis;
				white-space: pre;
				border-radius: 8px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
