#notes_container {
	width: 100%;
	--notes-width: 50em;
	max-width: var(--notes-width);

	&.hidden {
		display: none;
	}
}

div#pocket-editor {
	color: #fff;
	font-size: 1.3em;
	padding: 1.2em;
	text-align: left;
	text-shadow: none;
	border-radius: 0.7em;
	border: 1px solid rgba(255, 255, 255, 0.075);

	@include frostedGlass($tint: 255, $alpha: 0.1, $blur: 10px, $fbAlpha: 0.4, $fbColor: #fff);

	&.opaque {
		color: #222;
	}

	&.center-align {
		text-align: center;
	}

	&.right-align {
		text-align: right;
	}

	.line.sel {
		background-color: #fff2;
	}

	&:empty:after {
		content: attr(placeholder);
		opacity: 0.5;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: initial;
		margin: 0.5em 0;
	}

	ul {
		margin: 0;
		padding-left: 1.6em;
	}

	li {
		list-style: inherit;
	}

	a {
		color: inherit;

		&:hover,
		&:focus {
			color: var(--blue);
		}
	}
}
