#notes_container {
	position: relative;
	align-self: center;

	width: 100%;
	--notes-width: 50em;
	max-width: var(--notes-width);

	&.hidden {
		display: none;
	}

	&.preview {
		div#notes_parsed {
			display: block;
		}

		#b_notespreview {
			background-color: #fff4;
		}

		/* Only hide on .preview only */
		/* Don't hide on hover or tabbing */
		&:not(.editor, .default) {
			#notes_toolbar:not(:hover, :focus-within) {
				background-color: transparent;
				backdrop-filter: none;

				button {
					opacity: 0;
				}
			}
		}
	}

	&.editor {
		textarea#notes_editor {
			display: block;
		}

		#b_noteseditor {
			background-color: #fff4;
		}
	}

	&.preview.editor {
		max-width: calc(var(--notes-width) * 1.5);

		.spacer {
			display: block;
		}
	}
}

#notes_views,
#notes_toolbar {
	display: flex;
	color: #fff;
	text-align: left;
	text-shadow: none;
	border-radius: 0.7em;
	border: 1px solid rgba(255, 255, 255, 0.075);
	@include frostedGlass($tint: 255, $alpha: 0.1, $blur: 10px, $fbAlpha: 0.4, $fbColor: #fff);
}

#notes_views {
	padding: 1.5em;
	touch-action: all;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;

	&.opaque {
		color: #222;

		button#b_notesdone {
			background-color: #2222;
		}
	}

	&.center-align {
		text-align: center;
	}

	&.right-align {
		div#notes_parsed,
		textarea#notes_editor {
			text-align: right;
		}
	}

	> .spacer {
		display: none;
		width: 1px;
		margin: 0 1.5em;
		background-color: rgba(255, 255, 255, 0.075);
	}

	div#notes_parsed,
	textarea#notes_editor {
		display: none;
		width: 100%;
		pointer-events: all;
		max-height: 40vh;
		min-height: 1em;
		overflow-x: hidden;
		overflow-y: auto;
		font-size: 1.2em;
	}

	div#notes_parsed {
		line-height: 1.5em;
		word-break: break-word;
		cursor: auto;
		content: 'wow';

		&:empty:after {
			content: attr(placeholder);
			opacity: 0.5;
		}

		input[type='checkbox'] {
			margin: 0;
			margin-left: 0.2em;
			margin-right: 0.4em;
			width: 1.4em;
			height: 1.4em;
			cursor: pointer;
			vertical-align: text-bottom;
		}

		blockquote {
			border-left: 2px solid #fff3;
			padding-left: 1em;
			margin: 0 0 0 1em;
		}

		code {
			color: lightsalmon;
			padding: 0.2em 0.6em;
			border-radius: 0.4em;
			border: 1px solid #fff1;
			background-color: #fff1;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: initial;
			margin: 0.5em 0;
		}

		ul {
			margin: 0;
			padding-left: 1.6em;
		}

		li {
			list-style: inherit;
		}

		a {
			color: inherit;

			&:hover,
			&:focus {
				color: var(--blue);
			}
		}
	}

	textarea#notes_editor {
		width: 100%;
		min-height: 10em;
		color: inherit;
		border: none;
		border-radius: 0.7em;
		font-family: 'SF Mono', 'Consolas', 'Courier New', Courier, monospace;
		letter-spacing: -0.4px;
		resize: vertical;
		text-align: left;
		box-sizing: border-box;
		background-color: transparent;

		&::placeholder {
			color: #fff6;
		}
	}
}

#notes_toolbar {
	width: fit-content;
	margin: 0.5em auto 0 auto;
	padding: 0.5em;
	transition: background-color 0.15s;

	button {
		display: flex;
		gap: 0.5em;
		align-items: center;
		margin: 0 0.25em;
		padding: 0.3em 1em;
		color: white;
		border: none;
		border-radius: 0.3em;
		font-size: inherit;
		background-color: transparent;
		transition: opacity 0.15s;

		img {
			width: 1em;
			height: 1em;
			filter: invert(1);
		}

		&:hover {
			background-color: #fff2;
		}
	}
}
