/* vignette */
body #background-wrapper:after {
	content: "";
	transition: box-shadow 0.3s ease;
	position: absolute;
	inset: 0;
}

body.pomodoro-focus:has(#pomodoro_container:not(.hidden)) #background-wrapper:after {
	box-shadow: inset 0px 0px 285px rgba(0, 0, 0, 0.9);
}

body.pomodoro-focus:has(#pomodoro_container:not(.hidden)) #interface > *:not(#pomodoro_container) {
	display: none;
}

body.pomodoro-focus:has(#pomodoro_container:not(.hidden)) #interface {
	grid-template-areas: "pomodoro";
}

#pomodoro_container {
	display: block;
	row-gap: 1em;
	width: 50vw;
	max-width: 45em;
	min-width: 20em;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	cursor: initial;
}

#pomodoro_container.hidden {
    display: none;
}

#pomodoro_container #pmdr_pause,
#pomodoro_container.started #pmdr_start {
	display: none;
}

#pomodoro_container #pmdr_start,
#pomodoro_container.started #pmdr_pause {
	display: inline-block;
}