#sb_container {
	position: relative;
	display: flex;
	visibility: visible;
	align-items: center;
	padding: 0;
	width: fit-content;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	&.hidden {
		display: none;
	}

	&.opaque {
		#searchbar,
		#sb-suggestions,
		button {
			color: #3a3b3c;
		}

		#searchbar::placeholder {
			color: #3a3b3c55;
		}

		hr {
			border-color: #3a3b3c55;
		}

		.default-search-icon {
			filter: invert(1);
			opacity: 0.7;
		}

		#sb_submit {
			background-color: #2222221a;
		}
	}

	hr {
		margin: 0.6em 0;
		border-right: 1px solid #fff4;
	}
}

#searchbar-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 40em;
	min-width: 15em;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, var(--searchbar-background-alpha));
	border: 1px solid rgba(255, 255, 255, 0.075);

	backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em);
}

#searchbar {
	width: 100%;
	height: 2.5em;
	color: #fff;
	padding: 0 1em;
	font-size: 1.3em;
	font-family: inherit;
	font-weight: inherit;
	border: none;
	background-color: transparent;

	&::placeholder {
		transition: opacity 0.2s;
		text-transform: none;
		color: #fff9;
	}
}

#sb-buttons {
	display: flex;
	opacity: 0;
	column-gap: 0.8em;
	cursor: text;

	&.shown {
		opacity: 1;
		cursor: default;

		button {
			pointer-events: initial;
			touch-action: initial;
			user-select: initial;
		}
	}

	button {
		color: #fff;
		font-size: inherit;
		pointer-events: none;
		touch-action: none;
		user-select: none;
		border-radius: 0.5em;
		background-color: transparent;
		transition: opacity 0.2s, filter 0.1s, transform 0.1s;

		&:hover {
			filter: brightness(0.9);
		}

		&:active {
			filter: brightness(0.8);
			transform: scale(0.94);
		}
	}

	#sb_submit {
		margin: 0.3em 0.5em;
		padding: 0.3em 1em;
		background-color: #fff4;

		img {
			margin-top: 3px;
			height: 1.2em;
		}
	}
}

#sb-suggestions {
	position: absolute;
	display: none;
	top: 2.5em;
	width: 100%;
	padding: 0.6em;
	font-size: 1.3em;
	text-shadow: none;
	border-radius: 10px;
	box-sizing: border-box;
	backdrop-filter: blur(2em);
	-webkit-backdrop-filter: blur(2em);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 1px solid rgba(255, 255, 255, 0.075);
	background-color: rgba(255, 255, 255, var(--searchbar-background-alpha));
	z-index: 4;

	&.shown {
		display: block;
	}

	li {
		display: none;
		text-align: initial;
		align-items: center;
		margin: 0;
		padding: 0.4em 1em 0.4em 0.6em;
		border-radius: 4px;
		column-gap: 0.6em;
		border: 1px solid transparent;
		cursor: pointer;
		outline: none;
		overflow-x: hidden;

		&.shown {
			display: flex;
		}

		&[aria-selected='true'] {
			border-color: #2c7be5;
			background-color: rgba(44, 123, 229, 0.3);
		}
	}

	img {
		width: 1.6em;
		height: 1.6em;
		object-fit: contain;

		&.default-search-icon {
			height: 1.1em;
		}
	}

	.suggest-desc {
		font-size: 0.8em;
	}
}
