#textfield_container {
	position: relative;
	align-self: center;
	width: 50%;
	max-width: 40em;
	border-radius: 8px;
	backdrop-filter: blur(10px);
	background-color: #fff2;
	color: #fff;

	touch-action: all;
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;

	button#b_tfedit {
		position: absolute;
		right: 1em;
		top: 1em;
	}

	div#tfparsed {
		padding: 2em;
		text-align: left;

		ul {
			padding-left: 1em;
		}

		li {
			list-style: inherit;
		}

		a {
			color: $blue;
			filter: brightness(1.5);
		}
	}

	div#tfparsed,
	textarea#tfeditor {
		pointer-events: all;
		min-height: 100px;
		max-height: 33vh;
		overflow-x: hidden;
		overflow-y: auto;
		font-size: 1.3em;

		&.hidden {
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 0;
			opacity: 0;
			height: 0;
		}
	}

	textarea#tfeditor {
		// display: none;
		width: calc(100% - 4em);
		padding: 2em;
		color: #fff;
		border: none;
		font-family: 'Courier New', Courier, monospace;
		background-color: transparent;
		resize: vertical;
	}
}
