#textfield_container {
	position: relative;
	align-self: center;
	width: 50%;
	max-width: 40em;
	border-radius: 8px;
	backdrop-filter: blur(10px);
	background-color: #fff2;
	color: #fff;

	touch-action: all;
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;

	&:hover {
		button#b_tfedit {
			opacity: 1;
			transform: scale(1);
			transition: transform 0.3s 0.6s, opacity 0.3s 0.6s, filter 0.15s;
		}
	}

	button#b_tfedit {
		position: absolute;
		opacity: 0;
		right: 1.2em;
		top: 1.2em;
		font-size: 1.2em;
		padding: 0.4em 0.8em;
		color: #fff;
		background-color: #fff2;
		border-radius: 6px;
		border: none;
		transform: scale(0.9);
		transition: transform 0.3s 0s, opacity 0.3s 0s, filter 0.15s;

		&:active {
			filter: brightness(2);
		}
	}

	div#tfparsed {
		text-align: left;
		cursor: auto;

		ul {
			padding-left: 1em;
		}

		li {
			list-style: inherit;
		}

		a {
			color: $blue;
			filter: brightness(1.5);
		}
	}

	div#tfparsed,
	textarea#tfeditor {
		pointer-events: all;
		min-height: 100px;
		max-height: 33vh;
		overflow-x: hidden;
		overflow-y: auto;
		font-size: 1.2em;
		padding: 2em;

		&.hidden {
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 0;
			opacity: 0;
			height: 0;
		}
	}

	textarea#tfeditor {
		// display: none;
		width: calc(100% - 4em);
		color: #fff;
		border: none;
		font-family: 'Courier New', Courier, monospace;
		background-color: transparent;
		resize: vertical;
	}
}
