#time {
	position: relative;
}

#time:before {
	box-shadow: 0px 0px 100px 40px rgba(34, 34, 34, 0.2666666667);
}

#time.hidden {
	display: none;
}

#time.seconds #digital-mm-separator,
#time.seconds #digital-ss {
	display: inline;
}

#time.seconds #analog-seconds {
	display: block;
}

#time.analog #digital {
	display: none;
}

#time.analog #analog {
	display: inline-block;
}

#digital {
	margin: 0;
	margin-bottom: 0.1em;
	margin-inline-start: calc(var(--seconds-margin-offset) / 2);
	font-size: calc(var(--clock-size) * 6);
	line-height: 1em;
	font-weight: 200;
	font-weight: var(--font-weight-clock);
}

#digital span {
	text-align: left;
}

#digital-hh,
#digital-mm,
#digital-hh-separator {
	display: inline-block;
}

#digital-hh-leading-zero,
#digital-mm-separator,
#digital-ss {
	display: none;
}

#digital.zero #digital-hh-leading-zero {
	display: inline-block;
}

#digital-number-width {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

#time.seconds #digital-ss {
	display: inline-block;
	width: var(--seconds-width);
}
	
#analog {
	display: none;
	position: relative;
	width: calc(var(--clock-size) * 8);
	height: calc(var(--clock-size) * 8);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* borders */
#analog[data-clock-border="white"] {
	border: calc(var(--clock-size) * 0.2) solid white;
}

#analog[data-clock-border="black"] {
	border: calc(var(--clock-size) * 0.2) solid black;
}

/* background */
#analog[data-clock-background="none"] {
	box-shadow: unset;
}

#analog[data-clock-background="light"] {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1em);
}

#analog[data-clock-background="dark"] {
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1em);
}

#analog[data-clock-background="black"] {
	background-color: black;
}

#analog[data-clock-background="white"] {
	background-color: white;
}

#analog[data-clock-background="none"] {
	background-color: unset;
}

/* shape */
#analog[data-clock-shape="round"] {
	border-radius: 100%;
}

#analog[data-clock-shape="square"] {
	border-radius: calc(var(--clock-size) * 0.2);
}

#analog[data-clock-shape="rectangle"] {
	border-radius: calc(var(--clock-size) * 1.5);
	height: calc(var(--clock-size)* 9.5);
}

/* center */
#analog-center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--clock-size) * 0.4);
	height: calc(var(--clock-size) * 0.4);
	border-radius: calc(var(--clock-size) * 0.4);
	transform: translate(-50%, -50%);
	background-color: white;
	z-index: 5;
}

/* hands */
#analog-minutes,
#analog-hours,
#analog-seconds {
	transform: rotate(var(--deg));
	position: absolute;
	display: block;
	bottom: 50%;
	left: 50%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	width: calc(var(--clock-size) * 0.2);
	margin-left: calc(var(--clock-size) * -0.1);
	border-radius: calc(var(--clock-size) * 0.2);
	transform-origin: bottom center;
	background-color: white;
	will-change: transform;
	left: 0;
	right: 0;
	margin: auto;
}

#analog-hours {
	height: calc(var(--clock-size) * 2.4);
}

#analog-minutes {
	height: calc(var(--clock-size) * 3.6);
}

#analog-seconds {
	display: none;
	height: calc(var(--clock-size) * 3.6);
	opacity: 0.8;
	background-color: red;
	width: calc(var(--clock-size) * 0.1);
}

/* swiss hands */
#analog[data-clock-hands="swiss-hands"] #analog-center {
	background-color: red;
	width: calc(var(--clock-size) * 0.3);
	height: calc(var(--clock-size) * 0.3);
}

#analog[data-clock-hands="swiss-hands"] #analog-hours {
	height: 30%;
	width: calc(var(--clock-size) * 0.35);
	border-radius: 0;
}

/* bit that pokes out */
#analog[data-clock-hands="swiss-hands"] #analog-hours:after {
	content: '';
	display: block;
	position: absolute;
	background-color: white;
	width: calc(var(--clock-size) * 0.35);
	height: calc(var(--clock-size) * 1.2);
	bottom: calc(var(--clock-size) * -1.2);
	left: 50%;
	transform: translateX(-50%);
}

#analog[data-clock-hands="swiss-hands"] #analog-minutes {
	height: calc(var(--clock-size) * 3.69);
	width: calc(var(--clock-size) * 0.25);
	border-radius: 0;
}

/* bit that pokes out */
#analog[data-clock-hands="swiss-hands"] #analog-minutes:after {
	content: '';
	display: block;
	position: absolute;
	background-color: white;
	width: calc(var(--clock-size) * 0.25);
	height: calc(var(--clock-size) * 1.2);
	bottom: calc(var(--clock-size) * -1.2);
	left: 50%;
	transform: translateX(-50%);
}

#analog[data-clock-hands="swiss-hands"] #analog-seconds {
	height: calc(var(--clock-size) * 2.8);
	border-radius: 0;
	opacity: 1;
}

/* bit that pokes out */
#analog[data-clock-hands="swiss-hands"] #analog-seconds:after {
	content: '';
	display: block;
	position: absolute;
	background-color: red;
	width: calc(var(--clock-size) * 0.1);
	height: calc(var(--clock-size) * 1.2);
	bottom: calc(var(--clock-size) * -1.2);
	left: 50%;
	transform: translateX(-50%);
}

/* circle at the end */
#analog[data-clock-hands="swiss-hands"] #analog-seconds:before {
	content: '';
	display: block;
	position: absolute;
	width: calc(var(--clock-size) * 0.65);
	height: calc(var(--clock-size) * 0.65);
	background-color: red;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100%;
}

/* braun hands */
#analog[data-clock-hands="braun"] #analog-center {
	background-color: #f9b603;
	width: calc(var(--clock-size) * 0.5);
	height: calc(var(--clock-size) * 0.5);
}

#analog[data-clock-hands="braun"] #analog-seconds {
	background-color: #f9b603;
	opacity: 1;
	height: calc(var(--clock-size) * 3.5);
}

/* bit that pokes out */
#analog[data-clock-hands="braun"] #analog-seconds:after {
	content: '';
	display: block;
	position: absolute;
	border-radius:0 0 10px 10px;
	background-color: #f9b603;
	width: calc(var(--clock-size) * 0.3);
	height: calc(var(--clock-size) * 0.75);
	bottom: calc(var(--clock-size) * -0.75);
	left: 50%;
	transform: translateX(-50%);
}

#analog[data-clock-hands="braun"] #analog-hours {
	width: calc(var(--clock-size) * 0.25);
	height: calc(var(--clock-size) * 2.58);
}

#analog[data-clock-hands="braun"] #analog-minutes {
	height: calc(var(--clock-size) * 3.33);
}

/* classic hands */
#analog[data-clock-hands="classic"] #analog-hours {
	width: calc(var(--clock-size) * 0.25);
	height: 27%;
}

/* Apple Watch hands */
#analog[data-clock-hands="apple"] #analog-hours,
#analog[data-clock-hands="apple"] #analog-minutes {
	height: calc(var(--clock-size) * .7);
	width: calc(var(--clock-size) * 0.1);
	border-radius: 0;
}

#analog[data-clock-hands="apple"] #analog-hours:before,
#analog[data-clock-hands="apple"] #analog-minutes:before {
	content: '';
	display: block;
	position: absolute;
	width: calc(var(--clock-size) * 0.3);
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 8px;
}

#analog[data-clock-hands="apple"] #analog-hours:before {
	height: calc(var(--clock-size) * 1.4);
	top: calc(var(--clock-size) * -1.35);
}

#analog[data-clock-hands="apple"] #analog-minutes:before {
	height: calc(var(--clock-size) * 2.5);
	top: calc(var(--clock-size) * -2.48);
}

#analog[data-clock-hands="apple"][data-clock-background="white"] #analog-hours:before,
#analog[data-clock-hands="apple"][data-clock-background="white"] #analog-minutes:before {
	background-color: black;
}

#analog[data-clock-hands="apple"] #analog-seconds {
	background-color: #f06142;
	width: calc(var(--clock-size) * 0.08);
	opacity: 1;
	z-index: 1;
}

/* bit that pokes out */
#analog[data-clock-hands="apple"] #analog-seconds:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #f06142;
	width: calc(var(--clock-size) * 0.08);
	height: calc(var(--clock-size) * .9);
	bottom: calc(var(--clock-size) * -.9);
	left: 50%;
	transform: translateX(-50%);
}

#analog[data-clock-hands="apple"] #analog-center {
	background-color: #f06142;
}

#analog[data-clock-hands="apple"] #analog-center:before {
	content: '';
	width: calc(var(--clock-size) * .17);
	height: calc(var(--clock-size) * .17);
	background-color: black;
	position: absolute;
	display: block;
	border-radius: 100%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/* white circle at the base of the hands */
#analog[data-clock-hands="apple"]:after {
	content: '';
	width: calc(var(--clock-size) * .45);
	height: calc(var(--clock-size) * .45);
	background-color: white;
	position: absolute;
	display: block;
	border-radius: 100%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/* faces */
#analog-face {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: var(--clock-size);
	--center: calc(50% - 0.5em);
	--padding: 0.75em;
}

#analog-face span {
	position: absolute;
	display: block;
	opacity: 0.6;
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: center;
}

#analog[data-clock-face="swiss"] #analog-face,
#analog[data-clock-face="braun"] #analog-face {
	background-size: 95%;
	background-position: center;
	background-repeat: no-repeat;
}

#analog[data-clock-face="swiss"] #analog-face {
	background-image: url('../../assets/interface/swiss-railway-white.svg');
}

#analog[data-clock-face="braun"] #analog-face {
	background-image: url('../../assets/interface/braun-white.svg');
}

#analog[data-clock-face="swiss"][data-clock-background="white"] #analog-face {
	background-image: url('../../assets/interface/swiss-railway-black.svg');
}

#analog[data-clock-face="braun"][data-clock-background="white"] #analog-face {
	background-image: url('../../assets/interface/braun-black.svg');
}

#analog[data-clock-background="white"] #analog-minutes,
#analog[data-clock-background="white"] #analog-hours,
#analog[data-clock-background="white"]:not([data-clock-hands="swiss-hands"]):not([data-clock-hands="braun"]) #analog-center,
#analog[data-clock-background="white"] #analog-minutes:after,
#analog[data-clock-background="white"] #analog-hours:after {
	background-color: rgba(0, 0, 0, .9);
}

#analog[data-clock-background="white"] #analog-face span {
	color: black;
	opacity: .9;
}

#analog-face span:nth-child(1) {
	left: var(--center);
	top: var(--padding);
}

#analog-face span:nth-child(2) {
	top: var(--center);
	right: var(--padding);
}

#analog-face span:nth-child(3) {
	left: var(--center);
	bottom: var(--padding);
}

#analog-face span:nth-child(4) {
	top: var(--center);
	left: var(--padding);
}

#date {
	font-size: 1.5em;
	margin-top: 0.5em;
}

#time.analog #date {
	margin-top: 1em;
}

#time-container.he_hidden ~ #date {
	margin-top: 0;
}

#date-aa-separator::after,
#date-bb-separator::after {
	content: ' ';
}

#date.us #date-aa-separator::after {
	content: ', ';
}
