#time {
	position: relative;

	&:before {
		box-shadow: 0px 0px 100px 40px #2224;
	}

	&.hidden {
		display: none;
	}

	&.seconds {
		#digital-mm-separator,
		#digital-ss {
			display: inline;
		}

		#analog-seconds {
			display: block;
		}
	}

	&.analog {
		#digital {
			display: none;
		}

		#analog {
			display: inline-block;
		}
	}
}

// Digital clock

#digital {
	margin: 0;
	margin-bottom: 0.1em;
	font-size: calc(var(--clock-size) * 6);
	line-height: 1em;
	font-weight: 200;
	font-weight: var(--font-weight-clock);
}

#digital.zero #digital-hh-leading-zero {
	display: inline;
}

#digital-hh-leading-zero,
#digital-mm-separator,
#digital-ss {
	display: none;
}

// Analog clock

#analog {
	display: none;
	position: relative;
	width: calc(var(--clock-size) * 8);
	height: calc(var(--clock-size) * 8);
	border-radius: 100%;
	border: calc(var(--clock-size) * 0.2) solid white;
	box-shadow: $textShadow;

	background-color: #fff3;
	backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1em);

	&.transparent {
		box-shadow: none;
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
		border-color: transparent;
		background-color: transparent;
	}

	&.square {
		border-radius: calc(var(--clock-size) * 0.2);
	}
}

#analog-center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--clock-size) * 0.4);
	height: calc(var(--clock-size) * 0.4);
	border-radius: calc(var(--clock-size) * 0.4);
	transform: translate(-50%, -50%);
	background-color: white;
	z-index: 5;
}

#analog-minutes,
#analog-hours,
#analog-seconds {
	transform: rotate(var(--deg));
	position: absolute;
	display: block;
	bottom: 50%;
	left: 50%;
	box-shadow: $textShadow;
	width: calc(var(--clock-size) * 0.2);
	margin-left: calc(var(--clock-size) * -0.1);
	border-radius: calc(var(--clock-size) * 0.2);
	transform-origin: bottom center;
	background-color: white;
	will-change: transform;
}

#analog-hours {
	height: 30%;
}

#analog-minutes {
	height: 45%;
}

#analog-seconds {
	display: none;
	height: 45%;
	opacity: 0.8;
	background-color: red;
	width: calc(var(--clock-size) * 0.1);
	margin-left: calc(var(--clock-size) * -0.05);
}

#analog-face {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: var(--clock-size);

	--center: calc(50% - 0.5em);
	--padding: 0.75em;

	span {
		position: absolute;
		display: block;
		opacity: 0.6;
		width: 1em;
		height: 1em;
		line-height: 1em;
		text-align: center;
	}

	span:nth-child(1) {
		left: var(--center);
		top: var(--padding);
	}

	span:nth-child(2) {
		top: var(--center);
		right: var(--padding);
	}

	span:nth-child(3) {
		left: var(--center);
		bottom: var(--padding);
	}

	span:nth-child(4) {
		top: var(--center);
		left: var(--padding);
	}
}

// Date

#date {
	font-size: 1.5em;
	margin-top: 0.5em;
}

#time.analog #date {
	margin-top: 1em;
}

#time-container.he_hidden ~ #date {
	margin-top: 0;
}
