#solid_options.shown {
	max-height: 400px;
}

#background-texture-options.shown,
#supporters-notif-container.shown {
	max-height: 180px;
}

#local_options.shown {
	max-height: 500px;
}

#time_options.shown {
	max-height: 920px;
}

#main_options.shown {
	max-height: 630px;
}

#quicklinks_options.shown {
	max-height: 460px;
}

#analog_options.shown {
	max-height: 280px;
}

#worldclocks_options.shown,
#notes_options.shown {
	max-height: 200px;
}

#ampm_label.shown,
#disabled-sync.shown,
#weather_provider.shown,
#searchbar_request.shown,
#background-freq-option.shown,
#background-provider-option.shown,
#background-user-coll-option.shown,
#background-user-tags-option.shown,
#worldclocks-list .dropdown.shown,
#background-provider-option.shown {
	max-height: 60px;
}

#background-position-options.shown,
#location_options.shown,
#digital_options.shown,
#unsplash_options.shown,
#quotes_url.shown {
	max-height: 120px;
}

#background-collection-option.shown,
#url-sync.shown,
#gist-sync.shown {
	max-height: 220px;
}

#searchbar_options.shown {
	max-height: 440px;
}

#background-urls-option.shown,
#quotes_userlist.shown,
#quotes_options.shown {
	max-height: 450px;
}

#background-filters-options.shown {
	max-height: 300px;
}
