.prism-code-editor {
	font-size: 14px;
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	overflow: auto;
	display: grid;
	background: var(--editor__bg);
	line-height: 1.4;
	--_pse: var(--padding-inline, 0.75em);
	--_ns: var(--number-spacing, 0.75em);
	--padding-left: var(--_pse);
	scroll-padding-left: var(--padding-left);
	-webkit-user-select: none;
	user-select: none;
	isolation: isolate;
	white-space: pre;
}
.pce-wrapper {
	margin: 0.5em 0;
	position: relative;
	pointer-events: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
.prism-code-editor textarea {
	all: unset;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	color: #0000;
	-webkit-user-select: auto;
	user-select: auto;
	overflow: hidden;
	pointer-events: auto;
	padding: 0 var(--_pse) 0 var(--padding-left);
}
.pce-no-selection textarea:focus {
	z-index: 1;
}
.pce-line {
	padding: 0 var(--_pse) 0 0;
	margin: 0 0 0 var(--padding-left);
	position: relative;
}
.pce-line:before {
	position: sticky;
	height: 100%;
	z-index: 2;
	left: 0;
	width: var(--padding-left);
}
.pce-wrap .pce-line:before {
	position: absolute;
}
.pce-overlays,
div.pce-overlays > * {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.pce-wrap {
	white-space: pre-wrap;
	word-break: break-word;
}
