.prism-code-editor {
	caret-color: #aeafad;
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	--editor__bg: #1e1e1e;
	--widget__border: #444;
	--widget__bg: #1e1e1e;
	--widget__color: #ccc;
	--widget__color-active: #fff;
	--widget__color-options: #aaa;
	--widget__bg-input: #262626;
	--widget__bg-hover: #2e2e2e;
	--widget__bg-active: #336699;
	--widget__focus-ring: #5299e0;
	--search__bg-find: #eb5e0054;
	--widget__bg-error: #4d1919;
	--widget__error-ring: #cc0000;
	--editor__border-highlight: 2px solid #282828;
	--editor__bg-selection-match: #add6ff26;
	--editor__line-number: #888;
	--editor__bg-scrollbar: 0, 0%, 50%;
	--editor__bg-fold: #c5c5c5;
	--bg-guide-indent: #9994;
	color-scheme: dark;
}
.match-highlight {
	--editor__bg-highlight: #282828;
}
.prism-code-editor textarea::selection {
	background: #264f78;
	color: #0000;
}
.pce-matches .match {
	--search__bg-find: #675451;
}
.active-line {
	--editor__line-number: #ccc;
}
.guide-indents .active {
	--bg-guide-indent: #eee6;
}
[class*='language-'],
.token.spread {
	color: #9cdcfe;
}
.token.namespace {
	opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.blockquote.punctuation {
	color: #6a9955;
}
.token.punctuation,
.token.attr-equals,
.token.operator,
.token.combinator,
.token.plain-text {
	color: #d4d4d4;
}
.token.number,
.token.symbol,
.token.inserted,
.token.unit {
	color: #b5cea8;
}
.token.regex,
.language-regex,
.token.regex .punctuation,
.token.group,
.token.string,
.token.string-property.property,
.token.char,
.token.deleted {
	color: #ce9178;
}
.url .token.string.url {
	text-decoration: underline;
}
.token.doctype .doctype-tag,
.token.operator.arrow,
.token.keyword,
.token.important,
.token.token.interpolation-punctuation,
.token.boolean,
.token.tag,
.token.entity,
.token.regex-flags {
	color: #569cd6;
}
.token.atrule .token.rule {
	color: #c586c0;
}
.token.function,
.token.alternation {
	color: #dcdcaa;
}
.token.italic {
	font-style: italic;
}
.token.strike {
	text-decoration: line-through;
}
.token.class-name,
[class*='language-t'] .builtin,
.token.maybe-class-name {
	color: #4ec9b0;
}
.token.doctype .name,
.token.atrule,
.token.atrule .url,
.token.property,
.token.variable,
.token.parameter,
.token.interpolation,
.token.attr-name {
	color: #9cdcfe;
}
.token.selector,
.token.escape {
	color: #d7ba7d;
}
.token.tag > .punctuation,
.token.doctype .punctuation,
.token.cdata {
	color: gray;
}
.token.attr-value,
.token.attr-value > .punctuation,
.token.color {
	color: #ce9178;
}
.token.namespace {
	color: #4ec9b0;
}
.token.constant {
	color: #4fc1ff;
}
.token.char-set,
.token.regex .operator {
	color: #d16969;
}
.language-css {
	color: #d4d4d4;
}
.token.important.title .punctuation,
.token.list.punctuation {
	color: #569cd6;
}
.token.url-reference .variable {
	color: #ce9178;
}
.token.quantifier {
	color: #d7ba7d;
}
.token.bracket-level-0,
.token.bracket-level-3,
.token.bracket-level-6,
.token.bracket-level-9 {
	color: gold;
}
.token.bracket-level-1,
.token.bracket-level-4,
.token.bracket-level-7,
.token.bracket-level-10 {
	color: orchid;
}
.token.bracket-level-2,
.token.bracket-level-5,
.token.bracket-level-8,
.token.bracket-level-11 {
	color: #179fff;
}
.token.bracket-error {
	color: #ff1212cc;
}
.token.markup-bracket {
	color: inherit;
}
.active-bracket {
	box-shadow: inset 0 0 0 1px #888, inset 0 0 0 9in #0064001a;
}
.active-tagname,
.word-matches span {
	background: #575757b8;
}
