.prism-code-editor {
	color-scheme: dark;
	caret-color: #aeafad;
}
.prism-code-editor textarea::selection {
	background: #264f78;
	color: #0000;
}
.pce-matches .match {
	--search__bg-find: #675451;
}
.token.namespace {
	opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.blockquote.punctuation {
	color: #6a9955;
}
.token.punctuation,
.token.attr-equals,
.token.operator,
.token.combinator,
.token.plain-text {
	color: #d4d4d4;
}
.token.number,
.token.symbol,
.token.inserted,
.token.unit {
	color: #b5cea8;
}
.token.group,
.token.string,
.token.string-property.property,
.token.char,
.token.deleted {
	color: #ce9178;
}

.token.keyword,
.token.important,
.token.token.interpolation-punctuation,
.token.boolean,
.token.tag,
.token.entity {
	color: #569cd6;
}
.token.atrule .token.rule {
	color: #c586c0;
}
.token.function,
.token.alternation {
	color: #dcdcaa;
}
.token.italic {
	font-style: italic;
}
.token.class {
	color: #4ec9b0;
}
.token.atrule,
.token.atrule .url,
.token.property,
.token.variable,
.token.parameter,
.token.interpolation {
	color: #9cdcfe;
}
.token.selector,
.token.escape {
	color: #d7ba7d;
}
.token.color {
	color: #ce9178;
}
.token.namespace {
	color: #4ec9b0;
}
.token.constant {
	color: #4fc1ff;
}
.token.char-set {
	color: #d16969;
}
.language-css {
	color: #d4d4d4;
}
.token.important.title .punctuation,
.token.list.punctuation {
	color: #569cd6;
}
.token.url-reference .variable {
	color: #ce9178;
}
.token.quantifier {
	color: #d7ba7d;
}
