.prism-code-editor {
	color-scheme: light;
	caret-color: #000;
}
.prism-code-editor textarea::selection {
	background: #add6ff;
	color: #0000;
}
.token.comment,
.token.prolog {
	color: green;
}
.token.number,
.token.symbol,
.token.inserted,
.token.unit {
	color: #098658;
}
.token.string,
.token.string-property.property,
.token.char,
.token.deleted {
	color: #a31515;
}
.token.operator,
.token.combinator,
.token.punctuation,
.token.attr-equals,
.token.spread,
.token.plain-text,
.token.quantifier.number {
	color: #000;
}
.token.operator.arrow,
.token.keyword,
.token.important,
.token.token.interpolation-punctuation,
.token.boolean,
.token.entity,
.token.attr-value,
.token.attr-value > .punctuation,
.token.regex-flags {
	color: #00f;
}
.token.atrule .token.rule {
	color: #af00db;
}
.token.function {
	color: #795e26;
}
.token.italic {
	font-style: italic;
}
.token.bold,
.token.important {
	font-weight: 700;
}
.token.class {
	color: #267f99;
}
.token.variable,
.token.parameter,
.token.literal-property,
.token.atrule {
	color: #001080;
}
.token.selector,
.token.escape,
.token.tag,
.token.tag > .punctuation {
	color: maroon;
}
.token.namespace {
	color: #4ec9b0;
}
.token.constant {
	color: #0070c1;
}
.language-css {
	color: #000;
}
.token.color {
	color: #0451a5;
}
