#background-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: var(--app-height);
	min-height: 100lvh;
	overflow: hidden;
}

#background-wrapper {
	z-index: -1;
	transition: opacity var(--fade-in);
}

#background-media > div,
#background-media > div video,
#background-color,
#background-texture {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#background-wrapper.hidden {
	opacity: 0;
}

#background-wrapper #background-media,
#background-wrapper[data-type='color'] #background-color {
	display: block;
}

#background-wrapper #background-color,
#background-wrapper[data-type='color'] #background-media {
	display: none;
}

#background-media > div video,
#background-media > div {
	object-fit: cover;
	background-size: cover;
	transform: scale(1.1);
	filter: blur(var(--blur)) brightness(var(--brightness));
}

#background-media > div {
	transition: opacity 1.2s;
}

#background-media > div video {
	transition: opacity 4s;
}

#background-media > div video.hiding,
#background-media > div.hiding {
	opacity: 0;
}

[data-browser='safari'] #background-media > div {
	transform: scale(1.1) translateX(0px) translate3d(0, 0, 0);
}

body.init #background-media > div,
body.init #background-media > div video {
	transition: none;
}

#background-color {
	background-color: var(--solid-background);
}

#background-texture {
	background-position: center center;
}

#background-wrapper[data-texture='grain'] #background-texture {
	opacity: var(--texture-opacity);
	background-size: var(--texture-size);
	background-image: url('../../assets/interface/grain.png');
	background-repeat: repeat;
}

#background-wrapper[data-texture='dots'] #background-texture {
	opacity: var(--texture-opacity);
	background-size: var(--texture-size) var(--texture-size);
	background-image: radial-gradient(var(--texture-color) 1px, transparent 0);
	/* mix-blend-mode: multiply; */
}

#background-wrapper[data-texture='topographic'] #background-texture {
	opacity: var(--texture-opacity);
	background-size: var(--texture-size);
	background-image: url('../../assets/interface/topographic.png');
}
