#background-actions,
#credit-container,
#show-settings {
	position: fixed;
	pointer-events: all;
	transition: opacity 0.05s;
}

#credit-container {
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 0;
	padding-left: 28px;
	padding-bottom: 28px;
	max-width: 50%;
	display: flex;
	align-items: center;
	pointer-events: none;
	font-family: var(--font-family);
	font-weight: var(--font-weight);
}

#credit-container.shown {
	opacity: 1;
	pointer-events: all;
}

#credit-container.shown:hover .exif,
#credit-container.shown:hover .save {
	opacity: 1;
}

#a_interface-background-download.hidden,
#credit.hidden {
	display: none;
}

#credit {
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	color: #fff9;
}

#credit a {
	color: #fff9;
	text-decoration: none;
}

#credit a:hover {
	color: #fffe;
}

.exif {
	opacity: 0;
	transition: opacity 0.4s;
}

#background-actions {
	position: fixed;
	opacity: 0;
	bottom: 0;
	left: calc(50% - 60px - 20px);
	width: 120px;
	padding: 0 20px 26px;
	color: #fff9;
}

#background-actions:hover {
	opacity: 1;
}

#download-background {
	display: none;
}

#background-actions button {
	all: unset;
	display: inline-block;
	width: 28px;
	height: 26px;
	margin: 0 2px;
	padding-top: 2px;
	border-radius: 4px;
	cursor: pointer;
}

#background-actions button:hover {
	color: #fffe;
	background-color: #fff2;
	backdrop-filter: blur(20px);
}

#b_interface-background-download.idle span:last-child,
#b_interface-background-download.loading span:first-child {
	display: none;
}

#b_interface-background-pause:active svg {
	transform: scale(0.9);
}

#b_interface-background-pause #interface-background-pause-icon,
#b_interface-background-pause.paused #interface-background-play-icon {
	display: initial;
}

#b_interface-background-pause #interface-background-play-icon,
#b_interface-background-pause.paused #interface-background-pause-icon {
	display: none;
}

/* .save {
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	width: 16px;
	height: 15px;
	background-color: #fff9;
	-webkit-mask-image: url('../../assets/interface/download.svg');
	mask-image: url('../../assets/interface/download.svg');
}

.save:hover {
	background-color: #fffe;
}

.save.loading {
	pointer-events: none;
	--icon: url('../../assets/interface/loading.svg');
} */
