.refresh-btn {
	padding: 0 8px;
	display: flex;
	align-items: center;
}

.refresh-btn svg {
	height: 18px;
}

.freq_wrap select {
	width: 100%;
}

#background-local-actions > div {
	display: flex;
	gap: 4px;
}

#lbl_background-upload {
	pointer-events: all;
}

#lbl_background-upload > span {
	display: block;
	padding: 0 1em;
	height: 31px;
	font-size: 13px;
	line-height: 31px;
	cursor: pointer;
}

#i_background-upload {
	display: none;
}

#thumbnails-container {
	--thumbnails-columns: 3;
	display: grid;
	width: 100%;
	max-height: 300px;
	margin-top: 5px;
	gap: 7px;
	overflow: auto;
	grid-template-columns: repeat(var(--thumbnails-columns), 1fr);
}

.thumbnail {
	position: relative;
	height: calc(230px / var(--thumbnails-columns));
	padding: 0;
	overflow: hidden;
	background-color: var(--color-input);
	transition: transform 0.1s, opacity 0.1s;
}

.thumbnail.hiding {
	transform: scale(0.9);
	opacity: 0;
}

.thumbnail.loading {
	pointer-events: none;
	user-select: none;
}

.thumbnail::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	box-sizing: border-box;
}

.thumbnail:hover::after,
.thumbnail:active::after,
.thumbnail.selected::after {
	border: 3px solid var(--color-blue);
}

.thumbnail:active::after {
	background-color: rgba(var(--blue), 0.4);
}

.thumbnail.selected::after {
	background-color: rgba(var(--blue), 0.2);
}

.thumbnail.loading img {
	width: 1em;
	height: 1em;
	opacity: 0.5;
	object-fit: unset;
	transition: none;
}

.thumbnail.loaded img {
	opacity: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.1s;
}

#thumbnail-action-buttons {
	column-gap: 8px;
}

#thumbnail-action-buttons .wrapper {
	justify-content: center;
}

/* Background URLs */

#background-urls-option {
	display: none;
}

#background-urls-editor > div {
	background-color: var(--color-input);
	font-size: 13px;
	min-height: 200px;
	margin-top: 8px;
	padding: 12px 16px 12px 34px;
}

#background-urls-editor .pce-line::before {
	content: '';
	position: absolute;
	top: 2px;
	left: -24px;
	width: 12px;
	height: 12px;
	background-size: 12px 12px;
	background-position: center;
	border-radius: 4px;
	border: 1px solid;
	color: #fff4;
}

/* #background-urls-editor .pce-line.warn > span {
	background-color: rgba(255, 255, 0, 0.1);
}

#background-urls-editor .pce-line.error > span {
	background-color: rgba(255, 0, 0, 0.1);
}

#background-urls-editor .pce-line.good > span {
	background-color: rgba(0, 255, 0, 0.1);
} */

#background-urls-editor .pce-line::before {
	opacity: 0.4;
	background-image: url('../../assets/labels/math-minus.svg');
}
#background-urls-editor .pce-line.loading::before {
	opacity: 0.8;
	border-color: var(--color-blue);
	background-image: url('../../assets/labels/sync.svg');
}
#background-urls-editor .pce-line.warn::before {
	opacity: 1;
	border-color: orange;
	background-image: url('../../assets/labels/globe-alt.svg');
}
#background-urls-editor .pce-line.error::before {
	opacity: 1;
	border-color: var(--color-red);
	background-size: 11px 11px;
	background-image: url('../../assets/labels/close-red.svg');
}
#background-urls-editor .pce-line.good::before {
	opacity: 1;
	border-color: var(--color-green);
	background-size: 13px 13px;
	background-image: url('../../assets/labels/check.svg');
}
