#mobile-drag-zone {
	touch-action: none;
	position: sticky;
	display: none;
	top: 0;
	width: 100%;
	padding: 20px 12px 12px;
	cursor: grab;
	z-index: 4;
	box-sizing: border-box;
	transition: transform 0.4s;
}

#mobile-drag-zone div {
	width: 50px;
	height: 8px;
	margin: auto;
	border-radius: 4px;
	background-color: var(--color-focused);
	transition:
		width 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		background-color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#mobile-drag-zone:active {
	cursor: grabbing;
}

#mobile-drag-zone:active div {
	width: 75px;
	background-color: var(--color-border);
}
