/*  Titles and tooltips  */

aside h1,
aside h2,
aside span {
	margin: 0;
}

aside h2 {
	font-weight: 500;
	font-size: 1em;
}

.settings-title {
	display: grid;
	place-items: baseline;
	grid-template-columns: 1fr min-content;
	margin: 32px 26px 0px 26px;
	color: var(--color-light-text);
	/* offset for when section is automatically getting scrolled to */
	scroll-margin-top: 20px; 
}

.settings-title .tooltiptext {
	grid-column: 1 / 3;
}

aside .tooltip {
	width: 20px;
	min-width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 100%;
	border: 1px solid;
	box-sizing: border-box;
	color: var(--color-light-text);
	border-color: var(--color-input);
	background-color: var(--color-areas);
	display: flex;
	align-items: center;
	justify-content: center;
}

aside .settings-title .tooltip {
	background-color: var(--color-input-outside);
	border-color: var(--color-focused);
}

@media screen and (hover: hover) {
	aside .tooltip:active {
		background-color: var(--color-input);
	}
}

.tooltiptext {
	color: var(--color-light-text);
	font-size: 13px;
	line-height: 1.5em;
}

.param .tooltiptext {
	padding-left: 4px;
}

.tooltiptext.shown {
	max-height: 60px;
}

.settings-title .tooltiptext.shown {
	padding-top: 0.8em;
}

.param .tooltiptext.shown {
	padding-top: 4px;
}
