@font-face {
	font-family: 'sf_pro_textregular';
	src: url('/src/assets/fonts/sf-pro-text-regular-webfont.woff2') format('woff2'),
		url('/src/assets/fonts/sf-pro-text-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sf_pro_displaylight';
	src: url('/src/assets/fonts/sf-pro-display-light-webfont.woff2') format('woff2'),
		url('/src/assets/fonts/sf-pro-display-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sf_pro_displaythin';
	src: url('/src/assets/fonts/sf-pro-display-thin-webfont.woff2') format('woff2'),
		url('/src/assets/fonts/sf-pro-display-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$textRegular: sf_pro_textregular;
$displayLight: sf_pro_displaylight;
$displayThin: sf_pro_displaythin;

$purewhite: white;
$pureblack: black;

$blue: #007aff;
$green: #4bd663;
$settingsGrey: #f2f2f7;
$inputGrey: #eaeaee;
$focusedGrey: #dadade;
$borderGrey: #c8c7cc;
$greyish: #3a3a3a;
$blackish: #222;

body {
	overflow-x: hidden;
	margin: 0;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	opacity: 1;
	background-color: $pureblack;
	color: $purewhite;
	font-family: $displayLight, sans-serif;
	font-size: 1em;
	text-align: center;

	p,
	h3 {
		margin: 0;
	}

	hr {
		border: none;
		border-bottom: 1px solid $borderGrey;
		margin-top: 0.75em;
		margin-bottom: 0.75em;
		margin-right: -1.3em;
		display: block;
	}

	select {
		cursor: pointer;
	}

	input,
	textarea,
	select,
	a,
	button {
		outline: none;
	}
}

@mixin animHide() {
	@keyframes animHide {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}

@mixin animShow($display) {
	@keyframes animShow {
		0% {
			display: $display;
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@mixin hidden {
	&.hidden {
		display: none;
		cursor: default;
		opacity: 0;
		transition: opacity 0.1s;
	}
}

/*pour le fade in*/
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*Wiggle animation*/
@keyframes wiggle {
	0% {
		transform: rotate(-1.5deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: rotate(2deg);
		animation-timing-function: ease-out;
	}
}

@keyframes keyframes2 {
	0% {
		transform: rotate(1deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: rotate(-1.5deg);
		animation-timing-function: ease-out;
	}
}

@mixin hoverButton {
	&:hover {
		filter: brightness(110%);
	}

	&:active {
		filter: brightness(85%);
	}
}

@mixin allCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin marginSettings {
	margin-left: 21px;
	margin-right: 21px;
}

@mixin radiusSettings {
	border-radius: 10px;
}

@mixin hideElements {
	#interface {
		//
		// Need flex-grow for default

		#main,
		#linkblocks,
		#time {
			flex-grow: 1;
		}

		//
		// Add transitions

		#main.he_anim,
		#linkblocks.he_anim,
		#time.he_anim {
			transition: opacity 0.2s, flex-grow 0.4s 0.2s;
		}

		#time-container.he_anim,
		#date.he_anim,
		#weather_desc.he_anim,
		#greetings.he_anim,
		#w_icon.he_anim,
		#showSettings.he_anim {
			transition: opacity 0.4s;
		}

		//
		// Parent blocks shrinks & hide

		#main.he_hidden,
		#linkblocks.he_hidden,
		#time.he_hidden {
			flex-grow: 0.000001;
			opacity: 0;
		}

		//
		// Children only hide

		#time-container.he_hidden,
		#date.he_hidden,
		#weather_desc.he_hidden,
		#greetings.he_hidden,
		#w_icon.he_hidden {
			opacity: 0;
		}
	}

	#showSettings {
		&.he_anim {
			transition: opacity 0.4s;
		}

		&.he_hidden {
			opacity: 0;
		}
	}
}

@mixin popup {
	#popup {
		position: absolute;
		left: 0;
		bottom: 4em;
		padding: 1em;
		background-color: $purewhite;
		border-radius: 0 10px 10px 0;
		opacity: 0.6;
		transform: translateX(-100%);
		box-sizing: border-box;
		will-change: transform;
		@include allCentered();

		.choices {
			@include allCentered();
			justify-content: space-between;
			margin-left: 1em;

			> * {
				box-sizing: border-box;
				border-radius: 5px;
				transition: 0.1s;
				cursor: pointer;
				font-size: 1.1em;
				height: 36px;
				text-decoration: none;
				@include hoverButton();
			}

			#go {
				background-color: $blue;
				color: $purewhite;
				border: 0;
				width: 80px;
				margin-right: 1em;
				@include allCentered();
			}

			#later {
				color: $blue;
				border: 2px solid $blue;
				width: 70px;
			}

			img {
				height: 1.2em;
			}
		}

		span {
			max-width: 20em;
			text-align: left;
			color: $blackish;
		}

		&:hover {
			opacity: 1;
			transition: opacity 0.1s;
		}

		&.shown {
			transform: translateX(0);
			transition: transform 0.4s ease;
		}

		&.justShown {
			opacity: 1;
		}

		&.removed {
			transform: translateX(-100%);
			transition: transform 0.4s ease;
		}
	}
}

@mixin weather {
	#weather {
		#weather_desc {
			font-size: 1.5em;
		}

		#w_icon {
			display: flex;
			height: 100px;
			justify-content: center;
			align-items: center;

			#widget {
				opacity: 0;
				height: 60px;
				width: 60px;
				border: none;
				padding-right: 10px;
				transition: opacity 0.1s;
			}

			#w_widget_text {
				font-size: 2em;
			}

			@include hidden();
		}
	}
}

@mixin searchbar {
	#choose_searchengine {
		&.shown {
			display: block;
		}

		@include hidden();
	}

	@keyframes sbfade {
		from {
			opacity: 0;
		}
		to {
			opacity: 0.8;
		}
	}

	#sb_container {
		visibility: hidden;
		display: none;
		height: 2px;
		max-width: calc(100% - 2em);
		width: 500px;
		margin: 0 auto;
		padding: 0;
		transition: none;

		#searchbar {
			font-size: 1.5em;
			color: #595959;
			width: calc(100% - 1em);
			border: 0;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
			height: 50px;
			border-radius: 10px;
			padding: 0 0 0 1em;
			transition: background-color 0.2s;
			opacity: 0.8;
			@supports (backdrop-filter: none) {
				background: rgba(255, 255, 255, 0.6);
				backdrop-filter: blur(10px);
				opacity: unset;
			}

			&::placeholder {
				transition: opacity 0.2s;
				text-transform: none;
				opacity: 0.7;
				color: #595959;
			}

			&:focus {
				opacity: 1;
				@supports (backdrop-filter: none) {
					background: rgba(255, 255, 255, 0.8);
				}

				&::placeholder {
					opacity: 1;
				}
			}
		}

		.popup_searchbar,
		.popup_searchbar:focus {
			border: 2px solid #b8b8b8;
			margin-top: 2em;
		}

		&.shown {
			display: block;
			visibility: visible;
			height: 52px;

			#searchbar:focus {
				opacity: 1;
			}
		}

		&.hidden {
			visibility: hidden;
			opacity: 0;
			padding: 0;

			height: 2px;
		}

		&.removed {
			display: none;
		}
	}
}

@mixin linkBlocks {
	#linkblocks {
		visibility: visible;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 100%;
		margin: 0 auto;
		padding: 2em;
		min-height: 8em;

		.block_parent {
			position: relative;
			margin: 1em;
			width: 5em;

			.block {
				.l_icon_wrap {
					overflow: hidden;
					width: 4.4em;
					height: 4.4em;
					margin: auto;
					position: relative;
					border-radius: 10px;
					background: $purewhite;
					border: 0.2em solid $purewhite;
					cursor: pointer;
					transition: border-color 0.1s, filter 0.1s;

					.l_icon {
						width: 100%;
					}

					&:hover {
						border: 0.2em solid $blue;
						transition: border-color 0.1s;
					}

					&:active {
						filter: brightness(0.75);
						transition: border-color 0.1s, filter 0.1s;
					}
				}

				span {
					display: block;
					margin: 0.5em 0;
					width: 100%;
					word-wrap: break-word;
				}

				&.wiggly {
					animation-name: wiggle;
					animation-iteration-count: infinite;
					transform-origin: 50% 10%;
					animation-duration: 0.25s;
				}
			}

			button.remove {
				position: absolute;
				display: none;
				top: -1.2em;
				left: -1.2em;
				height: 30px;
				width: 30px;
				border: 0;
				border-radius: 100%;
				background: #ffffff;
				box-shadow: 0px 1px 10px 1.5px rgba(0, 0, 0, 0.3);
				z-index: 3;
				cursor: default;
				transition: all 0.1s;

				img {
					height: 0.9em;
					width: 0.9em;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&.visible {
					cursor: pointer;
				}

				&:hover {
					background: #bbb;
				}
			}

			&.removed {
				transform: scale(0);
				opacity: 0;
			}
		}
	}
}

@mixin settingsBase {
	input[type='text'],
	input[type='range'],
	select {
		width: 110px;
	}

	select {
		width: 120px;
		height: 2.35em;
		border-radius: 8.5px;
		padding-left: 10px;
		border: 1px solid $borderGrey;
		color: $blackish;
	}

	.slider,
	input:checked + .slider {
		transition: background-color 0.1s;
	}

	input:active,
	input:focus,
	a:hover,
	a:active,
	a:focus {
		border: 0;
	}

	input::placeholder {
		color: #7c7d7e;
		opacity: 1;
	}

	input::-moz-focus-outer {
		border: 0;
	}

	input[type='text'],
	input[type='url'] {
		padding-left: 10px;
		border-radius: 8.5px;
		border: 0;
		height: 2.35em;
		color: $blackish;
		background-color: $inputGrey;
		transition: background-color 0.2s;
	}

	input[type='text']:focus,
	input[type='url']:focus {
		background-color: $focusedGrey;
	}

	button {
		border: 0;
		background-color: #fff;
		color: $blue;
		cursor: pointer;
		font-size: 13.5px;
	}

	.centeredButton {
		display: block;
		margin: 1em auto 0 auto;
	}

	p#wrongURL,
	p#wrongCity {
		display: none;
		opacity: 0;
		color: red;
		margin-top: 0.5em;
		font-size: 0.8em;
	}

	/* Switch */
	.switch {
		position: relative;
		display: inline-block;
		width: 56px;
		height: 34px;
		margin-left: 1em;

		input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		input:checked + .slider {
			background-color: $green;
		}

		input:checked + .slider:before {
			transform: translateX(22px);
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $inputGrey;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			border-radius: 34px;

			&:before {
				position: absolute;
				content: '';
				height: 28px;
				width: 28px;
				left: 3px;
				bottom: 3px;
				background-color: $purewhite;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				border-radius: 50%;
				box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.2);
			}

			&:hover {
				background: #ccc;
				transition: background 0.2s;
			}
		}
	}

	/* Slider */
	.range {
		-webkit-appearance: none;
		position: relative;
		height: 2px;
		background: $focusedGrey;
		cursor: pointer;
		border-radius: 1.5rem;
		opacity: 1;
		transition: background-color 0.1s;

		&:hover {
			background: $borderGrey;
		}
	}

	$thumbShadow: 0px 1px 3px 1.5px #cccccc;

	/* Chrome, Opera & Safari */
	.range::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: #fff;
		height: 20px;
		width: 20px;
		border-radius: 50px;
		border: 0;
		box-shadow: $thumbShadow;
	}

	input[type='range']::-ms-thumb {
		margin: 0; /* Resets margin in Edge since it supports -webkit-slider-thumb as well */
	}

	/* Firefox */
	::-moz-range-track {
		height: 2px;
		border-radius: 50px;
		background: $inputGrey;
	}

	::-moz-range-progress {
		background-color: $blue;
		height: 2px;
		border-radius: 50px;
	}

	::-moz-range-thumb {
		background: #fff;
		height: 20px;
		width: 20px;
		border-radius: 50px;
		border: 0;

		box-shadow: $thumbShadow;
	}

	/*Edge*/
	::-ms-fill-lower {
		background: dodgerblue;
	}

	::-ms-thumb {
		background: #fff;
		border: 2px solid #999;
		height: 40px;
		width: 20px;
		box-sizing: border-box;
	}

	::-ms-ticks-after {
		display: none;
	}

	::-ms-ticks-before {
		display: none;
	}

	::-ms-track {
		background: #ddd;
		color: transparent;
		height: 40px;
		border: none;
	}

	::-ms-tooltip {
		display: none;
	}
}
