@mixin darkCss {
	#interface {
		color: #eee;
	}

	#edit_linkContainer {
		#edit_link {
			background-color: #1c1c1e;
			color: $purewhite;

			input[type='text'],
			input[type='url'],
			#cssEditor {
				background-color: #39383d;
				color: $purewhite;

				&:focus {
					background-color: #2c2c2f;
					color: $purewhite;
				}
			}

			.empty_input {
				filter: brightness(0.7);

				&:active {
					filter: brightness(0.6);
				}
			}
		}
	}

	#settings {
		background-color: $pureblack;
	
		.titleContainer .tooltip {
			background-color: $greyish;
		}

		.custom_zone {
			border-color: #3f3f41;
		}

		// Background custom

		#fileContainer.dragover,
		#fileContainer:hover {
			border: 1px dashed #ccc;
			background: #2a2a2b;
		}

		#fileContainer:active,
		#fileContainer:active {
			border: 1px dashed #aaa;
			background: #2f2f30;
		}

		#hideelem > div {
			border: 1px solid white;

			&.allhidden {
				border: 1px solid #999;
			}
		}

		#hideelem button,
		#bg_tn_wrap .thumbnail button {
			color: white;
		}
		#bg_tn_wrap::-webkit-scrollbar-track {
			background: #39383d;
		}
		#bg_tn_wrap::-webkit-scrollbar-thumb {
			background: #666;
		}

		.title {
			background-color: #1c1c1e;
			color: $purewhite;
			border-top: 0;
			border-bottom: 0;
		}

		.paramTitle {
			color: #929294;
			font-family: sf_pro_displaylight;
		}

		.param {
			background-color: #1c1c1e;
			color: $purewhite;
		}

		hr {
			border-bottom: 1px solid #3f3f41;
		}

		input[type='text'],
		input[type='url'],
		#cssEditor {
			background-color: #39383d;
			color: $purewhite;

			&:focus {
				background-color: #2c2c2f;
				color: white;

				::placeholder {
					color: #ddd;
					transition: color 0.2s;
				}
			}
		}

		::-moz-range-thumb {
			box-shadow: none;
		}

		::placeholder {
			color: #929294;
		}

		button {
			background-color: #1c1c1e;
		}

		.slider {
			background-color: #39383d;

			&:hover {
				background-color: #2c2c2f;
			}
		}

		.range::-webkit-slider-thumb {
			box-shadow: none;
		}

		input:checked + .slider {
			background-color: $green;

			&:hover {
				background: #40b354;
				transition: background 0.2s;
			}
		}

		.signature {
			color: #929294;
		}
	}

	#showSettings button {
		background-color: transparent;

		&:hover {
			background-color: #3c3c3e;
		}

		&.shown {
			background-color: #1c1c1e;

			&:hover {
				background-color: #3c3c3e;
			}
		}
	}
}

// dark mode
body.dark,
body.autodark {
	@include darkCss();
}

@media screen and (max-height: 650px) {
	#interface {
		font-size: 0.7em;

		#time .shadow {
			width: 39em;
		}

		#main {
			.shadow {
				width: 39em;
			}

			#weather #w_icon {
				height: 70px;

				#widget {
					width: 35px;
					height: 35px;
				}
			}
		}

		#sb_container {
			#searchbar {
				max-width: 300px;
				height: 35px;
			}

			&.shown {
				padding: 0;
				height: 35px;
			}
		}

		#linkblocks .block_parent button.remove {
			height: 25px;
			width: 25px;

			img {
				width: 0.7em;
				height: 0.7em;
			}
		}
	}

	#settings {
		font-size: 0.9em;

		.param #default .imgpreview {
			width: 54px;

			&:hover {
				width: 50px;
			}

			&.selected {
				width: 50px;
			}
		}
	}
}

@media screen and (min-height: 650px) and (max-height: 1050px) {
	#interface {
		font-size: 0.8em;

		#sb_container {
			#searchbar {
				max-width: 400px;
				height: 40px;
			}

			&.shown {
				padding: 0;
			}
		}
	}
}

// mobile
@media screen and (max-width: 500px) {
	#settings {
		right: -100%;
		width: 100%;
	}
}

// large laptop resolution and up
@media screen and (min-width: 1279px) {
	#settings {
		right: -450px;
		width: 450px;

		.titleContainer .tooltip .tooltiptext {
			width: 319px;
		}
	}
}