@media screen and (max-width: 1440px) and (max-height: 800px) {
	body {
		font-size: 12.5px;
	}
}

@media screen and (max-height: 650px) {
	#interface {
		#main {
			#weather #widget {
				height: 70px;

				img {
					width: 35px;
					height: 35px;
				}
			}
		}

		#sb_container {
			#searchbar {
				height: 35px;
			}

			&.shown {
				padding: 0;
				height: 35px;
			}
		}

		#linkblocks .block_parent button.remove {
			height: 25px;
			width: 25px;

			img {
				width: 0.7em;
				height: 0.7em;
			}
		}
	}

	#settings {
		font-size: 0.9em;

		.param #default .imgpreview {
			width: 54px;

			&:hover {
				width: 50px;
			}

			&.selected {
				width: 50px;
			}
		}
	}
}

@media screen and (min-height: 650px) and (max-height: 1050px) {
	#interface #sb_container {
		width: 400px;
		&.shown {
			padding: 0;
		}
	}
}

// mobile
@media screen and (max-width: 450px) {
	body {
		font-size: 10px;
	}

	#interface {
		min-height: 90vh;
		padding-bottom: 20vh;
	}

	#settings {
		right: -100%;
		width: 100%;

		// Tooltip (?) centered when span wrap
		&.all .as_collection {
			max-height: 140px;
			.wrapper span {
				align-items: center;
			}
		}

		input[type='text'] {
			width: 110px;
		}

		.freq_wrap > div,
		input[type='range'],
		select {
			width: 120px;
		}
	}

	#credit {
		width: calc(100% - 7.5em);
		line-height: 14px;
		a,
		p,
		span {
			font-size: 11px;
		}
	}

	#popup {
		flex-wrap: wrap;
		padding: 10%;
		bottom: 0;
		left: 0;

		#popup_text,
		#popup_buttons {
			width: 100%;
			margin: 5px;
		}

		#popup_buttons {
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;

			a {
				width: 45%;
			}
		}
	}

	#bookmarks_container #bookmarks {
		width: 90%;
		min-width: 0;

		form div {
			width: auto;
		}
	}
}
