@media screen and (max-height: 650px) {
	#interface {
		font-size: 0.7em;

		#main {
			#weather #widget {
				height: 70px;

				img {
					width: 35px;
					height: 35px;
				}
			}
		}

		#sb_container {
			#searchbar {
				max-width: 300px;
				height: 35px;
			}

			&.shown {
				padding: 0;
				height: 35px;
			}
		}

		#linkblocks .block_parent button.remove {
			height: 25px;
			width: 25px;

			img {
				width: 0.7em;
				height: 0.7em;
			}
		}
	}

	#settings {
		font-size: 0.9em;

		.param #default .imgpreview {
			width: 54px;

			&:hover {
				width: 50px;
			}

			&.selected {
				width: 50px;
			}
		}
	}
}

@media screen and (min-height: 650px) and (max-height: 1050px) {
	#interface #sb_container {
		width: 400px;
		&.shown {
			padding: 0;
		}
	}
}

// mobile
@media screen and (max-width: 500px) {
	#interface {
		min-height: 90vh;
		padding-bottom: 20vh;
	}

	#settings {
		right: -100%;
		width: 100%;

		// Tooltip (?) centered when span wrap
		&.all .as_collection {
			max-height: 140px;
			.wrapper span {
				align-items: center;
			}
		}
	}

	#credit {
		width: calc(100% - 7.5em);
		line-height: 12px;
		a {
			font-size: 11px;
		}
	}

	#popup {
		flex-wrap: wrap;
		padding: 1em;
		bottom: 0;
		left: 5vw;
		max-width: 90vw;
		border-radius: 10px 10px 0 0;
		justify-content: center;
		transform: translateX(0) translateY(110%);

		&.shown {
			transform: translateY(0%);
		}

		&.removing {
			transform: translateX(0) translateY(110%);
		}

		#closePopup {
			display: none;
		}

		span,
		a {
			max-width: unset;
		}

		.choices {
			flex-direction: row;
			margin-top: 15px;

			a {
				margin: 3px 8px;
			}
		}
	}
}

// large laptop resolution and up
@media screen and (min-width: 1279px) {
	#settings {
		input[type='text'],
		input[type='range'] {
			width: 140px;
		}

		select {
			width: 150px;
		}

		.titleContainer .tooltip:hover .tooltiptext {
			width: 320px;
		}

		.signature {
			padding: 4em;
		}
	}
}
