@media screen and (max-height: 650px) {
	#interface {
		font-size: 0.7em;

		#time .shadow {
			width: 39em;
		}

		#main {
			.shadow {
				width: 39em;
			}

			#weather #w_icon {
				height: 70px;

				#widget {
					width: 35px;
					height: 35px;
				}
			}
		}

		#sb_container {
			#searchbar {
				max-width: 300px;
				height: 35px;
			}

			&.shown {
				padding: 0;
				height: 35px;
			}
		}

		#linkblocks .block_parent button.remove {
			height: 25px;
			width: 25px;

			img {
				width: 0.7em;
				height: 0.7em;
			}
		}
	}

	#settings {
		font-size: 0.9em;

		.param #default .imgpreview {
			width: 54px;

			&:hover {
				width: 50px;
			}

			&.selected {
				width: 50px;
			}
		}
	}
}

@media screen and (min-height: 650px) and (max-height: 1050px) {
	#interface {
		font-size: 0.8em;

		#sb_container {
			#searchbar {
				max-width: 300px;
				height: 40px;
			}

			&.shown {
				padding: 0;
			}
		}
	}
}

// mobile
@media screen and (max-width: 500px) {
	#settings {
		right: -100%;
		width: 100%;
	}
}

// large laptop resolution and up
@media screen and (min-width: 1279px) {
	#settings {
		right: -450px;
		width: 450px;

		input[type='text'],
		input[type='range'] {
			width: 140px;
		}

		select {
			width: 150px;
		}

		.titleContainer .tooltip:hover .tooltiptext {
			width: 320px;
		}

		.signature {
			padding: 4em;
		}
	}
}
