@import 'global';
@include hideElements;

#interface {
	position: relative;
	min-height: var(--app-height);
	min-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	will-change: transform;
	overflow: hidden;
	transition-property: opacity, transform;
	text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
	font-weight: 300;

	&.pushed {
		#time,
		#main,
		#sb_container,
		#linkblocks,
		#quotes_container {
			transform: translateX(-100px);
		}
	}

	&.init {
		opacity: 0;
	}

	#background_overlay {
		z-index: -1;
		position: fixed;
		width: 100%;
		height: 100%;
		min-height: 100vh;
		transform: scale(1.1) translateX(0px);

		opacity: 0;
		transition: transform 0.4s, opacity 0.4s;

		#background {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: #000;
			background-size: cover;
			background-position: center center;

			// only for Safari
			@media not all and (min-resolution: 0.001dpcm) {
				@supports (-webkit-appearance: none) and (stroke-color: transparent) {
					transform: translateZ(0);
				}
			}
		}
	}

	// clock & date
	#time {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		#time-container {
			#clock {
				font-size: 6em;
				font-weight: 200;

				&.hidden {
					display: none;
				}
			}

			#analogClock {
				position: relative;
				width: 8em;
				height: 8em;
				margin: auto;
				margin-bottom: 2em;
				border-radius: 100%;
				border: 0.2em solid white;
				box-shadow: $textShadow;

				@include frostedGlass($alpha: 0.2, $fbAlpha: 0.2, $fbColor: #fff);

				&:hover {
					background: rgba(255, 255, 255, 0.2);
				}

				&.hidden {
					display: none;
				}

				#center {
					position: absolute;
					z-index: 5;
					width: 0.4em;
					height: 0.4em;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: white;
					border-radius: 100px;
				}

				.numbers {
					position: absolute;
					display: block;
					opacity: 0.6;
					width: 100%;

					&.top {
						top: 10px;
						text-align: center;
					}

					&.right {
						top: 40%;
						right: 10px;
						text-align: right;
					}

					&.bottom {
						bottom: 10px;
						text-align: center;
					}

					&.left {
						top: 40%;
						left: 10px;
						text-align: left;
					}
				}

				// aiguilles
				span {
					background: white;
					border-radius: 20px;
					bottom: 50%;
					display: block;
					width: 0.2em;
					left: 50%;
					margin-left: -0.1em;
					position: absolute;
					transform-origin: bottom center;
					box-shadow: $textShadow;

					&#hours {
						height: 30%;
					}

					&#minutes {
						height: 45%;
					}

					&#analogSeconds {
						height: 45%;
						width: 0.1em;
						margin-left: -0.05em;
						opacity: 0.8;
						background-color: red;

						&.hidden {
							display: none;
						}
					}
				}
			}
		}

		#date {
			font-size: 1.5em;
			position: relative;
		}
	}

	// greetings & weather
	#main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;

		#greetings {
			font-size: 3em;
			font-weight: inherit;
			min-width: 300px;
			max-width: 16em;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		#weather {
			position: relative;

			#description {
				font-size: 1.5em;

				#forecast {
					display: none;

					&.shown {
						display: block;
					}
				}
			}

			#widget {
				display: flex;
				height: 5.6em;
				justify-content: center;
				align-items: center;

				img {
					height: 3.6em;
					width: 3.6em;
					border: none;
					padding-right: 10px;
				}

				p {
					font-size: 2.2em;
				}
			}
		}
	}

	#widget,
	#forecast,
	#current {
		transition: opacity 1.2s 0.1s;

		&.wait {
			opacity: 0;
		}
	}

	// search bar
	#sb_container {
		position: relative;
		display: flex;
		visibility: visible;
		align-items: center;
		flex-grow: 0;
		padding: 0;
		margin: 0 auto;
		width: 35em;
		border-radius: 10px;
		max-width: calc(90% - 4em);
		transition: opacity 0.4s, transform 0.4s, margin 0.4s;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

		#searchbar {
			height: 2.5em;
			width: 100%;
			padding: 0 1em;
			padding-right: 6em;
			font-size: 1.3em;
			color: #fff;
			border: 0;
			border-radius: 10px;
			font-family: $fonts;
			background-color: transparent;
			transition: background-color 0.2s;
			border: 1px solid rgba(255, 255, 255, 0.075);

			&:focus {
				@include frostedGlass($blur: 0, $alpha: 0.2, $fbTint: 255, $fbAlpha: 0.8, $fbColor: #222);
			}

			&::placeholder {
				transition: opacity 0.2s;
				text-transform: none;
				color: #fff5;
			}
		}

		#sb_submit,
		#sb_empty {
			position: absolute;
			opacity: 0;
			border: none;
			color: #fff;
			font-size: inherit;
			background-color: transparent;
			transition: opacity 0.2s;
			pointer-events: none;

			&.shown {
				opacity: 1;
				cursor: pointer;
				pointer-events: all;
			}
		}

		#sb_empty {
			right: 5.5em;
			position: absolute;
			padding-right: 1.5em;
			border-right: 1px solid #fff4;
			cursor: text;
		}

		#sb_submit {
			margin: 0;
			right: 0.8em;
			padding: 0.3em 1em;
			border-radius: 0.5em;
			background-color: #fff4;
			transition: opacity 0.2s, filter 0.1s, transform 0.1s;

			img {
				margin-top: 3px;
				height: 1.2em;
			}

			&:hover {
				filter: brightness(0.9);
			}

			&:active {
				filter: brightness(0.8);
				transform: scale(0.94);
			}
		}

		&.opaque {
			#sb_empty {
				color: #222;
				border-color: #b9b9b9;
			}

			#sb_submit {
				background-color: #bbb4;
				img {
					filter: invert(1);
					opacity: 0.7;
				}
			}
		}

		&.shown {
			margin: 3em auto;
			@include frostedGlass($alpha: 0.1, $fbAlpha: 0.5);

			#searchbar:focus {
				opacity: 1;
			}
		}

		&.hidden {
			flex-grow: 0;
			visibility: hidden;
		}
	}

	#quotes_container {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		opacity: 0;
		row-gap: 1em;
		width: 33vw;
		max-width: 600px;
		min-width: 150px;
		min-height: 0;
		margin: auto;
		user-select: text;
		-moz-user-select: text;
		-webkit-user-select: text;
		will-change: transform, flex-grow;
		transition: opacity 0.2s, flex-grow 0.4s 0.2s, min-height 0.4s 0.2s, transform 0.4s;
		cursor: initial;

		#quote {
			max-height: 0;
			font-size: 1.5em;
			transition: max-height 0.2s 0.2s;
		}

		#author {
			text-align: center;
			font-size: 1.2em;
			opacity: 0;
			transition: opacity 0.4s;

			&.alwaysVisible {
				opacity: 1;
			}
		}

		&.shown {
			min-height: 150px;
			flex-grow: 0.2;
			opacity: 1;
			transition: opacity 0.2s 0.2s, min-height 0.4s, flex-grow 0.4s, transform 0.4s;

			#quote {
				max-height: 180px;
				transition: max-height 0.2s 0s;
			}

			&:hover #author {
				opacity: 1;
			}
		}
	}

	#linkblocks {
		visibility: visible;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		max-width: 100%;
		margin: 0 auto;
		padding-top: 2em;

		@include hidden();

		&.withQuotes {
			flex-grow: 0.6;
			transition: transform 0.4s, flex-grow 0.4s 0.2s;
		}

		&.he_hidden {
			#linkblocks_inner {
				visibility: hidden;
				transition: visibility 0s 0.4s;
			}
		}

		#linkblocks_inner {
			transition: width 0.18s $easeOutThree;

			> div {
				display: flex;
				column-gap: 2.3em;
				margin-bottom: 0.6em; // column-gap - (min-height + margin-top of title)
				justify-content: center;
			}

			#hiddenlink {
				display: none;
				position: absolute;
			}

			.block_parent {
				position: relative;
				justify-self: center;
				transition: transform 0.2s;
				cursor: pointer;

				@include allCentered;

				.block {
					width: 4.8em;
					transition: width 0.18s $easeOutThree;

					.l_icon_wrap {
						position: relative;
						overflow: hidden;
						width: 100%;
						height: 100%;
						padding: 0.4em;
						border-radius: 1em;
						background: $purewhite;
						box-shadow: $textShadow;
						box-sizing: border-box;
						transition: transform 0.1s linear, box-shadow 0.1s, width 0.3s, border-radius 0.18s $easeOutThree;
						aspect-ratio: 1;
						z-index: 1;

						.l_icon {
							width: 100%;
							pointer-events: none;
							border-radius: 0.5em;
						}

						&.selected {
							border-color: $blue;
							transform: scale(1.1);
							filter: brightness(0.85);
						}

						&:hover {
							border-color: $blue;
							box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
							transform: scale(1.1);
						}

						&:active {
							filter: brightness(0.85);
							transform: scale(1.04);
							transition: border-color 0.1s, filter 0.1s, transform 0.1s;
						}
					}

					span {
						display: block;
						overflow: hidden;
						margin-top: 0.4em;
						line-height: 1.3em;
						min-height: 1.3em;
						width: 140%;
						margin-left: -20%;
						position: relative;
						z-index: 2;
					}
				}

				&.removed {
					margin-right: -1.15em;
					margin-left: -1.15em;
					overflow: hidden;
					transition: margin 0.6s;

					.block {
						transition: width 0.6s $easeOutThree;
						width: 0px !important;

						.l_icon_wrap {
							transition: transform 0.6s $easeOutThree;
							transform: scale(0);
						}

						span {
							opacity: 0;
						}
					}
				}
			}

			&.medium {
				.block_parent {
					.block {
						width: 3.5em;

						.l_icon_wrap {
							padding: 0.3em;
							border-radius: 0.8em;

							img {
								border-radius: 0.4em;
							}
						}
					}
				}
			}

			&.small {
				gap: 2em;

				.block_parent {
					.block {
						width: 2.5em;

						.l_icon_wrap {
							padding: 0.2em;
							border-radius: 0.4em;

							img {
								border-radius: 0.2em;
							}
						}

						&:hover span {
							opacity: 1;
							visibility: visible;
						}
					}

					span {
						display: block;
						position: absolute;
						visibility: hidden;
						padding: 0.2em 0.6em;
						margin: auto;
						width: unset;
						opacity: 0;
						bottom: -1.9em;
						left: 50%;
						transform: translateX(-50%);
						color: white;
						overflow: visible;
						white-space: nowrap;
						font-size: 0.9em;
						font-weight: 400;
						text-shadow: none;
						border-radius: 0.3em;
						border: 1px solid rgba(255, 255, 255, 0.075);
						transition: opacity 0.2s;
						min-height: 1em;
						line-height: 1em;
						@include frostedGlass($alpha: 0.2);

						&:empty {
							display: none;
						}
					}

					&.removed {
						margin-right: -1em;
						margin-left: -1em;
					}
				}
			}

			&.text {
				gap: 2em;
				justify-content: flex-start;

				.block_parent .block {
					width: auto;

					.l_icon_wrap {
						display: none;
					}

					span {
						width: 100%;
						max-width: 20em;
						margin-left: 0; // because of 140% / -20%, can be removed in the future
						font-size: 1.5em;
						text-align: left;
						text-overflow: ellipsis;
						white-space: pre;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	// Defunct shadows
	#weather::before,
	#date::before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	#date::before {
		top: -50px;
		box-shadow: 0px 0px 100px 40px #2224;
	}

	#weather::before {
		box-shadow: 0px 0px 150px 40px #2224;
	}
}

@keyframes animShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#bookmarks_container {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	font-size: 16px;
	opacity: 0;
	z-index: 1;
	transition: transform 0.4s;
	@include frostedGlass($alpha: 0, $blur: 40px, $fbTint: 255, $fbAlpha: 1);

	&.pushed {
		-webkit-transform: translateX(-160px);
		transform: translateX(-160px);
	}

	&.shown {
		display: inline-flex;
		animation: animShow 0.4s forwards;
	}

	&.hiding {
		@include animHide();
		animation: animHide 0.4s forwards;
	}

	button {
		height: 40px;
		border: 0px;
		border-radius: 9px;
		font-size: 0.9em;
		padding: 0.6em;
		cursor: pointer;
		color: $blue;
		background-color: transparent;
		transition: opacity 0.1s ease-in;

		&#e_delete {
			color: red;
		}

		&:active,
		&:hover {
			text-decoration: underline;
		}

		&:active {
			opacity: 0.8;
		}
	}

	#e_close {
		display: none;
		text-align: left;
		padding: 0;
		margin-bottom: 1.5em;
		transition: opacity 0.1s ease-in;
	}
}

#editlink {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 220px;
	padding: 1em;
	border-radius: 8px;
	box-shadow: 0px 0px 15px #0004;
	border: 1px solid rgba(255, 255, 255, 0.3);
	transition: left 0.4s;
	transform: translate(-254px, -172px);
	z-index: 4;

	@include frostedGlass($blur: 25px, $alpha: 0.7, $fbTint: 255, $fbAlpha: 1);

	&.pushed {
		left: -100px;
	}

	&.shown {
		display: block;
	}

	&.hiding {
		opacity: 0;
		transition: opacity 0.2s, left 0.4s;
	}

	input[type='text'],
	input[type='url'] {
		width: 100%;
		height: 2.4em;
		padding: 0 1em;
		border: 3px solid transparent;
		border-radius: 8px;
		box-sizing: border-box;
		background-color: transparent;
		transition: background-color 0.1s;
		color: #3339;
		outline: #007aff66;

		&:focus {
			color: #222;
			border: 3px solid #007aff66;
			background-color: #fff3;
			transition: background-color 0.1s;
		}

		&::placeholder {
			color: #3339;
		}
	}

	hr {
		border-color: #3334;
	}

	.linkOptions {
		display: flex;
		flex-direction: column;

		button {
			border-radius: 6px;
			border: 3px solid transparent;
			background-color: transparent;
			text-align: left;
			padding: 2px 12px;
			color: #2a2222;
			outline: none;
			cursor: pointer;

			&:focus-visible,
			&:hover {
				color: white;
				background-color: #2c7be5;

				&:first-child {
					background-color: #e64b43;
				}
			}
		}
	}
}

#bookmarks_container {
	z-index: 4;

	#bookmarks {
		flex-direction: column;
		background-color: $settingsGrey;
		padding: 1.5em;
		border-radius: 10px;
		overflow: hidden;
		align-self: center;
		margin: auto;
		min-width: 320px;

		#e_close {
			margin-left: 20px;
		}

		form {
			max-height: 70vh;
			overflow-y: auto;
			overflow-x: hidden;

			div {
				position: relative;
				background-color: white;
				color: $blackish;
				padding: 20px;
				width: 50vw;
				max-width: 800px;
				padding-left: 3.5em;
				text-align: left;
				word-break: break-all;
				transition: filter 0.1s;
				cursor: pointer;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					width: 25px;
					height: 25px;
					border-radius: 25px;
					border: 2px solid #c5c4c6;
					background-size: 12px;
					background-repeat: no-repeat;
					background-position: center;
					transform: translateY(-50%);
					margin-left: -40px;
					box-sizing: border-box;
				}

				h5,
				pre {
					margin: 0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				pre {
					font-size: 0.8em;
					margin-top: 0.4em;
				}

				&:first-child {
					padding-top: 20px;
					border-radius: 10px 10px 0 0;
				}

				&:last-child {
					padding-bottom: 20px;
					border-radius: 0 0 10px 10px;
				}

				&.selected {
					filter: brightness(0.9);
					&:before {
						border-color: $blue;
						background-color: $blue;
						background-image: url('/src/assets/interface/checkmark.svg');
					}
				}
			}
		}

		.bookmarkOptions {
			display: flex;
			justify-content: space-between;
			background-color: $settingsGrey;
			margin: 1em 20px 0 20px;

			#applybookmarks {
				text-align: right;
				transition: filter 0.4s;

				&.none {
					cursor: default;
					filter: grayscale(1);
					text-decoration: none;
				}
			}
		}
	}
}

#credit {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	max-width: 50%;
	padding: 1em 1em 0 0;
	text-align: left;
	opacity: 0;
	transition: opacity 0.4s;

	&.shown {
		opacity: 1;

		.exif {
			opacity: 0;
			transition: opacity 0.4s;
		}

		&:hover {
			.exif {
				opacity: 1;
			}
		}
	}

	a,
	p,
	span {
		font-size: 13px;
		color: #fff9;
		text-decoration: none;
		transition: color 0.1s;
	}

	a:hover {
		color: #fffe;
	}
}

#popup {
	display: flex;
	position: fixed;
	bottom: 4rem;
	left: 4rem;
	z-index: 1;
	transition: opacity 0.4s;

	#popup_buttons a,
	#popup_text {
		opacity: 0;
		transition: opacity 0.2s, background-color 0.2s, color 0.2s;
	}

	&.shown {
		#popup_buttons a,
		#popup_text {
			opacity: 1;
			cursor: pointer;
			transition: opacity 2s, background-color 0.2s, color 0.2s, transform 0.2s;
		}
	}
}

#popup_buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 9em;

	a {
		color: white;
		text-decoration: none;
		border-radius: 8px;
		line-height: 2.4em;
		border: 1px solid rgba(255, 255, 255, 0.075);
		transform: scale(1);

		@include frostedGlass($alpha: 0.2, $blur: 10px, $fbTint: 255, $fbAlpha: 0.95, $fbColor: rgb(94, 94, 94));

		&:hover {
			@include frostedGlass($alpha: 0.1, $blur: 10px, $fbTint: 255, $fbAlpha: 0.8, $fbColor: rgb(94, 94, 94));
			transform: scale(1.03);
		}

		&:active {
			@include frostedGlass($alpha: 0.6, $blur: 10px, $fbAlpha: 0.6, $fbColor: white);
		}

		&:first-child {
			margin-bottom: 0.4em;
		}
	}
}

#popup_text {
	display: flex;
	position: relative;
	align-items: center;
	width: 16em;
	text-align: left;
	padding: 0.6em 2em;
	margin-right: 0.6em;
	border-radius: 8px;
	// border: 1px solid rgba(245, 245, 245, 0.2);
	@include frostedGlass($alpha: 0.2, $blur: 10px, $fbTint: 255, $fbAlpha: 0.95, $fbColor: rgb(94, 94, 94));
	border: 1px solid rgba(255, 255, 255, 0.075);

	&::before {
		content: '×';
		position: absolute;
		left: calc(50% - 0.5em);
		top: 50%;
		width: 1em;
		height: 1em;
		font-size: 2.2em;
		line-height: 0.8em;
		opacity: 0;
		color: #fff;
		text-align: center;
		transform: translateY(-50%);
		transition: opacity 0.4s, filter 0.2s;
	}

	&:hover {
		color: transparent;
		@include frostedGlass($alpha: 0.1, $blur: 10px, $fbTint: 255, $fbAlpha: 0.8, $fbColor: transparent);

		&::before {
			opacity: 1;

			@-moz-document url-prefix() {
				color: rgb(94, 94, 94);
			}
		}
	}

	&:active {
		@include frostedGlass($alpha: 0, $blur: 10px, $fbAlpha: 0.1, $fbColor: transparent);

		&::before {
			opacity: 1;
			filter: brightness(0.8);
		}
	}
}

#error {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 5%;
	left: 5%;
	width: calc(90% - 100px);
	max-width: 500px;
	padding: 50px;
	opacity: 0;
	color: #fff;
	border-radius: 20px;
	transition: opacity 0.4s;
	z-index: 1;

	@include frostedGlass($tint: 12, $fbTint: 12, $blur: 40px, $alpha: 0.2, $fbAlpha: 0.8, $fbColor: #222);

	pre {
		user-select: all;
		cursor: text;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 8px 16px;
		border-radius: 5px;
		background-color: #1114;
	}

	a {
		color: #fff;
	}

	button {
		cursor: pointer;
		padding: 5px 10px;
		border-radius: 5px;
		border: none;
		background-color: $red;
		color: #fff;
	}

	.error-explain {
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.error-buttons {
		display: flex;
		justify-content: space-around;
		width: 300px;
	}

	.error-buttons-close {
		background-color: $blue;
	}
}

@import 'settings';
@import 'dark';
@import 'responsive';
