@import 'global';

#background_overlay {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100vh;
	transform: scale(1.1);

	#background {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #000;
		background-size: cover;
		background-position: center center;
	}
}

// TO SORT START

#clock.hidden,
#analogClock.hidden,
#interface #time #analogClock #analogSeconds.hidden,
#interface #time.hidden,
#interface #main.hidden {
	display: none;
}

#time-container.hidden,
#date.hidden,
#greetings.hidden,
#weather_desc.hidden,
#w_icon.hidden {
	opacity: 0;
	transition: opacity 0.1s;
}

#interface #linkblocks,
#sb_container,
#showSettings {
	transition: opacity 0.1s;
}

// TO SORT END

#interface {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	will-change: transform;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.1s 0.05s, transform 0.2s;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

	&.pushed {
		-webkit-transform: translateX(-10em);
		transform: translateX(-10em);
	}

	#time {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
		transition: opacity 0.1s;

		.shadow {
			z-index: -1;
			position: absolute;
			overflow: hidden;
			max-width: 100%;
			width: 43em;
			opacity: 0.4;
			margin: auto;
			margin-top: 30px;
		}

		#time-container {
			#clock {
				font-family: sf_pro_displaythin;
				font-size: 6em;
			}

			#analogClock {
				border: 0.2em solid white;
				border-radius: 100%;
				height: 8em;
				position: relative;
				margin: auto auto 2em auto;
				width: 8em;
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

				span {
					background: white;
					border-radius: 20px;
					bottom: 50%;
					display: block;
					width: 0.2em;
					left: 50%;
					margin-left: -0.1em;
					position: absolute;
					transform-origin: bottom center;
					box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
				}

				#hours {
					height: 30%;
				}

				#minutes {
					height: 45%;
				}

				#analogSeconds {
					height: 45%;
					width: 0.1em;
					margin-left: -0.05em;
					opacity: 0.8;
					background-color: red;
				}

				#center {
					position: absolute;
					z-index: 5;
					width: 0.4em;
					height: 0.4em;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: white;
					border-radius: 100px;
				}
			}
		}

		#date {
			font-size: 1.5em;
		}
	}

	#main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;
		transition: opacity 0.1s;

		#weather #w_icon #widget.shown {
			opacity: 1;
		}

		.shadow {
			z-index: -1;
			position: absolute;
			width: 55em;
			max-width: 100%;
			opacity: 0.4;
			overflow: hidden;
		}

		#greetings {
			font-size: 3em;
			font-weight: inherit;
		}

		#weather #temp_max_wrap.shown {
			display: block;
		}

		@include weather();
	}

	@include searchbar();
	@include linkBlocks();

	div#linkblocks {
		padding: 0;

		.block_parent .block {
			span {
				text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
			}

			.l_icon_wrap.selected {
				border: 0.2em solid $blue;
				filter: brightness(0.75);
			}
		}

		@include hidden();
	}
}

#edit_linkContainer {
	position: fixed;
	display: none;
	top: 0;
	height: 100vh;
	width: 100%;
	transition: transform 0.2s;
	z-index: 1;

	&.pushed {
		-webkit-transform: translateX(-10em);
		transform: translateX(-10em);
	}

	&.shown {
		@include animShow('flex');
		animation: animShow 0.2s forwards;
	}

	&.hiding {
		@include animHide();
		animation: animHide 0.3s forwards;
	}

	#edit_link {
		align-self: center;
		margin: auto;
		width: 300px;
		padding: 1.5em;
		z-index: 3;
		background: $settingsGrey;
		color: #333;
		border-radius: 15px;
		background: $purewhite;
		font-family: sf_pro_textregular;
		border-radius: 10px;

		> div {
			position: relative;
		}

		h4 {
			text-align: left;
			margin: 1.5em 0px 0.5em 0px;
			padding: 0px;
		}

		.empty_input {
			position: absolute;
			top: 50%;
			right: 0.4em;
			width: 1em;
			height: 1em;
			padding: 0;
			opacity: 0;
			border: none;
			cursor: text;
			filter: brightness(1.1);
			transform: translate(-50%, -50%);
			transition: opacity 0.2s, filter 0.1s;

			&.shown {
				opacity: 1;
				cursor: pointer;
			}

			&:active {
				filter: brightness(1);
			}
		}

		input[type='text'],
		input[type='url'] {
			border: 0px;
			height: 1em;
			width: 100%;
			font-size: 1em;
			padding: 1em;
			box-sizing: border-box;
			border-radius: 9px;
			font-size: 0.9em;
			background: $inputGrey;
			border-radius: 8px;
			height: 2.35em;
			margin: 0.3em 0;
			padding-right: 2.5em;
			transition: background 0.1s;

			&:focus {
				background: #d3d3d5;
				transition: background 0.1s;
			}
		}

		.linkOptions {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 1.5em;

			button {
				width: 45%;
				height: 40px;
				color: $blue;
				background-color: transparent;
				border: 0px;
				border-radius: 9px;
				font-size: 0.9em;
				padding: 0.6em;
				cursor: pointer;
				transition: opacity 0.1s ease-in;

				&#e_delete {
					color: red;
				}

				&:hover {
					text-decoration: underline;
				}

				&:active {
					text-decoration: underline;
					opacity: 0.8;
				}
			}
		}

		#e_close {
			display: block;
			background-color: transparent;
			border: 0px;
			cursor: pointer;
			text-align: left;
			padding: 0;
			transition: opacity 0.1s ease-in;
			font-family: sf_pro_textregular;
			font-size: 0.9em;
			color: $blue;
			margin-bottom: 2em;

			svg {
				width: 2em;
			}

			&:hover {
				text-decoration: underline;
			}

			&:active {
				text-decoration: underline;
				opacity: 0.8;
			}
		}
	}

	#onUnsplash {
		&.shown {
			display: inline;
		}

		@include hidden();
	}

	&.shown {
		display: flex;
	}
}

#credit {
	position: fixed;
	bottom: 1em;
	left: 1em;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;

	a {
		color: #fff9;
		text-decoration: none;
		font-size: 0.9em;

		&:hover {
			color: #fffe;
			transition: all 0.1s;
		}
	}

	&.hidden {
		opacity: 0;
	}
}

@include popup();

@import 'settings';
@import 'media';
